<div class="auth mgmt-modal bonuses">

        <aside class="mgmt-menu bg-white">
            <nav>
                <ul class="nav-menu">
                    <li>
                        <button class="btn-mgmt-menu bg-gz">
                            <span class="btn-symbol plus-symbol"></span>Deposit
                        </button>
                    </li>
                    <li>
                        <button class="btn-mgmt-menu">
                            <span class="btn-symbol minus-symbol"></span>Withdraw
                        </button>
                    </li>
                    <li><a href="">Pending Withdrawals</a></li>
                    <li><a href="">Transaction History</a></li>
                    <li><a class="link-mgmt-active" href="">Bonuses</a></li>
                    <li><a href="">My Profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </nav>
        </aside>

        <section class="mgmt-content bg-gz">
            <div class="text-holder">
                <p>
                    You have no active bonus at the moment. If you have received a bonus code for a free money bonus, please enter it below.
                </p>
            </div>
            <div class="bonus-code">
                <p>If you are eligible and have a bonus code,<br />
                   please enter it below and click "Submit".
                </p>
                <input class="form-control bonus-code-form ng-pristine ng-touched bg-gz" placeholder="BONUS CODE"/>
                <button type="submit" class="btn-gz">submit</button>
            </div>
        </section>

</div>