<div class="auth mgmt-modal deposit">
    <div class="row">
        <aside class="mgmt-menu bg-white col-xs-1 col-sm-3">
            <div class="row">
                <nav class="col-xs-12 col-sm-offset-1">
                    <ul class="nav-menu">
                        <li>
                            <button class="btn-mgmt-menu bg-gz btn-mgmt-active">
                                <img class="btn-symbol plus-symbol" src="../../Content/Images/plus_icon.svg" />Deposit
                            </button>
                            <a href="" class="btn-mgmt-menu-xs">
                                <span class="ico-active"></span>
                                <img class="btn-symbol plus-symbol" src="../../Content/Images/plus_icon_green.svg" />
                            </a>
                        </li>
                        <li>
                            <button class="btn-mgmt-menu bg-grey-dark">
                                <img class="btn-symbol minus-symbol" src="../../Content/Images/minus_icon.svg" />Withdraw
                            </button>
                            <a href="" class="btn-mgmt-menu-xs ico-active">
                                <img class="btn-symbol minus-symbol" src="../../Content/Images/minus_icon_dgrey.svg" />
                            </a>
                        </li>
                        <li>
                            <a class="xs-ico" href=""><i class="fa fa-clock-o" aria-hidden="true"></i></a>
                            <a class="visi-text" href="">Pending Withdrawals</a>
                        </li>
                        <li>
                            <a class="xs-ico" href=""><i class="fa fa-exchange" aria-hidden="true"></i></a>
                            <a class="visi-text" href="">Transaction History</a>
                        </li>
                        <li>
                            <a class="xs-ico" href=""><i class="fa fa-gift" aria-hidden="true"></i></a>
                            <a class="visi-text" href="">Bonuses</a>
                        </li>
                        <li>
                            <a class="xs-ico" href=""><i class="fa fa-user" aria-hidden="true"></i></a>
                            <a class="visi-text" href="">My Profile</a>
                        </li>
                        <li>
                            <a class="xs-ico" href=""><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                            <a class="visi-text" href="">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <section class="mgmt-content bg-gz col-xs-11 col-sm-9">
            <div class="row">
                <section class="mgmt-content col-sm-12 col-md-7 col-md-offset-1 left-content bg-gz">
                    <div class="col-xs-12 col-xs-offset-1 col-md-offset-0">
                        <h4>Make a deposit!</h4>
                        <div class="credit-card-holder">
                            <div class="selected-credit-card bg-white">
                                <img class="selected-logo-holder mastercard-logo" src="../../Content/Images/mastercard-logo-200x106.gif" />
                            </div>
                            <p>Credit Card</p>
                        </div>
                        <p>Instant deposit via Debit or Credit Card</p>
                    </div>
                </section>
                <section class="mgmt-content col-sm-12 col-md-5 right-content bg-gz">
                    <div class="col-xs-12 col-xs-offset-1 col-md-offset-0">
                        <h4>Other payment methods: </h4>
                        <div class="payment-methods">
                            <div class="method bg-white">
                                <img class="logo-holder skrill-logo" src="../../Content/Images/skrill-logo-200x87.gif" />
                            </div>
                            <div class="method bg-white">
                                <img class="logo-holder neteller-logo" src="../../Content/Images/neteller-logo-219x80.gif" />
                            </div>
                        </div>
                        <p>E-Wallet (2)</p>
                        <p>Free and instant transfers<br /> via your online wallets.</p>
                        <p>Min: &euro;10 Max: &euro;20,000</p>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
