<div class="auth mgmt-modal withdraw">

        <aside class="mgmt-menu bg-white">
            <nav>
                <ul class="nav-menu">
                    <li>
                        <button class="btn-mgmt-menu bg-gz btn-mgmt-active" href="">
                            <span class="btn-symbol plus-symbol"></span>Deposit
                        </button>
                    </li>
                    <li>
                        <button class="btn-mgmt-menu bg-grey-dark" href="">
                            <span class="btn-symbol minus-symbol"></span>Withdraw
                        </button>
                    </li>
                    <li><a href="">Pending Withdrawals</a></li>
                    <li><a href="">Transaction History</a></li>
                    <li><a href="">Bonuses</a></li>
                    <li><a href="">My Profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </nav>
        </aside>

        <section class="mgmt-content left-content bg-gz">
            <h4>Make a deposit!</h4>
            <div class="credit-card-holder">
                <div class="selected-credit-card bg-white">
                    <span class="selected-logo-holder mastercard-logo"></span>
                </div>
                <p>Credit Card</p>                  
            </div>   
            <p>Instant deposit via Debit or Credit Card</p>
        </section>
        <section class="mgmt-content right-content bg-gz">
            <h4>Other payment methods: </h4>
            <div class="payment-methods">
                <div class="method bg-white"><span class="logo-holder skrill-logo"></span></div>
                <div class="method bg-white"><span class="logo-holder neteller-logo"></span></div>
            </div>
            <p>E-Wallet (2)</p>
            <p>Free and instant transfers<br /> via your online wallets.</p>
            <p>Min: &euro;10 Max: &euro;20,000</p>
        </section>
        

</div>