<div class="auth mgmt-modal my-profile">
    <div class="row">
        <aside class="mgmt-menu bg-white col-xs-1 col-sm-3">
            <div class="row">
                <nav class="col-md-10 col-md-offset-1">
                    <ul class="nav-menu">
                        <li>
                            <button class="btn-mgmt-menu bg-gz">
                                <img class="btn-symbol plus-symbol" src="../../Content/Images/plus_icon.svg" />Deposit
                            </button>
                        </li>
                        <li>
                            <button class="btn-mgmt-menu bg-grey-dark">
                                <img class="btn-symbol minus-symbol" src="../../Content/Images/minus_icon.svg" />Withdraw
                            </button>
                        </li>
                        <li><a href="">Pending Withdrawals</a></li>
                        <li><a href="">Transaction History</a></li>
                        <li><a href="">Bonuses</a></li>
                        <li><a class="link-mgmt-active" href="">My Profile</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <section class="mgmt-content bg-gz col-xs-11 col-sm-9">
            <div class="row">
                <div class="col col-xs-10 col-xs-offset-1">
                    <h4>My Profile</h4>                   
                    <form class="form-horizontal update-prof-form">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
                                <div class="form-group">
                                    <label for="userName">Username</label>
                                    <input type="text" placeholder="" id="userName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" placeholder="" id="country" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
                                <div class="form-group">
                                    <label for="userID">User ID</label>
                                    <input type="text" placeholder="" id="userID" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
                                <div class="form-group">
                                    <label for="region">Region</label>
                                    <input type="text" placeholder="" id="region" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <div class="dropdown filter-forms">
                                        <button class="form-control filter-forms filter-type-drop dropdown-toggle" type="button" id="gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="gender">
                                            <li><a href="">Male</a></li>
                                            <li><a href="">Female</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" placeholder="" id="city" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" placeholder="" id="firstName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
                                <div class="form-group">
                                    <label for="postcode">Postcode</label>
                                    <input type="text" placeholder="" id="postcode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" placeholder="" id="lastName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
                                <div class="form-group">
                                    <div class="row">
                                        <label for="phoneNumber">Mobile</label>
                                        <div class="col-md-2">
                                            <div id="phonePrefix" class="btn-group dropup full-width" uib-dropdown on-toggle="setDropdownOffset(open)">
                                                <button type="button" class="form-control" uib-dropdown-toggle ng-class="{'empty': !model.phonePrefix}">
                                                    <div class="full-width text-left">{{model.phonePrefix}}</div>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="phonePrefix">
                                                    <li role="menuitem" ng-repeat="prefix in phonePrefixes" ng-class="{'active': prefix.active}">
                                                        <a ng-click="onPhonePrefixSelected($index)">{{prefix.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" placeholder="Mobile Number" id="phoneNumber" name="phoneNumber" class="form-control" autocomplete="off" ng-model="model.phoneNumber" required
                                                   ng-class="{ 'empty': !model.phoneNumber, 'danger': form.phoneNumber.$invalid && !form.phoneNumber.$pristine }"
                                                   ng-focus="phoneNumberFocused = true" ng-blur="phoneNumberFocused = false"
                                                   cs-pattern-restrict="^[0-9]*$">
                                            <div class="help-block" ng-class="{'show': phoneNumberFocused && form.phoneNumber.$error.required && !form.phoneNumber.$pristine}">Mobile number is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
                                <div class="form-group">
                                    <label for="emailAddress">Email Address</label>
                                    <input type="text" placeholder="" id="emailAddress" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 form-group">
                                <div class="checkboxes-group">
                                    <div class="form-group gz-checkbox">
                                        <gz-check-box gz-model="model" gz-value="agreed">Yes, please send me emails about news and offers.</gz-check-box>
                                    </div>
                                    <div class="form-group gz-checkbox">
                                        <gz-check-box gz-model="model" gz-value="agreed">Yes, please send me exclusive offers by SMS.</gz-check-box>
                                    </div>
                                </div>
                                <button class="col-md-4 btn-gz modal-btn-gz update-prof-form up-prof-btn">Update Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
