<div class="auth mgmt-modal pending-withdrawals">
    <div class="row">
        <aside class="mgmt-menu bg-white col-xs-1 col-sm-3">
            <div class="row">
                <nav class="col-md-10 col-md-offset-1">
                    <ul class="nav-menu">
                        <li>
                            <button class="btn-mgmt-menu bg-gz">
                                <img class="btn-symbol plus-symbol" src="../../Content/Images/plus_icon.svg" />Deposit
                            </button>
                        </li>
                        <li>
                            <button class="btn-mgmt-menu bg-grey-dark">
                                <img class="btn-symbol minus-symbol" src="../../Content/Images/minus_icon.svg" />Withdraw
                            </button>
                        </li>
                        <li><a class="link-mgmt-active" href="">Pending Withdrawals</a></li>
                        <li><a href="">Transaction History</a></li>
                        <li><a href="">Bonuses</a></li>
                        <li><a href="">My Profile</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <section class="mgmt-content bg-gz col-xs-11 col-sm-9">
            <div class="row">
                <div class="text-holder">
                    <p>
                        You do not currently have any pending withdrawals. When you initiate a withdrawal it will automatically be left pending
                        here until we have processed it.<br /><br />
                        Until a withdrawal has been processed you have the opportunity to cancel it and return the money to your Greenzorro account.
                    </p>
                </div>
            </div>
        </section>   
    </div>
</div>