<div class="auth mgmt-modal pending-withdrawals">

        <aside class="mgmt-menu bg-white">
            <nav>
                <ul class="nav-menu">
                    <li>
                        <button class="btn-mgmt-menu bg-gz">
                            <span class="btn-symbol plus-symbol"></span>Deposit
                        </button>
                    </li>
                    <li>
                        <button class="btn-mgmt-menu">
                            <span class="btn-symbol minus-symbol"></span>Withdraw
                        </button>
                    </li>
                    <li><a class="link-mgmt-active" href="">Pending Withdrawals</a></li>
                    <li><a href="">Transaction History</a></li>
                    <li><a href="">Bonuses</a></li>
                    <li><a href="">My Profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </nav>
        </aside>

        <section class="mgmt-content bg-gz">
            <div class="text-holder">
                <p>
                    You do not currently have any pending withdrawals. When you initiate a withdrawal it will automatically be left pending
                    here until we have processed it.<br /><br />
                    Until a withdrawal has been processed you have the opportunity to cancel it and return the money to your Greenzorro account.
                </p>
            </div>
        </section>

</div>