<div class="auth mgmt-modal transaction-history">

        <aside class="mgmt-menu bg-white">
            <nav>
                <ul class="nav-menu">
                    <li>
                        <button class="btn-mgmt-menu bg-gz">
                            <img class="btn-symbol plus-symbol" src="../../Content/Images/plus_icon.svg" />Deposit
                        </button>
                    </li>
                    <li>
                        <button class="btn-mgmt-menu bg-grey-dark">
                            <img class="btn-symbol minus-symbol" src="../../Content/Images/minus_icon.svg" />Withdraw
                        </button>
                    </li>
                    <li><a href="">Pending Withdrawals</a></li>
                    <li><a class="link-mgmt-active" href="">Transaction History</a></li>
                    <li><a href="">Bonuses</a></li>
                    <li><a href="">My Profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </nav>
        </aside>

        <section class="mgmt-content bg-gz">
            <h4>Transaction History</h4>
            <div class="form-group filter-form-group">
                <input type="text" class="form-control filter-forms" placeholder="from" />
                <input type="text" class="form-control filter-forms" placeholder="to" />
                <div class="dropdown filter-forms">
                    <button class="form-control filter-forms filter-type-drop dropdown-toggle" type="button" id="dropdownType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        type
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownType">
                        <li><a href="">TXID</a></li>
                        <li><a href="">DATE</a></li>
                        <li><a href="">AMMOUNT</a></li>
                        <li><a href="">DESCRIPTION</a></li>
                        <li><a href="">STATUS</a></li>
                    </ul>
                </div>
                <button class="btn-gz modal-btn-gz filter-forms" type="button">filter</button>
            </div>

            <div class="table-container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>TXID</th>
                            <th>DATE</th>
                            <th>AMMOUNT</th>
                            <th>DESCRIPTION</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody class="bg-grey">
                        <tr class="text-gz" ng-repeat="x in fillTable track by $index">
                            <td>{{x}}</td>
                            <td>{{x}}</td>
                            <td>{{x}}</td>
                            <td>{{x}}</td>
                            <td>{{x}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

</div>