<div class="auth mgmt-modal withdraw">

        <aside class="mgmt-menu bg-white">
            <nav>
                <ul class="nav-menu">
                    <li>
                        <button class="btn-mgmt-menu bg-gz">
                            <img class="btn-symbol plus-symbol" src="../../Content/Images/plus_icon.svg" />Deposit
                        </button>
                    </li>
                    <li>
                        <button class="btn-mgmt-menu bg-grey-dark btn-mgmt-active">
                            <img class="btn-symbol minus-symbol" src="../../Content/Images/minus_icon.svg" />Withdraw
                        </button>
                    </li>
                    <li><a href="">Pending Withdrawals</a></li>
                    <li><a href="">Transaction History</a></li>
                    <li><a href="">Bonuses</a></li>
                    <li><a href="">My Profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </nav>
        </aside>

        <section class="mgmt-content left-content bg-gz">
            <h4>Make a withdrawal</h4>
            <div class="bank-transfer bg-grey">
                <div class="bank-transfer-inner bg-white"><p class="text-grey">bank<br /> transfer </p></div>
                <div class="text-holder"><p class="text-grey">New bank transfer<br /> 2 to 4 business days</p></div>
            </div>
        </section>
        <section class="mgmt-content right-content bg-gz">
            <h4>Withdrawable Balance: </h4>
            <h2>&euro;20,000</h2>
        </section>
        

</div>