<div class="deposit-credit-card">
    <div ng-if="thereAreExistingCreditCards">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" ng-if="thereAreExistingCreditCards">
            <div class="form-group">
                <div>Select a card</div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" ng-if="thereAreExistingCreditCards">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <gz-select gz-model="model.selectedCreditCard" gz-collection="existingCreditCards" gz-prompt="--Select Credit Card--" gz-loading="loadingCreditCards"
                                   gz-id="id" gz-display="name" gz-change="onCreditCardSelected(id)">
                        </gz-select>
                    </div>
                </div>
                <div class="field-ok" ng-class="{'show': form.cardNumber.$valid}">
                    <img src="../../Content/Images/check.svg" />
                </div>
            </div>
        </div>        
    </div>

    <div ng-if="thereAreExistingCreditCards && canAddNewCreditCard" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <div class="form-group">
            <div class="text-center">-- OR --</div>
        </div>
    </div>
    
    <div ng-if="canAddNewCreditCard">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" ng-if="thereAreExistingCreditCards">
            <div class="form-group">
                <div>Register a new card</div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="card number" id="cardNumber" name="cardNumber" class="form-control" autocomplete="off" ng-model="model.cardNumber" required
                               ng-class="{ 'empty': !model.cardNumber, 'danger' : form.cardNumber.$invalid && !form.cardNumber.$pristine }"
                               ng-focus="cardNumberFocused = true;" ng-blur="cardNumberFocused = false;">
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': !form.cardNumber.$pristine && form.cardNumber.$error.required}">Card Number is required</div>
                    </div>
                </div>
                <div class="field-ok" ng-class="{'show': form.cardNumber.$valid}">
                    <img src="../../Content/Images/check.svg" />
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="card holder name" id="cardHolderName" name="cardHolderName" class="form-control" autocomplete="off" ng-model="model.cardHolderName" required
                               ng-class="{ 'empty': !model.cardHolderName, 'danger' : form.cardHolderName.$invalid && !form.cardHolderName.$pristine }"
                               ng-focus="cardHolderNameFocused = true;" ng-blur="cardHolderNameFocused = false;">
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': !form.cardHolderName.$pristine && form.cardHolderName.$error.required}">Card Holder Name is required</div>
                    </div>
                </div>
                <div class="field-ok" ng-class="{'show': form.cardHolderName.$valid}">
                    <img src="../../Content/Images/check.svg" />
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4">
                        <gz-select gz-name="cardExpiryMonth" gz-model="model.cardExpiryMonth" gz-collection="months" gz-prompt="MM" gz-loading="loadingMonths"
                                   gz-required gz-id="value" gz-display="display" gz-error="!form.cardExpiryMonth.$pristine && form.cardExpiryMonth.$error.required">
                        </gz-select>
                    </div>
                    <div class="col-xs-4">
                        <gz-select gz-name="cardExpiryYear" gz-model="model.cardExpiryYear" gz-collection="years" gz-prompt="YY" gz-loading="loadingYears" gz-change="onYearSelected(id)"
                                   gz-required gz-id="value" gz-display="display" gz-error="!form.cardExpiryYear.$pristine && form.cardExpiryYear.$error.required">
                        </gz-select>
                    </div>
                    <div class="col-xs-4">
                        <!--ng-minlength="3" ng-maxlength="3"-->
                        <input type="password" placeholder="CVC" id="cardSecurityNumber" name="cardSecurityNumber" class="form-control" autocomplete="off" ng-model="model.cardSecurityNumber" required
                               ng-class="{ 'empty': !model.cardSecurityNumber, 'danger' : form.cardSecurityNumber.$invalid && !form.cardSecurityNumber.$pristine }"
                               ng-pattern="/^[0-9]{3}$/"
                               ng-focus="cardSecurityNumberFocused = true;" ng-blur="cardSecurityNumberFocused = false;">
                        <span class="form-control-feedback" aria-hidden="true" ng-class="{'focused':cardSecurityNumberFocused || form.cardSecurityNumber.$valid}">
                            <i class="fa fa-lg fa-credit-card"></i>
                        </span>
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': (!form.cardExpiryMonth.$pristine && form.cardExpiryMonth.$error.required) || (!form.cardExpiryYear.$pristine && form.cardExpiryYear.$error.required)}">Card Expiry Date is required</div>
                        <div class="help-block" ng-class="{'show': !form.cardSecurityNumber.$pristine && form.cardSecurityNumber.$error.required}">Card Security Number is required</div>
                        <div class="help-block" ng-class="{'show': !form.cardSecurityNumber.$pristine && !form.cardSecurityNumber.$error.required && form.cardSecurityNumber.$invalid}">Card Security Number must be 3 digits long</div>
                    </div>
                </div>
                <div class="field-ok" ng-class="{'show': form.cardExpiryMonth.$valid && form.cardExpiryYear.$valid && form.cardSecurityNumber.$valid}">
                    <img src="../../Content/Images/check.svg" />
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <gz-check-box gz-model="model" gz-value="wantBonus">Yes, I want bonus</gz-check-box>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="number" placeholder="{{amountPlaceholder}}" id="amount" name="amount" class="form-control" autocomplete="off" ng-model="model.amount" required
                               ng-class="{ 'empty': !model.amount, 'danger' : form.amount.$invalid && !form.amount.$pristine }"
                               min="{{accountLimits.min}}" max="{{accountLimits.max}}"
                               ng-focus="amountFocused = true;" ng-blur="amountFocused = false;">
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': !form.amount.$pristine && form.amount.$error.required}">Amount is required</div>
                        <div class="help-block" ng-class="{'show': !form.amount.$pristine && !form.amount.$error.required && form.amount.$invalid}">Amount must be between {{accountLimits.min}} and {{accountLimits.max}}</div>
                    </div>
                </div>
                <div class="field-ok" ng-class="{'show': form.amount.$valid}">
                    <img src="../../Content/Images/check.svg" />
                </div>
            </div>
        </div>        
    </div>
</div>
