<div class="admin-header">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="/">
                    <img src="@Url.Content("~/Content/images/logo.svg")" alt="Logo" />
                    <span class="version">admin</span>
                    <h2 class="visible-lg">greenzorro</h2>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse-section">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-top-bar"></span>
                    <span class="icon-bar icon-middle-bar"></span>
                    <span class="icon-bar icon-bottom-bar"></span>
                </button>
            </div>
        </div>
    </nav>
</div>
