@charset "utf-8";

.promotions {
    padding: 60px 0;
}
.promotions a {
    text-decoration: none;
    color: #000;
}

.promotion {
    padding-bottom: 60px;
}



.promotions .promo-thumb {
    position: relative;
}
.promotions .promo-thumb .promo-go-wrapper {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #27A95C;
    background-color: rgba(39, 169, 92, 0.9);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 2px;
}
.promotions .promo-thumb:hover .promo-go-wrapper {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 1;
}


.promotions .promo-thumb .promo-go-wrapper .promo-go {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    text-decoration: none;
    z-index: 1;
    color: #fff;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
}
.promotions .promo-thumb .promo-go-wrapper .promo-go:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    top: -2px;
    left: -2px;
    padding: 0;
    z-index: 10;
    border: 2px dashed #fff;
}
.promotions .promo-thumb .promo-go-wrapper .promo-go:before {
    speak: none;
    font-size: 28px;
    line-height: 60px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.promotions .promo-thumb .promo-go-wrapper .promo-go:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    color: #fff;
    background-color: #07893C;

    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.promotions .promo-thumb .promo-go-wrapper .promo-go:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}

.promotions .promo-thumb .promo-go-wrapper .promo-go i {
    margin-top: 5px;
}
.promotions .promo-thumb .promo-go-wrapper .promo-go:hover i {
    color: #fff;
}

@-webkit-keyframes spinAround {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinAround {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}





.promotion .promo-banner {
    width: 100%;
    max-height: 400px;
}
.promotion .promo-title {
    margin: 25px 0;
}

.promotion .promo-action a.btn-gz.btn-gz-alt {
    height: 36px;
    line-height: 36px;
    margin: 10px 0;
    padding: 0 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;

    background: #27A95C;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    text-decoration: none;
    display: inline-block;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
}
.promotion .promo-action a.btn-gz.btn-gz-alt:hover{
    background: #fff;
    color: #27A95C;
    border: 1px solid #27A95C;
}

.promotion .promo-action a.btn-gz.btn-gz-toggle:hover {
    background: #d2d2d2;
    color: #27A95C;
    border: 1px solid #27A95C;
}
.promotion .promo-action a.btn-gz.btn-gz-alt.btn-gz-toggle:hover{
	background: #47C97C;
	color:#fff;
    border: 1px solid #f2f2f2;
}
