@{
    Layout = "~/Areas/Mvc/Views/Shared/_InvestmentsLayout.cshtml";
}

<div class="performance">
    <div class="title text-center">
        Check your expected returns
    </div>
    <gz-performance-graph ng-if="model" gz-plans="model.Plans" gz-currency="{{currency}}"></gz-performance-graph>
</div>



