@{
    Layout = "~/Areas/Mvc/Views/Shared/_InvestmentsLayout.cshtml";
}

<div class="performance">
    <div class="title text-center">
        Check your expected returns
    </div>
    @*<gz-performance-graph gz-aggressive-rate="0.1"
                          gz-moderate-rate="0.07"
                          gz-conservative-rate="0.04"
                          gz-currency="€">
    </gz-performance-graph>*@
    <gz-performance-graph ng-if="model" gz-plans="model.Plans" gz-currency="€"></gz-performance-graph>
</div>



