@{
    Layout = "~/Areas/Mvc/Views/Shared/_InvestmentsLayout.cshtml";
}

<div class="portfolio">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <div class="invest-prompt">
                    Please select your next month’s investment plan:
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-push-3">
            <div class="portfolio-section portfolio-plans">
                <div class="row header">
                    <div class="col-xs-4"><div>Plan</div></div>
                    <div class="col-xs-4"><div>Current Balance</div></div>
                    <div class="col-xs-4"><div>Selection</div></div>
                </div>
                <div class="row plan" ng-class="{'expanded': plan.expanded}" ng-repeat="plan in model.plans">
                    <div class="basic" ng-class="{'selected': plan.selected}">
                        <div class="col-xs-4">
                            <div class="title text-left">{{plan.title}}</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="balance text-center">€{{plan.balance}}</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="selection text-right">
                                <button type="button" ng-disabled="plan.selected" ng-click="selectPlan(plan)">
                                    <span ng-if="plan.selected">
                                        <i class="fa fa-lg fa-check-circle" title="Current"></i>
                                    </span>
                                    <span ng-if="!plan.selected">
                                        <span ng-show="selecting" class="spinner" us-spinner="spinnerOptions"></span>
                                        <span ng-show="!selecting">Select</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <img src="@Url.Content("~/Content/Images/open.svg")" alt="Expand/Collapse" ng-click="plan.expanded = !plan.expanded" />
                    </div>
                    <div class="details">
                        <div>
                            <div class="col-xs-8 text-left">
                                <div><u>Holding Name</u></div>
                            </div>
                            <div class="col-xs-4 text-right">
                                <div><u>Port. Weight</u></div>
                            </div>                            
                        </div>
                        <div ng-repeat="holding in plan.holdings">
                            <div class="col-xs-8 text-left">
                                <div class="holding-name">{{holding.name}}</div>
                            </div>
                            <div class="col-xs-4 text-right">
                                <div class="holding-weight">{{holding.weight}}.00%</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 col-lg-pull-6">
            <div class="portfolio-section next-investment text-center">
                <div class="side-box">
                    <div class="side-box-table">
                        <div class="side-box-table-head">
                            Next expected investment:
                        </div>
                        <div class="side-box-table-body">
                            <div class="balance text-gz">€15.000</div>
                        </div>
                    </div>
                    <div class="side-box-table">
                        <div class="side-box-table-head">
                            {{model.nextInvestmentOn}}
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                     x="0px" y="0px" width="64px" height="240px" viewBox="0 -1.5 64 185.25" enable-background="new 0 -1.5 64 185.25"
                     class="visible-lg" ng-class="{'hide': thereIsExpanded()}">
                    <path sketch:type="MSShapeGroup" fill="none" stroke="#CCCCCC" d="M0.391,91.32h59.115" />
                    <polyline fill="none" stroke="#CCCCCC" points="59.006,0 24.892,0 24.892,182.641 59.006,182.641 " />
				</svg>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="portfolio-section current-portfolio">
                <div class="side-box">
                    <div id="portfolio-chart"
                         gz-portfolio-chart
                         gz-conservative="model.conservativePercent"
                         gz-moderate="model.moderatePercent"
                         gz-aggressive="model.aggressivePercent" 
                         gz-average="model.averagePercent">                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


