<footer class="bg-gz" ng-controller="footerCtrl" ng-hide="playing">
    <div class="first">
        <div class="container">
            <div class="footer-menu cl-effect text-center">
                <div ng-repeat-start="item in menu" ng-class="getClass(item.route.path)" ng-if="item.when()">
                    <a ng-if="item.route" ng-href="{{item.route.path}}" ng-attr-target="{{item.inNewTab ? '_blank' : undefined}}">{{item.route.title}}</a>
                    <a ng-if="item.subroutes">{{item.title}}</a>
                    <ul ng-if="item.subroutes" class="dropdown-menu">
                        <li ng-repeat="subroute in item.subroutes">
                            <a ng-href="{{subroute.route.path}}">{{subroute.route.subtitle || subroute.route.title}}</a>
                        </li>
                    </ul>
                </div>
                <div ng-repeat-end ng-class="{'clearfix': xs && $index % 4 === 3}"></div>
            </div>
            <div class="footer-social text-center">
                <a href="https://www.facebook.com/greenzorro-520872994721625/timeline/" target="_blank"><i class="fa fa-facebook" ng-class="{'fa-lg': !xs}"></i></a>
                <a href="https://twitter.com/GrZorro" target="_blank"><i class="fa fa-twitter" ng-class="{'fa-lg': !xs}"></i></a>
                <a href="https://www.linkedin.com/company/greenzorro?trk=top_nav_home" target="_blank"><i class="fa fa-linkedin" ng-class="{'fa-lg': !xs}"></i></a>
                <a href="https://www.instagram.com/greenzorro_official/" target="_blank"><i class="fa fa-instagram" ng-class="{'fa-lg': !xs}"></i></a>
                <a href="mailto:help@greenzorro.com" target="_blank"><i class="fa fa-envelope" ng-class="{'fa-lg': !xs}"></i></a>
                <a href="https://maps.google.com/?q=80 Long Ln, London EC1A 9ET, UK" target="_blank"><i class="fa fa-map-marker" ng-class="{'fa-lg': !xs}"></i></a>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="container">
            <div class="footer-gproviders text-center" ng-show="routeData.gaming || routeData.wandering">
                <img class="gprovider grayscale revealing" src="../../Content/Images/netent.png" alt="NetEnt">
                <img class="gprovider grayscale revealing" src="../../Content/Images/leander.png" alt="Leander">
                <img class="gprovider grayscale revealing" src="../../Content/Images/playson.png" alt="Playson">
            </div>
            <div class="footer-licenses text-center" ng-show="routeData.gaming || routeData.wandering">
                <a class="license" href="https://www.authorisation.mga.org.mt/verification.aspx?lang=en&company=6d9bcc8f-2ec5-49d3-90c6-58f0dde5d820" target="_blank">
                    <img class="mga" src="../../Content/Images/mga.png" alt="EveryMatrix Limited - Licensed">
                </a>
                <span class="license" id="apg-cd4c451b-bda3-48ab-975c-f4f82f05088d" data-apg-seal-id="cd4c451b-bda3-48ab-975c-f4f82f05088d"
                      data-apg-image-size="128" data-apg-image-type="basic-small"></span>
                <a class="license" ng-href="/responsible-gambling" target="_blank">
                    <img class="play-responsibly" src="../../Content/Images/18plus_invert_transparent.png" alt="18+ Play Responsibly">
                </a>
                <a ng-href="https://www.gambleaware.co.uk/" class="license" target="_blank">
                    <img class="begambleaware" src="../../Content/Images/begambleawareorg.png" alt="BeGambleAware">
                </a>
                <a ng-href="https://slotsia.com/uk/" class="license" target="_blank">
                    <img class="slotsia" src="../../Content/Images/slotsia-dark.png" alt="Slotsia">
                </a>
            </div>
            <div class="footer-advice text-center" ng-show="routeData.gaming || routeData.wandering">
                <span class="text-frame-alt text-frame-sm">
                    Gambling can be addictive, please play responsibly.
                </span>
            </div>

            <div class="footer-payment-methods text-center" ng-show="routeData.gaming || routeData.wandering">
                <div class="footer-payment-method">
                    <img class="img-responsive grayscale revealing" src="../../Content/Images/payment methods/visa.svg" alt="Visa">
                </div>
                <div class="footer-payment-method">
                    <img class="img-responsive grayscale revealing" src="../../Content/Images/payment methods/mastercard.svg" alt="Master Card">
                </div>
                <div class="footer-payment-method">
                    <img class="img-responsive grayscale revealing" src="../../Content/Images/payment methods/maestro.svg" alt="Maestro">
                </div>
                <div class="footer-payment-method">
                    <img class="img-responsive grayscale revealing" src="../../Content/Images/payment methods/trustly.svg" alt="Trustly">
                </div>
                <div class="footer-payment-method">
                    <img class="img-responsive grayscale revealing" src="../../Content/Images/payment methods/skrill.svg" alt="Skrill">
                </div>
                <div class="footer-payment-method footer-entercash">
                    <img class="img-responsive grayscale revealing" src="../../Content/Images/payment methods/entercash.svg" alt="EnterCash">
                </div>
                <!--<div class="footer-payment-method">
                    <img class="img-responsive grayscale revealing" src="../../Content/Images/payment methods/banktransfer.svg" alt="Bank Transfer">
                </div>-->
                <div class="footer-payment-method">
                    <img class="img-responsive grayscale revealing" src="../../Content/Images/payment methods/sepa.svg" alt="Adyen SEPA">
                </div>
            </div>

            <div class="license-disclaimer text-justify">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
                        <div ng-show="routeData.gaming || routeData.wandering">
                            <p>
                                The website is operated and managed by EveryMatrix Ltd., a company bearing registration number C44411, and having its registered address at Level 5, Suite 1A, Portomaso Business Tower, Vjal Portomaso, St. Julians, STJ 4012, Malta and by EveryMatrix N.V., a limited liability company incorporated under the laws of Curacao, bearing company registration number 108354 and having its registered address at Dr. Hugenholtzweg Z/N, Curacao. Casino games on this website are provided by EveryMatrix N.V. Specific casino games content on this website, by NetEnt Malta Limited, are provided by EveryMatrix Ltd., licensed and regulated by the Malta Gaming Authority (www.mga.org.mt) in virtue of a Class 1 on 4 license numbered MGA/CL1/497/2010 issued on the 2nd of May 2012.
                                Payments are processed by MoneyMatrix Ltd, on behalf of EveryMatrix Ltd. MoneyMatrix Ltd was incorporated under the laws of Malta, bearing company registration number C64593 and having its registered address at Level 5, Suite 1B, Portomaso Business Tower, St Julians, Malta.
                            </p>
                        </div>
                        <div ng-show="routeData.investing || routeData.wandering">
                            <p>The investment offering on this site is not operated nor offered by EveryMatrix N.V or EveryMatrix Ltd. Please access the investment section in order to see specific Terms and conditions provided by Greenzorro Limited, a company incorporated under the laws of United Kingdom, bearing company registration number 10401612 and having its registered address at 80-83 Long Lane, London, EC1A 9ET, UK.</p>
                        </div>
                        <div class="text-center" ng-show="routeData.gaming || routeData.wandering">
                            <p>Gambling can be addictive.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="copyright-hr" />
            <div class="copyright text-center">
                &copy; {{copyrightYears}} | greenzorro limited | All rights reserved
            </div>
            <div class="company-registration text-center hidden">
                <span>Company registration number: 10401612</span>
                <span class="company-registration-separator"> | </span>
                <span>Registered in England & Wales</span>
            </div>
            <div ng-show="inDebugMode" class="debug-info text-center clearfix">
                <br />
                <span>{{version}}</span>
            </div>
        </div>
    </div>
</footer>



