@charset "utf-8";


.non-footer {
    /*min-height: calc(100% - 380px);
    margin-bottom: -380px;*/
    background: #F2F2F2;
}
.footer {
    clear: both;
    /*height: 380px;*/
    margin-bottom: 32px;
}
footer {
    width: 100%;
    /*height: 380px;
    margin-top: 380px;*/    
    font-size: 11px;
    color: #fff;
}

footer .first {
    background-color: #27A95C;
    padding: 30px 0;
}
footer .second {
    padding-top: 40px;
    background-color: #1A1A1A;
    /*color: #333;*/
}

footer a {
    /*color: #fff;
    -ms-opacity: 0.7;
    opacity: 0.7;*/
    color: #fff;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    text-transform: uppercase;
}

footer a:hover,
footer a:focus,
footer a:active,
footer a:visited {
    color: #fff;
    text-decoration: none;
    /*-ms-opacity: 1;
    opacity: 1;*/
}

footer .pull-left a {
    margin-right: 10px;
}
footer .pull-right a {
    margin-left: 10px;
}
footer .pull-right a i {
    width: 18px;
    height: 18px;
}



footer .footer-menu {
    /*height: 40px;*/
    line-height: 40px;
    margin-top: 10px;
}
footer .footer-menu a {
    margin: 0 10px;
}
footer .footer-social {
    /*height: 40px;*/
    line-height: 40px;
    /*margin-bottom: 10px;*/
    /*border-bottom: 1px dashed #fff;*/
}
footer .footer-social a {
    margin: 0 10px;
    display: inline-block;
    transition: all .5s;
    bottom: 0;
}

footer .footer-social a:hover  {
    bottom: 5px;
    transition: all .5s;
}

/*footer .footer-social a:hover { margin: -10px 10px 0; }*/

footer .copyright {
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    margin-top: 5px;
}
footer .copyright-hr {
    margin: 5px 45% 15px;
    /*border-color: #333;*/
}
footer .copyright img {
    width: 28px;
    height: 28px;
}

footer .company-registration {
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

footer .company-registration span.company-registration-separator {
    display: inline-block;
}
footer .company-registration br.company-registration-separator {
    display: none;
}

.footer .license-disclaimer {

}


footer .footer-payment-methods {
    margin-top: 5px;
    margin-bottom: 10px;
}
footer .footer-payment-methods .footer-payment-method {
    margin: 0 6px;
    height: 40px;
    display: inline-block;
}
footer .footer-payment-methods .footer-payment-method img {
    height: 100%;
}
footer .footer-payment-methods .footer-payment-method.footer-visa img,
footer .footer-payment-methods .footer-payment-method.footer-skrill img,
footer .footer-payment-methods .footer-payment-method.footer-trustly img {
        padding: 10px 10px;
    }
footer .footer-payment-methods .footer-payment-method.footer-mastercard img,
footer .footer-payment-methods .footer-payment-method.footer-maestro img{
    padding: 8px 10px;
}

/*footer .footer-payment-methods img {
    border-radius: 4px;
    padding: 5px;
}*/




footer .footer-licenses {
    margin-bottom: 15px;
}
footer .footer-licenses .license {
    border-radius: 4px;
    padding: 5px;
}
footer .footer-licenses .license img {
    height: 47px;
}

footer .footer-licenses .license.mga img {
    width: 80px;
}

footer .footer-advice {
    font-size: 10px;
    margin: 20px;
}
footer .debug-info {
    word-break: break-all;
}

footer .footer-menu > div {
    display: inline-block;
    position: relative;
}
footer .footer-menu .dropdown-menu {
    left: 0;
    top: 25px;
    position: absolute;
    visibility: hidden;
    background-color: #27A95C;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
}
footer .footer-menu .dropdown-menu a {
    margin: 0;
    padding: 2px 10px;
    color: #fff;
    text-align: left;
}

footer .footer-menu a:hover + .dropdown-menu,
footer .footer-menu .dropdown-menu:hover {
    display: block;
    visibility: visible;
}
footer .footer-menu .dropdown-menu a:hover {
    background-color: #fff;
    color: #27A95C;
}

footer .footer-menu.cl-effect .dropdown-menu a::after,
footer .footer-menu.cl-effect .dropdown-menu a.focus::after,
footer .footer-menu.cl-effect .dropdown-menu a:hover::after,
footer .footer-menu.cl-effect .dropdown-menu a:focus::after,
footer .footer-menu.cl-effect .dropdown-menu a:active::after {
    opacity: 0 !important;
}


@media (max-width: 768px) {
    /*.non-footer { min-height: calc(100% - 510px); margin-bottom: -510px; }
    .footer { height: 510px; }*/
    footer {
        /*height: 510px;
        margin-top: 510px;*/
        font-size: 9px;
    }

    footer a {
        padding: 0;
    }
    footer .footer-menu a {
        margin: 0 4px;
    }
    footer .footer-social {
        margin-bottom: 10px;
    }
    footer .copyright {
        font-size: 9px;        
        margin-top: 0;
    }
    footer .company-registration {
        font-size: 9px;
        height: 15px;
        line-height: 15px;
        margin-bottom: 5px;
    }

    footer .company-registration span.company-registration-separator { display: none; }
    footer .company-registration br.company-registration-separator { display: block; }

    footer .footer-payment-methods .footer-payment-method {
        margin: 0 2px;
    }
    footer .footer-licenses .license {
        padding: 5px 2px;
    }
}
@media (max-width: 420px) {
    /*.non-footer { min-height: calc(100% - 500px); margin-bottom: -500px; }
    .footer { height: 500px; }
    footer { height: 500px; margin-top: 500px; }*/

    footer {
        font-size: 10px;
    }
    footer a {
        padding: 0;
        font-size: 10px;
    }
    footer .footer-menu a {
        margin: 0 5px;
    }
    footer .footer-social {
        margin-bottom: 10px;
    }
    footer .copyright {
        font-size: 9px;        
        margin-top: 0;
    }
    footer .company-registration {
        font-size: 9px;
        height: 15px;
        line-height: 15px;
        margin-bottom: 5px;
    }

    footer .company-registration span.company-registration-separator { display: none; }
    footer .company-registration br.company-registration-separator { display: block; }
}
@media (max-width: 360px) {
    footer .footer-menu a {
        margin: 0 2px;
    }
    footer .footer-licenses .license img {
        height: 35px;
    }
    footer .footer-payment-methods .footer-payment-method {
        height: 30px;
    }
    
    footer .footer-advice {
        font-size: 9px;
        margin: 20px 10px;
    }
    footer .footer-advice .text-frame.text-frame-sm {
        padding: 10px 10px;
    }
}