* {
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000000000;
    overflow-y: hidden;
    background-color: #27a95c;
    opacity: 1;
    transition: all linear 1s
}

    #preloader.die {
        opacity: 0
    }

    #preloader .spinner-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        opacity: 1
    }

    #preloader.die .spinner-container {
        opacity: 0;
        transition: all linear 1s
    }

#loading-percentage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff
}

#body-content {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 200vh;
}
