* {
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000000000;
    overflow-y: hidden;
    background-color: #27a95c;
    opacity: 1;
    transition: all linear 1s;
    text-align: center;
}

#preloader.die {
    opacity: 0
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}
@keyframes loader-inner {
    0% { height: 0%; }  
    25% { height: 0%; }
    50% { height: 100%; }
    75% { height: 100%; }  
    100% { height: 0%; }
}

#body-content {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 200vh;
}
