<div id="ns-msgs">
    <div id="ns-modals">
        <ns-message ng-repeat="modal in nsModals track by $index"
                    ns-options="modal"
                    ns-count="nsModals.length"
                    ns-index="$index">
        </ns-message>
    </div>
    <div id="ns-notifications">
        <ns-message ng-repeat="notification in nsNotifications track by $index"
                    ns-options="notification"
                    ns-count="nsNotifications.length"
                    ns-index="$index">
        </ns-message>
    </div>
    <div id="ns-toastrs" ng-style="{ 'bottom': getToastrsBottom() }" >
        <ns-message ng-repeat="toastr in nsToastrs track by $index"
                    ns-options="toastr"
                    ns-count="nsToastrs.length"
                    ns-index="$index">
        </ns-message>
    </div>
</div>
