body{
	margin:0;
	padding:0;
	font-family:Helvetica;
	background:#F2F2F2;
}
a{
	text-decoration:none;
}
.content{
	max-width:1180px;
	width:1180px;
	margin-left:auto;
	margin-right:auto;
}

.p-content{
	max-width:904px;
	margin:auto;
}
.projection-graph svg{
width:"800";
}
.info-boxes{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.wrap{
	width:100%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.menubar{
	height:70px;
	width:100%;
	font-weight:300;
	padding:0;
	background:#27A95C;
}
.menulist{
	width:1185px;
	max-width:1185px;
margin-left:auto;
margin-right:auto;
}

#games{
	float:right;
	width:200px;
	height:40px;
	margin-top:14px;
	text-align:center;
	background:#fff;
}
#games img{
	float:left;
	padding-left:14px;
	padding-top:7px;
}
#games p{
	margin:0;
	font-size:16px;
	padding-top:13px;
	font-weight:300;
	color:#646464;
}
#games a,
#logo a{
	text-decoration:none;
}
#logo{
	float:left;
	margin-top:7px;
}
#logo h2{
	color:#fff !important;
	float:left;
	margin-top:17px;
}
#logo img{
	float:left;
	padding-right:15px;
}
#member{
	margin-left:50px;
	margin-top:15px;
	float:left;
}
#mmb{
	float:left;
	padding-right:10px;
}
#m-name{
	color:#fff;
	margin-top:8px;
	font-size:20px;
	float:left;
}
.links{
	float:right;
}
.links a{
	text-decoration:none;
	color:#fff;
	opacity:0.7;
	font-weight:300;
	font-size:17px;
	border-bottom: solid 1px #27A95C;
    display: inline;
    padding-bottom: 5px;
	-webkit-transition: opacity 0.3s ease; /* Safari */
    transition: opacity 0.3s ease;
    -webkit-transition: border-bottom 0.3s ease; /* Safari */
    transition: border-bottom 0.3s ease;
}
.links a:hover,
.links a:focus,
.links a:active{
	opacity:1;
}
a.focus:link,
a.focus:visited,
a.focus:active,
a.focus:focus{
	opacity:1;
	border-bottom: solid 1px #ffffff;
}


*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	letter-spacing: 1px;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.cl-effect a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	margin-top:0;
	background: rgba(255,255,255,1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect a:hover::after,
.cl-effect a:focus::after,
.cl-effect a:active::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.cl-effect a.focus:hover::after{
	opacity:0;
}
.menubar ul{
	list-style-type: none;
	margin-top:25px;
}
.menubar li{
	display:inline;
	margin-right:30px;
}
#balance{
	vertical-align:middle;
	margin-top:80px;
}
.amount{
	text-align:center;
	padding:0 50px;
	color:#27A95C;
	font-size:57px;
	font-weight:300;
}
.amount img{
	vertical-align:middle;
}
.ttl{
	width:100%;
	text-align:center;
	margin:0;
}
h1{
	font-family:Helvetica;
	font-size:22px;
	font-weight:300;
	color:#646464;
	margin:0;
}
h2{
	font-family:Helvetica;
	font-size:18px;
	font-weight:300;
	color:#646464;
	margin:0;
}
.clm-r h2,
.clm-l h2,
.clm-r h4{
	opacity:0.5;
}
.clm-r h4{
	margin-top:40px;
}
h3{
	font-family:Helvetica;
	font-size:17px;
	font-weight:normal;
	color:#000;
	margin:0;
}
h4{
	font-family:Helvetica;
	font-size:15px;
	font-weight:300;
	color:#000;
	opacity:0.65;
	margin:0;
}
.clm-l,
.clm-r{
	max-width:300px;
	width:300px;
	margin-top:40px;
	float:left;
	text-align:center;
}

.clm-l{
	position:absolute;
}
.main-clm{
	max-width:525px;
	width:525px;
	text-align:center;
	float:left;
	margin:36px 26px 30px 326px;
}
#sec1,
#sec2{
	width:100%;
	height:145px;
	
	display: flex;
    align-items: center; 
	background:#fff;
}
.sec1,
.sec2 {
	padding:0px 50px;
}
.sec3 {
	padding:30px 50px;
}
#sec2{
	margin-top:2px;
}
#sec3{
	width:100%;
	margin-top:30px;
	background:#fff;
}
.sec2 th,
.sec1 th{
	width:100%;
	text-align:left;
}
.sec2 td,
.sec1 td{
	width:100%;
	text-align:right;
}

.left{
	float:left;
}
.right{
	float:right;
}
#box{
	width:300px;
	height:290px;
	border:1px solid #ccc;
	text-align:left;
	-webkit-transition: border 0.5s ease; /* Safari */
    transition: border 0.5s ease;
}
.box{
	padding:30px;
}
.layer{
	opacity:0;
	width:299px;
	height:289px;
	margin-top:-281px;
	padding:0;
	background-color:#fff;
	position:absolute;
	z-index:-1;
	-webkit-transition: opacity 0.5s ease; /* Safari */
    transition: opacity 0.5s ease;
}

#box:hover,
#box2:hover,
#chart:hover{
	border:1px solid #5b5b5b;
}
#box:hover >.layer{
	opacity:0.5;
}
.box p{
	margin-top:5px;
	font-style:oblique;
	font-size:18px;
	font-weight:500;
}
.clm-l p{
	margin-top:30px;
	font-size:18px;
}
.clm-l td{
	color:#000;
	font-style:oblique;
	font-size:18px;
}
.box th{
	padding-bottom:30px;
}
.opacity{
	opacity:0.35;
	padding-bottom:50px;
}
.showmore{
	text-align:left;
	margin-top:30px;
	clear:both;
}
.showmore img{
	float:left;
	padding-right:15px;
}
.showmore a{
	text-decoration:none;
}
#cash{
	width:100%;
	height:60px;
	float:left;
	margin-top:30px;
	margin-bottom:30px;
	background-color:none;
	border:2px solid #fff;
	color:#000;
	opacity:0.8;
	-webkit-transition: background 0.5s ease; /* Safari */
    transition: background 0.5s ease;
}
#cash:hover{
background-color:#fff;
}
.cash{
	text-align:center;
	padding-top:18px;
}
#cash img{
	padding-right:15px;
	margin-top:-3px;
	vertical-align:middle;
}
#cash a{
	text-decoration:none;
	
}
.clm-l table{
	width:100%;
}
.clm-l h4{
	text-align:right;
}

.sec3 table{
	width:100%;
}
.vintage{
	width:130px;
	text-align:left;
	font-weight:500;
}
.invested{
	width:100%;
	text-align:right !important;
	font-weight:500;
}
.return{
	width:145px;
	text-align:right;
	font-weight:500;
}
.sec3 ul{
	margin-bottom:30px;
	margin-top:0;
	padding:0;
	float:left;
}
.sec3 li{
	list-style-type: none;
	float:left;
}
.sec3 th{
	padding-bottom:20px;
}
.sec3 td{
	padding-bottom:0;
}
.light{
	font-weight:300;
	opacity:0.6;
}
.oblique{
	font-weight:300;
	font-style:oblique;
	opacity:0.6;
}

/*--- portfolio page ---*/

.plan h1{
	letter-spacing:1px;
	color:#000;
	text-align:center;
}
#box2{
	width:245px;
	height:266px;
	margin-top:37px;
	border:1px solid #ccc;
	text-align:left;
	padding:30px 30px;
	position:absolute;
	float:left;
	-webkit-transition: border 0.5s ease; /* Safari */
    transition: border 0.5s ease;
}

#chart{
	width:300px;
	height:290px;
	margin-left:30px;
	margin-top:37px;
	border:1px solid #ccc;
	text-align:center;
	-webkit-transition: border 0.5s ease; /* Safari */
    transition: border 0.5s ease;
	float:left;
}
#pf-list{
	margin-top:80px;
}
#plan-list{
	width:auto;
	margin-left:-10px;
	float:left;
}
#data{
	margin-bottom:10px;
	width:100%;
}

#data th{
	text-decoration:underline;
	color:#7b7b7b;
	font-size:18px;
	font-weight:300;
}
#data th:nth-child(1){
	text-align:left;
	padding-left:40px;
}
#data th:last-child{
	width:31%;
	text-align:right;
	padding-right:26px;
}
#agg,
#mod,
#con{

}

#agg table,
#mod table,
#con table{
	float:left;
}
#agg button,
#mod button,
#con button{
	float:right;
}
#agg table,
#mod table,
#con table{
	width:230px;
}
.more table,
.more1 table,
.more2 table{
	width:93%;
	 padding: 0 40px;
}
.more td,
.more1 td,
.more2 td{
	text-align:right;
}
#agg th,
#mod th,
#con th{
	text-align:left;
	font-size:18px;
	text-decoration:none;
	color:#7b7b7b;
	padding-left:0 !important;
}
#agg td,
#mod td,
#con td{
	font-size:25px;
	color:#000;
	font-weight:300;
	text-align:right;
	padding-right:6px;
}
#agg,#mod,#con{
	position:relative;
	float:left;
	width:520px;
	line-height:74px;
	height:74px;
}
.plan{
	padding:0 40px;
}
.wrap-plan ul{
	padding:0;
	margin:0;
}
.ison{
	background:#27A95C !important;
	color:#fff !important;
}
input {
	display:none !important;
}
button.select{
	width:115px;
	height:34px;
	border:1px solid #27A95C;
	background:none;
	box-shadow:none;
	outline:none;
	color:#27A95C;
	font-weight:300;
	font-size:16px;
	letter-spacing:1px;
	position: absolute;
	right:80px;
  	top: 50%;
  	margin-top: -17px;
	cursor:pointer;
	-webkit-transition:background 0.3s ease;
	transition:background 0.3s ease;
}

button.select:hover{
	background:#27A95C;
	color:#fff;
}

#box2{
	font-size:47px;
	font-weight:300;
	color:#27A95C;
}
#box2 h2{
	font-size:20px;
	margin:20px 0px;
}
#chart.box{
	padding:0;
}

#paths{
	width:64px;
	height:194px;
	float:right;
	margin-left:255px;
	margin-top:70px;
	position:relative;
	z-index:1;
}
#crnt{
	position:relative;
	margin-top:-169px;
	margin-right:146px;
	letter-spacing:0.5px;
	z-index:1000;
	color:#646464;
	font-size:18px;
	float:right;
}
.wrap-plan{
	width:520px;
	float:right;
	margin-left:-10px;
	position:relative;
}
.open-btn{
	width:40px;
	height:74px;
	padding-top:7px;
	text-align:right;
	right:0;
	background:#f2f2f2;
	position:absolute;
	
	
}
.open-btn img{
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	cursor:pointer;
}

button#open{
	border:none;
	background:none;
	outline:none;
}
.wrap-plan li{
	list-style-type: :none;
	display:inline-block;
	margin-bottom:15px;
	background-color:#fff;
}
.plans{
	position:relative;
}
.more,
.more1,
.more2{
	width:100%;
	background:#f2f2f2;
	float:left;
	padding-top:30px;
}

#toggle-view {
  list-style: none;
  font-family: arial;
  font-size: 11px;
  margin: 0;
  padding: 0;
  width: 90%;
}

#toggle-view li {
  position: relative;
  cursor: default;
}
#toggle-view .more,
#toggle-view .more1,
#toggle-view .more2 {
  display: none;
}

.rot-down{
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin:center center;
  -moz-transform: rotate(180deg);
  -moz-transform-origin:center center;
  transform: rotate(180deg);
  transform-origin:center center;
}
.rot-up{
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin:center center;
  -moz-transform: rotate(0deg);
  -moz-transform-origin:center center;
  transform: rotate(0deg);
  transform-origin:center center;
}
.open{
	-webkit-transform:height 0.5s ease-out;
	-moz-transform:height 0.5s ease-out;
	transform:height 0.5s ease-out;
}

.s-mod{
	position:absolute;
	top:41px;
	z-index:10;
	margin:0;
	padding:0;
	width:64px;
	height:105px;
	overflow:hidden;
	display:none;
}
.s-agg{
	position:absolute;
	top:-5px;
	z-index:10;
	margin:0;
	padding:0;
	width:64px;
	height:105px;
	overflow:hidden;
	display:none;
}

.s-con{
	position:absolute;
	top:86px;
	z-index:10;
	margin:0;
	padding:0;
	width:64px;
	height:105px;
	overflow:hidden;
	display:none;
}


/*.move{
	-webkit-animation-name: a1;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: a1;
	-moz-animation-duration:1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	-o-animation-name: a1;
	-o-animation-duration:1s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;

	animation-name: a1;
	animation-duration:1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.move2{
	-webkit-animation-name: a2;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: a2;
	-moz-animation-duration:1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	-o-animation-name: a2;
	-o-animation-duration:1s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;

	animation-name: a2;
	animation-duration:1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.move3{
	-webkit-animation-name: a3;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: a3;
	-moz-animation-duration:1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	-o-animation-name: a3;
	-o-animation-duration:1s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;

	animation-name: a3;
	animation-duration:1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes a1 {
  from {transform: translate(-64px);}
  to {transform: translate(10px);}
}
@-webkit-keyframes a1 {
  from {transform: translate(-64px);}
  to {transform: translate(10px);}
}
@-moz-keyframes a1 {
  from {transform: translate(-64px);}
  to {transform: translate(10px);}
}
@keyframes a2 {
  from {transform: translate(-10px);}
  to {transform: translate(64px);}
}
@-webkit-keyframes a2 {
  from {transform: translate(-10px);}
  to {transform: translate(64px);}
}
@-moz-keyframes a2 {
  from {transform: translate(-10px);}
  to {transform: translate(64px);}
}
@keyframes a3 {
  from {transform:translate(0px);}
  to {transform:translate(64px);}
}
@-webkit-keyframes a3 {
  from {transform:translate(0px);}
  to {transform:translate(64px);}
}
@-moz-keyframes a3 {
  from {transform:translate(0px);}
  to {transform:translate(64px);}
}
*/


/*--- performance ---*/

#returns{
	text-align:center;
	height:52px;
	margin-top:27px;
}
.returns{
	width:100%;
	height:130px;
	position:absolute;
	top:149px;
	background:#fff;
	text-align:center;
}

#agg-btn,
#mod-btn,
#con-btn{
	padding:10px 35px;
	margin:30px 5px;
	font-size:16px;
	font-weight:300;
	color:#646464;
	border:1px solid #979797;
	background:none;
	outline:none;
	cursor:pointer;
	-webkit-transition:border 0.3s ease;
	transition:border 0.3s ease;
	-webkit-transition:color 0.3s ease;
	transition:color 0.3s ease;
	-webkit-transition:background-color 0.3s ease;
	transition:background-color 0.3s ease;
}
#agg-btn:hover,
#mod-btn:hover,
#con-btn:hover{
	color:#ffffff;
	border:1px solid #27A95C;
	background:#27A95C;
}
#drag{
	width:680px;
	text-align:left;
	font-size:14px;
	color:#646464;
	font-weight:150;
	margin-left:auto;
	margin-right:auto;
	margin-top:-155px;

}
#drag img{
	padding-right:15px;
	vertical-align:top;
}
#diagram{
	width:680px;
	margin-left:auto;
	margin-right:auto;
	margin-top:75px;
}


.highcharts-grid{
	display:none;
}




		.meter { 
			height: 3px;  /* Can be anything */
			position: relative;
			margin: 60px 0 20px 0; /* Just for demo spacing */
			background: #555;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 2px;
			padding: 0;
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			/*background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );*/
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .9)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .9)), 
			      color-stop(.75, rgba(255, 255, 255, .9)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}
		
		.animate > span:after {
			display: none;
		}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}

/*--- media queries ---*/

@media screen and (max-width: 1275px){

	.content{
		width:855px;
	}
	.main-clm{
		margin-left:0;
	}
	.clm-r{
		float:right;
		margin-top:30px;
	}
	.clm-l{
		float:right;
		position:relative;
	}
	#logo{
		position:absolute;
		left:30px;
		margin-top:3px;
	}
	#logo h2{
		font-size:15px;
		margin-top:24px;
	}
	#logo img {
		width:65px;
		height:65px;
	}
	#member{
		position:absolute;
		left:190px;
		margin-left:30px;
		margin-top:17px;
	}
	#m-name {
		font-size:17px;
	}
	#games{
		position:absolute;
		right:30px;
		width:180px;
	}
	#games img{
		padding-left:10px;
	}
	.links{
		position:absolute;
		right:210px;
	}
	.links a{
		font-size:15px !important;
	}
	.menubar ul{
		margin-top:27px;
	}
	.menubar li {
		margin-right:20px;
	}
	#games p {
		font-size:15px;
	}
	.opacity {
		padding-bottom:30px;
	}

	#chart{
		width:270px;
		height:260px;
		float:left;
		margin-left:0;
		margin-top:75px;
	}
	.wrap-plan{
		float:right;
		margin-right:-106px;
	}
	#plan-list{
		float:none;
		padding-right:70px;
	}

	#data{
		width:96%;
	}
	#data th:last-child{
		width:28%;
		padding-right:36px;
	}
	.portfolio .content{
		width:783px;
	}
	#crnt{
		position:absolute;
		top:869px;
		margin-left:102px;
	}
	#agg, #mod, #con{
		width:490px
	}
	button.select{
		font-size:15px;
		width:95px;
		right:80px;
	}

}

@media screen and (max-width:925px){

	.main-clm{
		width:85%;
		max-width:100%;
		margin-right:0;
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
	.clm-r,
	.clm-l{
		float:left;
	}
	.clm-l{
		margin-top:0;
	}
	.clm-r{
		margin-top:1px;
	}
	.clm-r{
		margin-left:30px;
	}
	.content {
		max-width:100%;
		width:100%;
		padding-left:auto;
		padding-right:auto;
	}
	.wrap{
		width:630px;
	}

}

@media screen and (max-width:845px){

#box2{
	position:relative;
}
#paths{
	display:none;
}
.wrap-plan{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
.portfolio .content{
	width:100%;
}
#chart, #box2{
	margin-top:40px;
}
#plan-list{
	clear:both;
	padding-right:0;
}
#agg, #mod, #con{
	width:100%;
}
#toggle-view li{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
#toggle-view{
	margin:auto;
}
#data th:last-child{
	width:35%;
	padding-right:28px;
}
.more table,
.more1 table,
.more2 table{
	width:100%;
	 padding: 0 55px 0 20px;
}

.plan{
	padding: 0 20px;
}

#agg table, #mod table, #con table{
	width:50%;
}
h1{
	font-size:18px;
}
button.select{
	right:60px;
}
.chart-mob{
	width:560px;
	margin-left:auto;
	margin-right:auto;
}
#chart{
	margin-left:30px;
}
#chart, #box2{
	width:265px;height:265px;
}
#crnt{
	margin-top:-156px;
	margin-right:97px;
	position:static;
}

}

@media screen and (max-width:710px){

	.wrap{
		width:520px;
	}
	h2,
	.clm-l td{
		font-size:16px;
	}
	.box{
		padding:15px;
		width:250px;
	}
	#box{
		width:250px;
		height:240px;
	}
	.clm-r,
	.clm-l{
		width:250px;
		margin-left:auto;
		margin-right:auto;
	}
	.clm-r{
		margin-left:20px;
	}
	.amount{
		font-size:47px;
	}
	#sec3{
		margin-top:20px;
	}
	h3{
		font-size:15px;
	}
	.clm-r h4{
		margin-top: 25px;
	}
	#cash{
		margin-top:20px;
	}
	.chart-mob{
		width:550px;
	}
#chart{
	margin-left:20px;
}

}

