<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="balance files usage" value="usebothbalancefiles" />
    <add key="User Email Proc Alone" value="" />
    <add key="Processing Mode" value="fullprocessing"/>  <!-- exceldownloading exceluploading fullexcelprocessing awardstock fullprocessing -->
    <add key="CurrencyRatesUrl" value="https://openexchangerates.org/api/latest.json?app_id=b26776ee05a74ed9817e8da69e80a16a" />
    <!-- Everymatrix Reports downloading and processing -->

    <!-- Everymatrix Portal -->
    <add key="reportsEmailUser" value="hostmaster@greenzorro.com" />
    <add key="reportsEmailPwd" value="c9X6&amp;jSBq%FS!$&amp;roa^8" />
    <add key="everymatrixProdPortalUri" value = "https://admin3.gammatrix.com/Admin/Login.aspx" />
    <!--<add key="everymatrixProdUsername" value="admin" />
    <add key="everymatrixProdPassword" value="player888" />-->
    <add key="everymatrixProdUsername" value="presto" />
    <add key="everymatrixProdPassword" value="gz2017!@" />
    <add key="everymatrixProdToken" value="3DFEC757D808494" />

    <!-- Reports Folders -->
    <add key="BaseFolder" value="d:\sc\gz" />
    <add key="ExcelInFolder" value="inRpt" />
    <add key="ExcelOutFolder" value="outRpt" />

    <!-- Report types & files -->
    <add key="downloadedCustomFilter" value="values*.xlsx" />
    <add key="downloadedBalanceFilter" value="byBalance*.xlsx" />
    <add key="downloadedWithdrawalsFilter" value="trans*.xlsx" />
    <add key="downloadedDepositsFilter" value="trans*.xlsx" />
    <add key="downloadedBonusFilter" value="Casino bonus-completed bonus*.xlsx" />
    <!--Segmentation betting table usage-->
    <add key="downloadedCasinoGameFilter" value="CasinoGameReport*.xlsx" />

    <add key="customRptFilenamePrefix" value="Custom Prod " />
    <add key="endBalanceRptFilenamePrefix" value= "Balance Prod " />
    <add key="withdrawalsPendingRptFilenamePrefix" value= "withdrawalsPending Prod " />
    <add key="withdrawalsRollbackRptFilenamePrefix" value = "withdrawalsRollback Prod " />
    <add key="depositsRptFilenamePrefix" value = "Deposits Prod " />
    <add key="bonusRptFilenamePrefix" value = "Bonus Prod " />
    <!--Segmentation betting table usage-->
    <add key="pastDaysDepositsRptFilenamePrefix" value = "PastDaysDeposits Prod " />
    <add key="casinoGameRptFilenamePrefix" value = "CasinoGameReport Prod " />

    <add key="Wait_For_File_Download_MS" value="6000" />
  </appSettings>
  <connectionStrings configSource="connectionStrings.config"></connectionStrings>
</configuration>