@{
    Layout = "~/Areas/Mvc/Views/Shared/_GamesLayout.cshtml";
}
<div class="games-list">
    <div class="full-width">
        <gz-carousel gz-slides="carouselGames"></gz-carousel>
    </div>

    <div class="filters">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-6 col-lg-9">
                <div class="categories">
                    <span ng-repeat="category in gameCategories">
                        <a class="" ng-click="onCategorySelected(category)">
                            {{getCategoryTitle(category.name)}}
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="live-search">
                    <input type="search" placeholder="SEARCH GAME" class="form-control" ng-model="liveSearch.input"
                           ng-focus="onLiveSearchFocused()" ng-blur="onLiveSearchBlurred()" ng-change="onLiveSearchChange()">
                    <span class="form-control-feedback" aria-hidden="true" ng-class="{'focused': liveSearch.focused || liveSearch.input}">
                        <i ng-show="!liveSearch.searching" class="fa fa-search"></i>
                        <span ng-show="liveSearch.searching" us-spinner="spinnerGreenXsAbs"></span>
                    </span>
                    <ul class="media-list live-search-results" ng-show="liveSearch.input.length > 2">
                        <li ng-show="liveSearch.games.length === 0" class="no-results">No games to display</li>
                        <li ng-hide="liveSearch.games.length === 0" class="media" ng-class="{'selected': g.selected}" ng-repeat="g in liveSearch.games" ng-click="selectResult($index)">
                            <div class="media-left">
                                <a ng-click="onGameSelected(g.slug)">
                                    <img class="media-object" ng-src="{{g.logo}}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{g.name}}</h4>
                                <div>{{g.description}}</div>
                            </div>
                        </li>
                        <li ng-show="liveSearch.games.length < liveSearch.totalGameCount" class="more-results">
                            <button type="button" ng-click="onLoadMore()">
                                <span>Load more</span>
                                <span class="badge">{{liveSearch.totalGameCount - liveSearch.games.length}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="game-categories">
        <div class="container-fluid">
            <div class="category" ng-repeat="category in gameCategories" ng-show="category.selected">
                <div class="row">
                    <div class="title col-xs-12" ng-class="{'text-center': xs}">
                        <span>{{getCategoryTitle(category.name)}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="game text-center col-xs-12 col-sm-4 col-md-2" ng-repeat="game in category.games">
                            <img class="img-responsive full-width" src="{{game.thumbnail}}" cs-fallback-src="@Url.Content("~/Content/Images/casino-default.jpg")" alt="{{game.name}}" ng-click="onGameSelected(game.slug)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
