@{
    Layout = "~/Areas/Mvc/Views/Shared/_GamesLayout.cshtml";
}

<h1 class="text-center">Games Page 1</h1>

<div class="row">
    <div class="col-md-12">
        <span ng-repeat="category in gameCategories"><a>{{category}}</a><span> </span></span>
    </div>
</div>

<div></div>
