<footer ng-controller="footerCtrl">
    <div class="full-width">
        <div class="text-center hidden">
            <span class="visible-lg">LG</span>
            <span class="visible-md">MD</span>
            <span class="visible-sm">SM</span>
            <span class="visible-xs">XS</span>
        </div>
        
        <div class="text-center">
            &copy; {{copyrightYears}} Greenzorro. All rights reserved
        </div>
    </div>
</footer>



