<footer class="bg-gz" ng-controller="footerCtrl">
    <div class="container cl-effect">
        <div class="pull-left">
            <a ng-href="/faq">FAQ</a>
            <a ng-href="/transparency">TRANSPARENCY</a>
            <a ng-href="/about">ABOUT</a>
            <a ng-href="/contact">CONTACT</a>
        </div>
        <div class="pull-right">
            <a href="https://www.facebook.com/Greenzorro-520872994721625/timeline/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/GrZorro" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/greenzorro?trk=top_nav_home" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/greenzorro_official/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
        @*<div class="text-center hidden">
                <span class="visible-lg">LG</span>
                <span class="visible-md">MD</span>
                <span class="visible-sm">SM</span>
                <span class="visible-xs">XS</span>
            </div>

            <div class="text-center">
                &copy; {{copyrightYears}} Greenzorro. All rights reserved v @typeof(MvcApplication).Assembly.GetName().Version
            </div>*@

    </div>
</footer>



