<header ng-controller="headerCtrl" class="relative">
    <nav class="navbar navbar-default navbar-static-top" ng-class="{'navbar-initial': !scrolled}">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="/">
                    <img src="@Url.Content("~/Content/images/logo.svg")" alt="Logo" />
                    <h2 class="visible-lg">GREENZORRO</h2>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse-section">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-top-bar"></span>
                    <span class="icon-bar icon-middle-bar"></span>
                    <span class="icon-bar icon-bottom-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse " id="header-collapse-section">
                <div class="nav-links-btns">
                    <div class="links">
                        <nav class="cl-effect">
                            <ul gz-authorize="guest" gz-match="exact" class="links-guest">
                                <li ng-repeat="route in routes.guest">
                                    <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                                </li>
                            </ul>
                            <ul gz-authorize="gamer" class="links-games" ng-show="gamesMode" style="margin-top: 0;">
                                <li ng-if="hasGamingBalance">{{currency}} {{gamingBalance}}</li>
                                <li>
                                    <button type="button" class="btn-gz btn-gz-alt" ng-click="withdraw()">
                                        WITHDRAW
                                    </button>
                                    <button type="button" class="btn-gz btn-gz-alt" ng-click="deposit()">
                                        DEPOSIT
                                    </button>
                                </li>
                            </ul>
                            <ul gz-authorize="investor" class="links-investments" ng-hide="gamesMode">
                                <li ng-repeat="route in routes.investment">
                                    <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="nav-btns hidden">
                        <a ng-if="!isAuthenticated" class="nav-btn-login" ng-click="login()">
                            <img src="@Url.Content("~/Content/Images/login.png")" />
                            <p>LOGIN</p>
                        </a>
                        <a ng-if="isAuthenticated" class="nav-btn-games" ng-show="gamesMode" ng-click="toInvestments()">
                            <img src="@Url.Content("~/Content/Images/diagram.svg")" />
                            <p>TO INVESTMENTS</p>
                        </a>
                        <a ng-if="isAuthenticated" class="nav-btn-investments" ng-hide="gamesMode" ng-click="backToGames()">
                            <img src="@Url.Content("~/Content/Images/games.svg")" />
                            <p>BACK TO GAMES</p>
                        </a>
                    </div>
                    <div class="pull-right">
                        <button type="button" gz-authorize="guest" gz-match="exact" class="btn-gz btn-gz-alt nav-btn-login" ng-click="login()">
                            LOGIN
                        </button>
                        <button type="button" gz-authorize="guest" gz-match="exact" class="btn-gz nav-btn-login" ng-click="signup()">
                            SIGNUP
                        </button>
                        <span gz-authorize="gamer,investor" class="user-info">
                            @*<span class="user-name">{{name}}</span>*@
                            <span class="user-avatar dropdown-toggle" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                  ng-mouseover="avatarHovered = true;" ng-mouseleave="avatarHovered = false;">
                                <span class="user-initials img-circle">
                                    <span class="user-initials-text">{{initials}}</span>
                                    <i class="fa fa-angle-down" ng-class="{'appear':avatarHovered}"></i>
                                </span>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
                                <li class="text-center"><h5><b>{{fullname}}</b></h5></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="changePassword()">Change Password</a></li>
                                <li><a ng-click="logout()">Logout</a></li>
                            </ul>
                        </span>
                        <div gz-authorize="gamer,investor" gz-match="all" class="switch">
                            <a ng-class="{'on':gamesMode, 'off':!gamesMode}" ng-click="!gamesMode || toInvestments()">
                                <img ng-src="{{gamesMode ? investmentsImgOn : investmentsImgOff}}" />
                            </a>
                            <a ng-class="{'on':!gamesMode, 'off':gamesMode}" ng-click="gamesMode || backToGames()">
                                <img ng-src="{{gamesMode ? gamesImgOff : gamesImgOn}}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div style="position: absolute;z-index: 1;background-color: #fff;border-radius: 5px;padding: 10px; width: 300px;margin: 10px 0 0 10px; box-shadow: 1px 1px 10px #707070;"
         ng-style="{'height': collapsed ? '35px' : auto}">
        <i ng-show="!collapsed" class="fa fa-angle-up pull-right" ng-click="collapsed = !collapsed;" style="cursor: pointer;"></i>
        <i ng-show="collapsed" class="fa fa-angle-down pull-right" ng-click="collapsed = !collapsed;" style="cursor: pointer;"></i>
        <div ng-show="!collapsed">
            <div ng-click="collapsed = !collapsed;" style="cursor: pointer;"><i><u>hide authentication data</u></i></div>
            <div>firstname: {{authData.firstname}}</div>
            <div>lastname: {{authData.lastname}}</div>
            <div>currency: {{authData.currency}}</div>
            <div>username: {{authData.username}}</div>
            <div>roles: {{authData.roles}}</div>
            <div>token: {{authData.token.substr(0, 20)}}...</div>
            <div>isGuest: {{authData.isGuest}}</div>
            <div>isGamer: {{authData.isGamer}}</div>
            <div>isInvestor: {{authData.isInvestor}}</div>
            <div>gamesMode: {{gamesMode}}</div>
            <div>balance: {{authData.gamingAccount.amount}}</div>
        </div>
        <div ng-show="collapsed">
            <div ng-click="collapsed = !collapsed;" style="cursor: pointer;"><i><u>show authentication data</u></i></div>
        </div>
    </div>
</header>


