<script type="text/ng-template" id="login-signup.html">
    <div gz-authorize="guest" gz-match="exact" ng-class="{'text-center': sm || md}">
        <span ng-class="{'col-xs-12':xs, 'col-sm-offset-3':sm, 'col-sm-3':sm, 'col-sm-offset-4':md, 'col-md-2':md}">
            <button type="button" class="btn-gz btn-gz-alt" ng-click="login()" ng-class="{'full-width':!lg}">
                LOGIN
            </button>
        </span>
        <span ng-class="{'col-xs-12':xs, 'col-sm-3':sm, 'col-md-2':md}">
            <button type="button" class="btn-gz" ng-click="signup()" ng-class="{'full-width':!lg}">
                SIGNUP
            </button>
        </span>
    </div>
</script>

<script type="text/ng-template" id="navbar-menu.html">
    <div class="navbar-menu-container" ng-class="{'pull-right':lg}">
        <div class="col-lg-push-12" ng-class="{'pull-right':lg}">
            <div ng-if="lg" ng-include src="'login-signup.html'"></div>
            <div gz-authorize="gamer,investor" class="user-info">
                @*<span class="user-fullname" ng-hide="lg" gz-authorize="gamer,investor">{{fullname}}</span>*@
                <span class="user-avatar dropdown-toggle" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      ng-mouseover="avatarHovered = true;" ng-mouseleave="avatarHovered = false;">
                    <span class="user-initials img-circle">
                        <span class="user-initials-text">{{initials}}</span>
                    </span>
                </span>
                <ul class="dropdown-menu" ng-class="{'dropdown-menu-right':lg}" aria-labelledby="user-dropdown">
                    <li class="fullname"><h5><b>{{fullname}}</b></h5></li>
                    <li role="separator" class="divider"></li>
                    <li ng-repeat="s in accountManagementStates">
                        <a ng-click="gotoState(s)">{{s.title}}</a>
                    </li>
                </ul>
                <div class="switch" ng-class="{'pull-right':!lg}">
                    <a ng-class="{'on':!routeData.investing, 'off':routeData.investing}" ng-click="routeData.investing || toInvestments()" ng-mouseover="investingOver = true;" ng-mouseleave="investingOver = false;">
                        <img ng-src="{{routeData.investing ? investmentsImgOff : investmentsImgOn}}" />
                    </a>
                    <div ng-hide="routeData.investing || routeData.gaming" class="divider"></div>
                    <a ng-class="{'on':!routeData.gaming, 'off':routeData.gaming}" ng-click="routeData.gaming || backToGames()" ng-mouseover="gamingOver = true;" ng-mouseleave="gamingOver = false;">
                        <img ng-src="{{routeData.gaming ? gamesImgOff : gamesImgOn}}" />
                    </a>
                </div>
            </div>
        </div>
        <div class="links col-lg-pull-12">
            <nav class="cl-effect">
                <ul gz-authorize="guest" gz-match="exact" ng-class="{'text-center':!lg}">
                    <li ng-repeat="route in routes.guest">
                        <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                    </li>
                </ul>
                <ul gz-authorize="gamer" ng-show="routeData.gaming || routeData.wandering" style="margin-top: 0;">
                    <li ng-if="hasGamingBalance" uib-tooltip-html="gamingBalanceDetails" tooltip-placement="bottom" tooltip-class="header-balance-tooltip" ng-class="{'text-center':!lg}">
                        {{currency}} {{gamingBalance | number : 2}}
                    </li>
                    <li ng-class="{'text-center': sm || md}">
                        <span ng-class="{'col-xs-12':xs, 'col-sm-offset-3':sm, 'col-sm-3':sm, 'col-sm-offset-4':md, 'col-md-2':md}">
                            <button type="button" class="btn-gz btn-gz-alt header-btn" ng-click="deposit()" ng-class="{'full-width':!lg}">
                                DEPOSIT
                            </button>
                        </span>
                        <span ng-class="{'col-xs-12':xs, 'col-sm-3':sm, 'col-md-2':md}">
                            <button type="button" class="btn-gz btn-gz-alt header-btn" ng-click="withdraw()" ng-class="{'full-width':!lg}">
                                WITHDRAW
                            </button>
                        </span>
                    </li>
                </ul>
                <ul gz-authorize="investor" ng-show="routeData.investing" ng-class="{'text-center':!lg}">
                    <li ng-repeat="route in routes.investment">
                        <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div ng-if="!lg" ng-include src="'login-signup.html'"></div>
    </div>
</script>

<header ng-controller="headerCtrl" class="clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" ng-class="{'scrolled':scrolled}">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" ng-click="gotoHome()">
                    <img src="../../Content/images/logo.svg" alt="Logo" />
                    <h2 class="relative">
                        greenzorro
                        <span class="version">alpha</span>
                    </h2>
                </a>
                <button type="button" class="navbar-toggle collapsed" ng-class="{'collapsed': !mobileMenuExpanded}" ng-click="expandCollapseMobileMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-top-bar"></span>
                    <span class="icon-bar icon-middle-bar"></span>
                    <span class="icon-bar icon-bottom-bar"></span>
                </button>
            </div>

            <div class="visible-lg navbar-desktop-menu">
                <div ng-include src="'navbar-menu.html'"></div>
            </div>
        </div>
    </nav>
    <div class="hidden-lg navbar-mobile-menu" ng-class="{'expanded': mobileMenuExpanded}">
        <div ng-include src="'navbar-menu.html'"></div>
    </div>
    <div ng-if="inDebugMode"
         style="position: absolute;z-index: 10000;background-color: #fff;border-radius: 5px;padding: 10px; margin: 10px 0 0 10px; box-shadow: 1px 1px 10px #707070;top: 70px;"
         ng-style="{'height': collapsed ? '35px' : auto, 'width': collapsed ? '30px' : '300px'}" ng-init="collapsed = true;">
        <i ng-show="!collapsed" class="fa fa-angle-up pull-right" ng-click="collapsed = !collapsed;" style="cursor: pointer;"></i>
        <i ng-show="collapsed" class="fa fa-angle-down pull-right" ng-click="collapsed = !collapsed;" style="cursor: pointer;"></i>
        <div ng-show="!collapsed">
            <div ng-click="collapsed = !collapsed;" style="cursor: pointer;"></div>
            <div>firstname: {{_authData.firstname}}</div>
            <div>lastname: {{_authData.lastname}}</div>
            <div>currency: {{_authData.currency}}</div>
            <div>username: {{_authData.username}}</div>
            <div>roles: {{_authData.roles}}</div>
            <div>token: {{_authData.token.substr(0, 20)}}...</div>
            <div>isGuest: {{_authData.isGuest}}</div>
            <div>isGamer: {{_authData.isGamer}}</div>
            <div>isInvestor: {{_authData.isInvestor}}</div>
            <div>category: {{routeData.category}}</div>
            <div>wandering: {{routeData.wandering}}</div>
            <div>gaming: {{routeData.gaming}}</div>
            <div>investing: {{routeData.investing}}</div>
            <div>balance: {{_authData.gamingBalance}}</div>
        </div>
    </div>
</header>


