@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using gzWeb.Models;
@using Microsoft.Owin.Security;

@if (Request.IsAuthenticated) {

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "float-right" })) {
        @Html.AntiForgeryToken();

    <ul class="menu">
        <li>
            @Html.ActionLink("Hello " + Html.Action("GetUserFirstName", "Account") + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="menu">
        <li>@Html.ActionLink("Sing Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
