<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="CurrencyRatesUrl" value="https://openexchangerates.org/api/latest.json?app_id=b26776ee05a74ed9817e8da69e80a16a" />
      <add key="BaseFolder" value="d:\sc\gz\" />
      <add key="ExcelInFolder" value="inRpt" />
      <add key="ExcelOutFolder" value="outRpt" />
    </appSettings>
    <connectionStrings configSource="connectionStrings.config">
    </connectionStrings>
</configuration>