
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="bg-holder">
                    <img src="@Url.Content("~/Content/Images/logo_no_bg.svg")" />
                    <span class="admin-title">Administrator</span>
                </div>
            </div>
        </div>
    </div>
</div>
