<div class="auth gdpr">
    <div class="row heading">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
            <h2 class="text-gz">EU GDPR</h2>
            <h4>we ask for your consent</h4>
        </div>
    </div>
    <div class="row content bg-gz">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="logo-icon text-center">
                <img src="/Content/Images/logo.svg">
            </div>
        </div>
        <form class="form-horizontal" name="form" ng-submit="submit()" role="form" novalidate>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-left">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </div>
                </div>
            </div>

            <div class="row emphatic">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-left">
                        <div class="col-xs-3">
                            <span class="radios">
                                <label><input type="radio" ng-model="consents.allowGzEmail" value="true">Yes</label>
                                <label><input type="radio" ng-model="consents.allowGzEmail" value="false">No</label>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <span class="radio-text">Please send me exclusive offers by email</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-left">
                        <div class="col-xs-3">
                            <span class="radios">
                                <label><input type="radio" ng-model="consents.allowGzSms" value="true">Yes</label>
                                <label><input type="radio" ng-model="consents.allowGzSms" value="false">No</label>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <span class="radio-text">Please send me exclusive offers by sms</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-left">
                        <div class="col-xs-3">
                            <span class="radios">
                                <label><input type="radio" ng-model="consents.allow3rdPartySms" value="true">Yes</label>
                                <label><input type="radio" ng-model="consents.allow3rdPartySms" value="false">No</label>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <span class="radio-text">Allow <a class="external" href="/third-parties" target="_blank">3rd parties</a> to send me sms</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-left">
                        <span>I confirm that I am 18 years or older and</span>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-left">
                        <div class="col-xs-3">
                            <span class="radios">
                                <label><input type="radio" ng-model="consents.acceptedGdprTc" value="true">Yes</label>
                                <label><input type="radio" ng-model="consents.acceptedGdprTc" value="false">No</label>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <span class="radio-text">I have read and accept the <a class="external" href="/gaming-terms" target="_blank">gaming</a> and <a class="external" href="/investment-privacy" target="_blank">investment</a> terms and conditions</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-left">
                        <div class="col-xs-3">
                            <span class="radios">
                                <label><input type="radio" ng-model="consents.acceptedGdprPp" value="true">Yes</label>
                                <label><input type="radio" ng-model="consents.acceptedGdprPp" value="false">No</label>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <span class="radio-text">I have read and accept the <a class="external" href="/gaming-privacy" target="_blank">gaming</a> and <a class="external" href="/investment-privacy" target="_blank">investment</a> privacy policy</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-left">
                        <div class="col-xs-3">
                            <span class="radios">
                                <label><input type="radio" ng-model="consents.acceptedGdpr3rdParties" value="true">Yes</label>
                                <label><input type="radio" ng-model="consents.acceptedGdpr3rdParties" value="false">No</label>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <span class="radio-text">I have read and accept <a class="external" href="/third-parties" target="_blank">3rd parties</a> terms and conditions and privacy policies</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    <div class="btns text-center">
                        <button type="button" class="btn-gz btn-gz-alt logout" ng-click="logout()"
                                ng-mouseenter="logoutHovered = true" ng-mouseleave="logoutHovered = false">
                            <span ng-show="logoutWaiting && !logoutHovered" us-spinner="spinnerWhite"></span>
                            <span ng-show="logoutWaiting && logoutHovered" us-spinner="spinnerGreen"></span>
                            <span ng-show="!logoutWaiting">Log Out</span>
                        </button>
                        <button type="submit" class="btn-gz continue" ng-disabled="!isFormValid()"
                                ng-mouseenter="continueHovered = true" ng-mouseleave="continueHovered = false">
                            <span ng-show="continueWaiting && !continueHovered" us-spinner="spinnerGreen"></span>
                            <span ng-show="continueWaiting && continueHovered" us-spinner="spinnerWhite"></span>
                            <span ng-show="!continueWaiting">Continue</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>