<div class="auth gdpr">
    <div class="row heading">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
            <h2 class="text-gz">EU GDPR</h2>
            <h4>we ask for your consent</h4>
        </div>
    </div>
    <div class="row content bg-gz">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="logo-icon text-center">
                <img src="/Content/Images/logo.svg">
            </div>
        </div>
        <form class="form-horizontal" name="form" ng-submit="submit()" role="form" novalidate>
            <div class="row">
                <div class="form-group text-justify">
                    We’ve recently updated our: Terms of Service, and Privacy Policy (collectively, “Terms of Service”). The updated Terms of Service and Privacy Policy will automatically come into effect for all existing users on May 25, 2018. If you signed up for an account prior to 25th of May 2018 we’ll ask you to agree to the new Terms when you use the Website on or after May 25, 2018. Your continued use of the Website from that day on will be subject to the new Terms of Service and Privacy Policy. If you signed up for an account on or after May 25, 2018, the updated Terms of Service and Privacy Policy apply to you.
                </div>
            </div>

            <div class="row emphatic">
                <div class="form-group text-left" ng-show="isTc||showTcbyUserConsentApi">
                    <div class="col-xs-2">
                        <!--<gz-check-box gz-model="consents" gz-value="acceptedGdprTc"></gz-check-box>-->
                        <span class="radios">
                            <label><input type="radio" ng-model="consents.acceptedGdprTc" value="true">Yes</label>
                            <label><input type="radio" ng-model="consents.acceptedGdprTc" value="false">No</label>
                        </span>
                    </div>
                    <div class="col-xs-10">
                        <span class="radio-text">I accept the <a class="external" href="/gaming-terms" target="_blank">Gaming Terms & Conditions</a>, the <a class="external" href="/gaming-privacy" target="_blank">Gaming Privacy Policy</a> and the <a class="external" href="/third-parties" target="_blank">Cookie Policy</a> as published on this site and confirm that I am over 18 years old.</span>
                    </div>
                </div>
                <!--
            <div class="form-group text-left">
                <div class="col-xs-3">
                    <span class="radios">
                        <label><input type="radio" ng-model="consents.acceptedGdprPp" value="true">Yes</label>
                        <label><input type="radio" ng-model="consents.acceptedGdprPp" value="false">No</label>
                    </span>
                </div>
                <div class="col-xs-9">
                    <span class="radio-text">I have read and accept the <a class="external" href="/gaming-privacy" target="_blank">gaming</a> privacy policy</span>
                </div>
            </div>
            <div class="form-group text-left">
                <div class="col-xs-3">
                    <span class="radios">
                        <label><input type="radio" ng-model="consents.acceptedGdpr3rdParties" value="true">Yes</label>
                        <label><input type="radio" ng-model="consents.acceptedGdpr3rdParties" value="false">No</label>
                    </span>
                </div>
                <div class="col-xs-9">
                    <span class="radio-text">I have read and accept <a class="external" href="/third-parties" target="_blank">3rd parties</a> terms and conditions and privacy policies</span>
                </div>
            </div>
                        -->
                <div class="form-group text-left" ng-show="showEmail">
                    <div class="col-xs-2">
                        <span class="radios">
                            <label><input type="radio" ng-model="consents.allowGzEmail" value="true">Yes</label>
                            <label><input type="radio" ng-model="consents.allowGzEmail" value="false">No</label>
                        </span>
                    </div>
                    <div class="col-xs-10">
                        <span class="radio-text">I am happy to receive customised marketing communications and exclusive offers via email.</span>
                    </div>
                </div>
                <div class="form-group text-left" ng-show="showSms">
                    <div class="col-xs-2">
                        <span class="radios">
                            <label><input type="radio" ng-model="consents.allowGzSms" value="true">Yes</label>
                            <label><input type="radio" ng-model="consents.allowGzSms" value="false">No</label>
                        </span>
                    </div>
                    <div class="col-xs-10">
                        <span class="radio-text">I am happy to receive customised marketing communications and exclusive offers via SMS.</span>
                    </div>
                </div>

                <div class="form-group text-left" ng-show="show3rdParty">
                    <div class="col-xs-2">
                        <span class="radios">
                            <label><input type="radio" ng-model="consents.allow3rdPartySms" value="true">Yes</label>
                            <label><input type="radio" ng-model="consents.allow3rdPartySms" value="false">No</label>
                        </span>
                    </div>
                    <div class="col-xs-10">
                        <span class="radio-text">I am happy to receive similar marketing communications via email or sms from partners.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="btns text-center">
                    <button type="button" class="btn-gz btn-gz-alt logout" ng-click="logout()"
                            ng-mouseenter="logoutHovered = true" ng-mouseleave="logoutHovered = false">
                        <span ng-show="logoutWaiting && !logoutHovered" us-spinner="spinnerWhite"></span>
                        <span ng-show="logoutWaiting && logoutHovered" us-spinner="spinnerGreen"></span>
                        <span ng-show="!logoutWaiting">Log Out</span>
                    </button>
                    <button type="submit" class="btn-gz continue" ng-disabled="!isFormValid()"
                            ng-mouseenter="continueHovered = true" ng-mouseleave="continueHovered = false">
                        <span ng-show="continueWaiting && !continueHovered" us-spinner="spinnerGreen"></span>
                        <span ng-show="continueWaiting && continueHovered" us-spinner="spinnerWhite"></span>
                        <span ng-show="!continueWaiting">Continue</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>