<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="evuser" value="presto"/>
    <add key="evpwd" value="gz2017!@"/>
    <add key="evtoken" value="3DFEC757D808494"/>
    <add key="hostGmailUser" value="hostmaster@greenzorro.com" />
    <add key="hostGmailPwd" value="c9X6&amp;jSBq%FS!$&amp;roa^8" />
    <add key="helpGmailUser" value="help@greenzorro.com" />
    <add key="helpGmailPwd" value="f87#Di!5rd8s6Cyr" />
  </appSettings>
  <connectionStrings configSource="connectionStrings.config"></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>