<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="evuser" value="presto"/>
    <add key="evpwd" value="gz2017!@"/>
    <add key="evtoken" value="3DFEC757D808494"/>
    <add key="queueConnString" value="https://gzazurefunctionsstorage.queue.core.windows.net/withdrawn-vintages-bonus"/>
    <add key="queueName" value="withdrawn-vintages-bonus"/>
    <!-- storageexplorer://v=1&accountid=%2Fsubscriptions%2Fd92ca232-a672-424c-975d-1dcf45a58b0b%2FresourceGroups%2FAzureFunctions_RG%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fgzazurefunctionsstorage&subscriptionid=d92ca232-a672-424c-975d-1dcf45a58b0b&resourcetype=Azure.Queue&resourcename=withdrawn-vintages-bonus -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>