<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="evuser" value="presto"/>
    <add key="evpwd" value="gz2017!@"/>
    <add key="evtoken" value="3DFEC757D808494"/>
    <add key="queueConnString" value="https://gzazurefunctionsstorage.queue.core.windows.net/withdrawn-vintages-bonus"/>
    <add key="queueName" value="withdrawn-vintages-bonus"/>
    <add key="storageConnString" value="DefaultEndpointsProtocol=https;AccountName=gzazurefunctionsstorage;AccountKey=70GYx9psHLDTh+y4TBIYNb2OSkXRWy5JTIdFFGL7GY3EsrTnebs8ztsyEu3ro5ZEnOm1g8RmgbrlORpSQuJEjQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>