source https://www.nuget.org/api/v2/

framework: net452

nuget canopy
nuget FSharp.Azure.StorageTypeProvider
nuget FSharp.Configuration
nuget FSharp.Core <= 4.1.34
nuget FSharp.Data
nuget FSharp.Data.TypeProviders
nuget FSharp.Json
nuget MailKit
nuget NLog
nuget NLog.Config
nuget NLog.Schema
nuget Selenium.WebDriver
nuget Selenium.Chrome.WebDriver