@charset "utf-8";

.games {
}

/* #region games list */
.games-list {
}

/* #region filter categories */
.games-list .filters {
    background-color: #dfdfdf;
    padding: 20px 0;
    position: relative;
}

.games-list .filters .filter-categories {
    line-height: 48px;
    text-align: center;
    /*text-align-last: justify;*/
}
/*.games-list .filters .filter-categories::after {
    content: '';
    width: 100%;
}*/
.games-list .filters .filter-categories .divider {
    /*font-size: 22px;*/
    font-size: 16px;
    color: #aaa;
}
.games-list .filters .filter-categories a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
    line-height: 48px;
    position: relative;

    /*padding: 10px;
    margin: 5px 10px;
    font-size: 22px;*/

    padding: 3px;
    margin: 5px 3px;
    font-size: 16px;
}


.games-list .filters .filter-categories .filter-category:first-of-type a {
    margin-left: 0;
}
.games-list .filters .filter-categories .filter-category:last-of-type a {
    margin-right: 0;
}
.games-list .filters .categories a:hover,
.games-list .filters .categories a:focus,
.games-list .filters .categories a:active {
    color: #000;
}

.games-list .filters .filter-categories a.selected {
    /*color: #fff;
    background-color: #27A95C;*/
    font-weight: 700;
}

.games-list .filters .filter-categories a.selected:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background: #000;
    box-shadow: 0 0 2px #000;
}

/*@media (min-width: 1495px) and (max-width: 1805px) {
    .games-list .filters .filter-categories .divider {
        font-size: 20px;
    }
    .games-list .filters .filter-categories a {
        padding: 5px;
        margin: 5px 5px;
        font-size: 20px;
    }
}
@media (min-width: 1200px) and (max-width: 1494px) {
    .games-list .filters .filter-categories .divider {
        font-size: 16px;
    }
    .games-list .filters .filter-categories a {
        padding: 3px;
        margin: 5px 3px;
        font-size: 16px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .games-list .filters .filter-categories .divider {
        font-size: 16px;
    }
    .games-list .filters .filter-categories a {
        padding: 3px;
        margin: 5px 3px;
        font-size: 16px;
    }
}*/
/* #endregion */

/* #region search-by-name */
.games-list .filters .search-by-name {
    /*margin-bottom: 10px;*/
}
.games-list .filters .search-by-name input {
    border-radius: 4px;
    /*font-size: 18px;*/
}
.games-list .filters .search-by-name .search-btn i.fa.fa-search {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-right: 18px;

    font-size: 18px;
    line-height: 48px;
    margin-right: 20px;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;

    /*color: #c2ccc6;*/
    color: #27A95C;
}
/*.games-list .filters .search-by-name.focused .search-btn i.fa.fa-search,
.games-list .filters .search-by-name .search-btn:hover i.fa.fa-search {
    color: #27A95C;
}*/

@media (max-width: 767px) {
    .games-list .filters .search-by-name {
        margin-bottom: 10px;
    }
}
/* #endregion */

/* #region search-by-vendor */
.games-list .filters .search-by-vendor .gz-select select.form-control {
    background-position-x: calc(100% - 10px);
}
@media (max-width: 767px) {
    .games-list .filters .search-by-vendor {
        margin-bottom: 10px;
    }
}
/* #endregion */

/* #region live search */
.games-list .filters .live-search {
    /*position: relative;*/
}
.games-list .filters .live-search input {
    /*height: 34px;*/
    border-radius: 4px;
    font-size: 18px;
}
.games-list .filters .live-search .form-control-feedback {
    margin-right: 18px;
    /*line-height: 34px;*/
}

.games-list .filters .live-search-results {
    position: absolute;
    top: 35px;
    right: 15px;
    background-color: #fff;
    border: 1px #ccc solid;
    width: 690px;
    max-width: calc(100vw - 75px);
    height: 200px;
    border-radius: 4px;
    z-index: 1000;
}

.games-list .filters .live-search-results.media-list {
    overflow-y: auto;
}
.games-list .filters .live-search-results.media-list .media {
    padding: 5px;
    margin: 0;
    background-color: #fff;
}
.games-list .filters .live-search-results.media-list .media:hover {
    background-color: #f2f2f2;
}
.games-list .filters .live-search-results.media-list .media.selected {
    background-color: #27A95C;
    color: #fff;
}

.games-list .filters .live-search-results.media-list .no-results {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.games-list .filters .live-search-results.media-list .more-results {
    text-align: center;
}
.games-list .filters .live-search-results.media-list .more-results button {
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    text-decoration: none;
    background-color: #27A95C;
    color: #fff;
}
.games-list .filters .live-search-results.media-list .more-results button .badge {
    background-color: #fff;
    color: #27A95C;
}

@media (max-width: 767px) {
    .games-list .filters .live-search input,
    .games-list .filters .live-search .form-control-feedback {
        margin-top: 10px;
    }
}
/* #endregion */

/* #region categories */
.categories {
    margin-bottom: 50px;
}
.categories .category {
    margin: 10px;
}
.categories .category .title {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 15px;
    line-height: 36px;
}

.categories .category .title .sorting {
    font-size: 12px;
    position: relative;
}
.categories .category .title .sorting button.btn-gz {
    margin: 0;
    font-size: 12px;
}

.categories .category .title .sorting .gz-select select {
    display: inline;
    width: auto;
    height: 36px;
}
.categories .category .title .sorting .gz-select i {
    right: 10px;
}


.tooltip.sorting-tooltip .tooltip-inner {
    color: #fff;
    background-color: #27A95C;
    box-shadow: 0 6px 12px rgba(255,255,255,.175);
}
.tooltip.sorting-tooltip .tooltip-arrow {
    border-top-color: #27A95C !important;
}



.categories .category .game {
    padding: 0;
}
/*.categories .category .game + .clearfix {
    margin-bottom: 50px;
}*/
.categories .category .game a {
    text-decoration: none;
    color: #000;
    /*padding: 20px 0;*/
}
.categories .category .game a .game-img {
    padding: 10px;
    position: relative;
}
.categories .category .game a .game-info {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #27A95C;
    background-color: rgba(39, 169, 92, 0.9);
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    border-radius: 2px;
}
.categories .category .game a:hover .game-info {
    /*transform: scale(1.1);*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.categories .category .game.show-all a .game-info {
    opacity: 1;
}
.categories .category .game.show-all a .game-img {
    opacity: 0;
}

/*.categories .category .game a .game-info .game-play {
    position: absolute;
    top: calc(50% - 22px);
    width: 100%;
}*/


.categories .category .game a .game-info .game-play {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    text-decoration: none;
    z-index: 1;
    color: #fff;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
}
.categories .category .game a .game-info .game-play:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    top: -2px;
    left: -2px;
    padding: 0;
    z-index: 10;
    border: 2px none #fff;
}
.categories .category .game a .game-info .game-play:before {
    speak: none;
    font-size: 28px;
    line-height: 60px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.categories .category .game a .game-info .game-play:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    color: #fff;
    background-color: #07893C;

    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.categories .category .game a .game-info .game-play:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
    border-style: dashed;
}

.categories .category .game a .game-info .game-play i.fa-play {
    margin-left: 5px;
    margin-top: 2px;
}
.categories .category .game a .game-info .game-play:hover i {
    color: #fff;
}

@-webkit-keyframes spinAround {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinAround {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media (max-width: 767px) {
    .categories .category .game a .game-info .game-play {
        line-height: 30px;
        width: 30px;
        height: 30px;
        top: calc(50% - 5px);
        left: calc(50% - 15px);
        font-size: 16px;
    }
    .categories .category .game a .game-info .game-play:before {
        font-size: 16px;
        line-height: 30px;
    }
    .categories .category .title .sorting .gz-select i {
        top: -10px;
    }
}

.categories .category .game a .game-info .game-play-fun {
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    z-index: 1;
    color: #fff;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
    width: 80px;
    left: calc(50% - 40px);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.categories .category .game a .game-info .game-play-fun:hover {
    background-color: #fff;
    color: #27A95C;
}






.play-arrow {
	/*position: relative;
	background-color: #fff;
	text-align: left;*/

    position: absolute;
    background-color: #fff;
    text-align: left;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
}
.play-arrow:before,
.play-arrow:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.play-arrow,
.play-arrow:before,
.play-arrow:after {
	/*width:  1em;
	height: 1em;
	border-top-right-radius: 30%;*/
    width: 10px;
    height: 10px;
    border-top-right-radius: 40%;
}

.play-arrow {
	transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
}
.play-arrow:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.play-arrow:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.carousel-video {
    width: 800px;
    height: 450px;
}



.categories .category .game a .game-info .game-name {
    position: absolute;
    top: 10%;
    width: 100%;
    font-size: 12px;
}



/*.categories .category .game a:hover img {
    transform: scale(1.1);
    z-index: 1;

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}*/
.categories .category .game a:hover div {
}



/*.categories .category .game.ng-enter {
    opacity: 0;
}
.categories .category .game.ng-enter-active {
    opacity: 1;
}

.categories .category .game a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
    top: 0;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.categories .category .game:hover a {
    background-color: rgba(39, 169, 92, 0.6);
}
.categories .category .game a .name {
    position: absolute;
    width: 100%;
    text-align: center;
    display: block;
    bottom: 0;
    color: transparent;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.categories .category .game:hover a .name {
    color: #fff;
}


.categories .category .game a .play-btn {
    position: absolute;
    z-index: 5;
    width: 28px;
    height: 28px;
    left: calc(50% - 14px);
    top: calc(50% - 14px);
    -ms-opacity: 0;
    opacity: 0;
    color: #fff;

    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.categories .category .game a .play-btn i.fa-play-circle{
    position: absolute;
    z-index: 6;
    width: 28px;
    height: 28px;
    left: calc(50% - 14px);
    top: calc(50% - 14px);
    color: #fff;
}
.categories .category .game a .play-btn i.fa-circle{
    position: absolute;
    z-index: 5;
    width: 18px;
    height: 18px;
    left: calc(50% - 9px);
    top: calc(50% - 9px);
    color: #27a95c;
}

.categories .category .game:hover a .play-btn {
    -ms-opacity: 1;
    opacity: 1;
}*/

.categories .category .load-more {
    margin: 5px 0;
    height: 28px;
    line-height: 28px;
}
/* #endregion */



/* #region game play */
.game-play .game-bg {
    z-index: -2;
    margin-top: 70px;
}
.game-play .game-frame {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.game-play .game-frame iframe {
    position: fixed;

    background-color: #000;
    -webkit-box-shadow: 0 0 50px 0 #fff;
    -ms-box-shadow: 0 0 50px 0 #fff;
    box-shadow: 0 0 50px 0 #fff;
    border: 1px solid #fff;
}

/*.game-play .game-frame.isInFullScreen iframe {
}*/

.game-play .game-frame .game-actions {
    position: fixed;
    z-index: 2;
    color: #fff;
    padding: 5px;
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /*background-color: #000000;
    background-color: rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 50px 0 #fff;
    -ms-box-shadow: 0 0 50px 0 #fff;
    box-shadow: 0 0 50px 0 #fff;*/
    background-color: #27a95c;
    border: 1px solid #fff;
    border-top: none;
}
.game-play .game-frame .game-actions i {
    margin: 2px 8px;
    cursor: pointer;
}


.game-play .game-frame .game-close {
    position: fixed;
    z-index: 2;
    color: #fff;
    padding: 5px;
    background-color: #27a95c;
    /*border: 1px solid #fff;*/
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*.game-play .game-frame .game-close:hover {
    color: #27a95c;
    background-color: #fff;
}*/


.game-play .game-frame .game-licence {
    position: fixed;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    width: 100%;
    text-align: center;
    z-index: -1;
}


.fullscreen-hud {
    color: #27A95C;
    position: fixed;
    z-index: 10000000000000;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}
.fullscreen-hud i.fa {
    margin-right: 10px;
}
.fullscreen-hud .exit {
    /*margin-right: 40px;*/
    cursor: pointer;
}
.fullscreen-hud .clock {
    width: 75px;
    margin-right: 20px;
}
/* #endregion */

