<div class="clearfix games">
    <div class="games-list">
        <div class="full-width">
            <gz-carousel gz-slides="carouselSlides"></gz-carousel>
        </div>

        <div class="filters">
            <div class="container">
                <div class="col-xs-12">
                    <div class="filter-categories">
                        <span ng-repeat-start="category in gameCategories" class="filter-category">
                            <a ng-class="{'selected':category.selected}" ng-click="onCategorySelected($index)">
                                {{category.title}}
                            </a>
                            <span class="divider" ng-hide="$index === gameCategories.length - 1 || (xs && $index % 3 === 2) || (sm && $index % 6 === 5)">|</span>
                        </span>
                        <span ng-repeat-end ng-class="{'clearfix':(xs && $index % 3 === 2) || (sm && $index % 6 === 5)}"></span>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
                    <div class="search-by-vendor">
                        <gz-select gz-name="filter-vendor" gz-model="searchByVendorTerm" gz-collection="vendors" gz-change="onSearchByVendor(id)" gz-prompt="SELECT VENDOR" gz-loading="loadingVendors"></gz-select>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
                    <div class="search-by-name" ng-class="{'focused': searchByNameFocused}">
                        <!--<input type="search" placeholder="SEARCH GAME" class="form-control" ng-model="searchByNameTerm"
                               ng-focus="searchByNameFocused = true;" ng-blur="searchByNameFocused = false;" cs-enter="onSearchByName()">
                        <a class="search-btn" ng-click="searchingByName || onSearchByName()">
                            <i class="fa fa-search" ng-show="!searchingByName"></i>
                            <span us-spinner="spinnerGreenXsAbs" ng-show="searchingByName"></span>
                        </a>-->
                        <input type="search" placeholder="SEARCH GAME" class="form-control" ng-model="searchByNameTerm"
                               ng-focus="searchByNameFocused = true;" ng-blur="searchByNameFocused = false;" ng-change="onSearchByName()">
                        <a class="search-btn" ng-click="searchingByName || onSearchByName()">
                            <i class="fa fa-search" ng-show="!searchingByName"></i>
                            <span us-spinner="spinnerGreenXsAbs" ng-show="searchingByName"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="categories">
            <div class="container-fluid">
                <div class="text-center" ng-show="thereAreNoResults()">
                    <h5>No games found</h5>
                </div>
                <div class="category" ng-repeat="category in projectedCategories" ng-show="category.games.length > 0">
                    <div class="row">
                        <div class="title col-xs-12" ng-class="{'text-center': xs}">
                            <span>{{category.title}}</span>

                            <span class="sorting pull-right">
                                Sort by
                                <!--<span>
                                    <button class="btn-gz" ng-class="{'btn-gz-alt': category.sorting.by === 'alpha' && category.sorting.order === 'asc'}" uib-tooltip="Alphabetically - Ascending" tooltip-class="sorting-tooltip">
                                        <i class="fa fa-sort-alpha-asc"></i>
                                    </button>
                                    <button class="btn-gz" ng-class="{'btn-gz-alt': category.sorting.by === 'alpha' && category.sorting.order === 'desc'}" uib-tooltip="Alphabetically - Decending" tooltip-class="sorting-tooltip">
                                        <i class="fa fa-sort-alpha-desc"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="btn-gz" ng-class="{'btn-gz-alt': category.sorting.by === 'popularity' && category.sorting.order === 'asc'}" uib-tooltip="Popularity - Ascending" tooltip-class="sorting-tooltip">
                                        <i class="fa fa-sort-amount-asc"></i>
                                    </button>
                                    <button class="btn-gz" ng-class="{'btn-gz-alt': category.sorting.by === 'popularity' && category.sorting.order === 'desc'}" uib-tooltip="Popularity - Decending" tooltip-class="sorting-tooltip" tooltip-is-open="true">
                                        <i class="fa fa-sort-amount-desc"></i>
                                    </button>
                                </span>-->
                                <!--<gz-select gz-name="sort-by" gz-model="category.sorting.by" gz-collection="sortingByTypes" gz-change="onSortByChanged(id)" gz-no-prompt></gz-select>
                                <gz-select gz-name="sort-order" gz-model="category.sorting.order" gz-collection="sortingOrderTypes" gz-change="onSortOrderChanged(id)" gz-no-prompt></gz-select>-->
                                <gz-select gz-name="sort" gz-model="category.sorting" gz-collection="sortingTypes" gz-id="key" gz-display="display" gz-no-prompt gz-change="onSortingChanged(id, category)"></gz-select>

                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <!--| orderBy : category.sorting.by : category.sorting.order-->
                            <div ng-repeat-start="g in category.games | unique: 'slug'" class="game text-center col-xs-6 col-sm-4 col-md-2">
                                <a class="game-link" ng-href="{{getGameUrl(g.slug)}}">
                                    <img class="game-img img-responsive full-width" src="{{g.thumbnail}}" cs-fallback-src="../../Content/Images/casino-default.jpg" alt="{{g.name}}" />
                                    <div class="game-info">
                                        <div class="game-play">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="game-name">{{g.name}}</div>
                                    </div>
                                </a>
                            </div>
                            <div ng-repeat-end ng-class="{'clearfix':(xs && $index % 2 === 1) || (sm && $index % 3 === 2) || $index % 6 === 5}"></div>
                            <div ng-if="category.paging === pagingTypes.less && category.games.length === category.paging.size && category.games.length < category.totalGameCount" class="game show-all text-center col-xs-6 col-sm-4 col-md-2 clearfix">
                                <a class="game-link" ng-click="showAll(category)">
                                    <img class="game-img img-responsive full-width" src="../../Content/Images/casino-default.jpg" />
                                    <div class="game-info">
                                        <div class="game-play">
                                            <i class="fa fa-arrow-down"></i>
                                        </div>
                                        <div class="game-name">SHOW ALL</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


