<div class="gz-carousel" ng-swipe-left="gotoNext()" ng-swipe-right="gotoPrevious()">
    <div class="gz-carousel-slides">
        <div ng-repeat="slide in gzSlides track by $index"
             class="gz-slide" ng-class="{'current': $index === currentIndex}"
             ng-style="{ 'margin-left': calcMarginLeft($index), 'z-index': calcZIndex($index) }"
             ng-mouseover="onHover()" ng-mouseleave="onLeave()">
            <img class="gz-slide-bg" ng-src="{{slide.bg}}" />
            <div class="gz-slide-title text-shadow-dark">{{slide.title}}</div>
            <div class="gz-slide-subtitle text-shadow-dark">{{slide.subtitle}}</div>
            <div class="gz-slide-action">
                <a class="gz-slide-action-btn" ng-href="{{slide.url}}">Play now</a>
            </div>
        </div>
    </div>
    <div class="gz-carousel-control gz-carousel-control-previous" ng-click="gotoPrevious()" ng-show="showControls">
        <i class="fa fa-angle-left"></i>
        <span class="sr-only">Previous</span>
    </div>
    <div class="gz-carousel-control gz-carousel-control-next" ng-click="gotoNext()" ng-show="showControls">
        <i class="fa fa-angle-right"></i>
        <span class="sr-only">Next</span>
    </div>
    <div class="gz-carousel-indicators" ng-show="showIndicators">
        <div class="gz-carousel-indicator" ng-class="{'current': $index === currentIndex}" ng-repeat="slide in gzSlides" ng-click="gotoSlide($index)"></div>
    </div>
</div>
