<div class="featured-game" ng-class="{'featured-large': gzGame.rank === 1, 'featured-small': gzGame.rank > 1}">
    <img class="featured-bg img-responsive" src="{{gzGame.backgroundImage}}" cs-fallback-src="{{defaultImg}}" />
    <img class="featured-logo added" src="{{gzGame.logo}}" />
    <div class="featured-name text-shadow-dark">{{gzGame.name}}</div>
    <div class="featured-info text-shadow-dark">{{gzGame.info}}</div>
    <div class="featured-btn" ng-click="playGame()">
        <span class="play-btn">
            <i class="fa fa-2x fa-circle"></i>
            <i class="fa fa-3x fa-play-circle"></i>
        </span>
        <!--<i class="fa fa-3x fa-play-circle"></i>-->
        <!--<button type="button" class="btn-gz btn-gz-alt" ng-click="playGame()">
                PLAY NOW
            </button>-->
    </div>
</div>
