<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!-- Azure Prod Connection -->
    <add name="gzProdDb" connectionString="Server=tcp:gzdbdev.database.windows.net,1433;Database=gzDbDev;User ID=gzdbdevsa@gzdbdev;Password=Gzdb2016;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" xdt:Transform="Replace"/>
  </connectionStrings>

  <!-- Remove Glimpse axd -->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Html5Mode Rule" stopProcessing="true">
          <conditions>
            <add input="{URL}" negate="true" pattern="\.axd$" xdt:Locator="Condition(@input='{URL}')" xdt:Transform="Remove" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" xdt:Transform="Replace"/>
    <glimpse defaultRuntimePolicy="Off" endpointBaseUri="~/Glimpse.axd" xdt:Transform="Replace" />
  </system.web>
</configuration>
