<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    <section name="jsnlog" type="JSNLog.ConfigurationSectionHandler, JSNLog" requirePermission="false" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings configSource="connectionStrings.config" />
  <appSettings>
    <!-- User conf values -->
    <add key="AppName" value="GzWeb" />
    <add key="everyMatrixStage" value="true" />
    <add key="appInsightsEnvKey" value="dev" /> <!-- prd | sgn | dev --> 
    <add key="ReCaptchaSiteKey@greenzorro.com" value="6LfF1yITAAAAAKhsGa_dbvWY4ShgHLQ3SCBx0T1B" />
    <add key="ReCaptchaSiteKey@www.greenzorro.com" value="6LfF1yITAAAAAKhsGa_dbvWY4ShgHLQ3SCBx0T1B" />
    <add key="ReCaptchaSiteKey@greenzorro.azurewebsites.net" value="6Ld2ZB8TAAAAAFPviZAHanWXdifnC88VuM0DdsWO" />
    <add key="ReCaptchaSiteKey@greenzorrodev.azurewebsites.net" value="6Ld2ZB8TAAAAAFPviZAHanWXdifnC88VuM0DdsWO" />
    <add key="ReCaptchaSiteKey@greenzorro-sgn.azurewebsites.net" value="6Ld2ZB8TAAAAAFPviZAHanWXdifnC88VuM0DdsWO" />
    <add key="MigrateDatabaseToLatestVersion" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="QueueAzureConnString" value="DefaultEndpointsProtocol=https;AccountName=gzazurefunctionsstorage;AccountKey=70GYx9psHLDTh+y4TBIYNb2OSkXRWy5JTIdFFGL7GY3EsrTnebs8ztsyEu3ro5ZEnOm1g8RmgbrlORpSQuJEjQ==;EndpointSuffix=core.windows.net" />
    <add key="QueueLocalConnString" value="UseDevelopmentStorage=true;" />
    <add key="QueueName" value="test-withdrawn-vintages-bonus" />
    <!-- Whether to use Cdn in case Azure Cdn fails -->
    <!--<add key="WithdrawalBonunAdmins" value="antonis.voerakos@greenzorro.com;mario.karagiorgas@greenzorro.com" />-->
    <add key="WithdrawalBonunAdmins" value="salem8@gmail.com;mario.karagiorgas@greenzorro.com" />
    <add key="gmailHostMaster" value="hostmaster@greenzorro.com" />
    <add key="gmailHostPwd" value="c9X6&amp;jSBq%FS!$&amp;roa^8" />
    <add key="UseCdn" value="false" />
    <add key="UseBundles" value="false" />
    <add key="StaticCdn" value="https://gzv.azureedge.net" />
    <add key="DynCdn" value="https://gzdyn.azureedge.net" />
    <!-- Not likely to change -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--Trace|Debug|Info|Warn|Error|Fatal-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
    <extensions>
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    -->
    <targets>
      <!--connectionStringName="gzDevDb"-->
      <!--<target xsi:type="ApplicationInsightsTarget" name="aiTarget" />-->
      <target name="dbLog" xsi:type="Database" connectionString="${gdc:item=gzConnectionString}" commandText="INSERT INTO dbo.[LogEntries] ([Application], [Logged], [Level], [Message], [Username], [ServerName], [Port], [Url], [Https], [ServerAddress], [RemoteAddress], [Logger], [CallSite], [Exception]) VALUES (@Application, @Logged, @Level, @Message, @Username, @ServerName, @Port, @Url, @Https, @ServerAddress, @RemoteAddress, @Logger, @Callsite, @Exception);">
        <parameter name="@application" layout="${appsetting:name=AppName:default=Unknown\: set AppName in appSettings}" />
        <parameter name="@logged" layout="${date:universalTime=true}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />

        <parameter name="@username" layout="${identity}" />

        <parameter name="@serverName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
        <parameter name="@port" layout="${aspnet-request:serverVariable=SERVER_PORT}" />
        <parameter name="@url" layout="${aspnet-request:serverVariable=HTTP_URL}" />
        <parameter name="@https" layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />

        <parameter name="@serverAddress" layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
        <parameter name="@remoteAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />

        <parameter name="@logger" layout="${logger}" />
        <parameter name="@callSite" layout="${callsite}" />
        <parameter name="@exception" layout="${exception:tostring}" />
      </target>
      <!--<target name="asyncWrapper" xsi:type="AsyncWrapper" overflowAction="Grow">
        <target name="fileLog" xsi:type="File" 
                layout="${longdate}|${level:uppercase=true:padCharacter= :padding=-5}|${message}${onexception:|EXCEPTION(S) OCCURRED\:${newline}${exception:format=tostring:innerFormat=message:maxInnerExceptionLevel=100}}" 
                fileName="${basedir}/logs/log.txt" 
                archiveFileName="${basedir}/logs/log.{####}.txt" 
                archiveAboveSize="10485760" 
                archiveNumbering="Sequence" 
                maxArchiveFiles="10" 
                encoding="UTF-8" 
                createDirs="true" />
      </target>-->
      <!--<target name="jsloggerWrapper" xsi:type="AsyncWrapper" overflowAction="Grow">
        <target name="jsloggerFile" xsi:type="File"
                fileName="${basedir}/logs/jslogger.txt"
                archiveFileName="${basedir}/logs/jslogger.{####}.txt"
                archiveAboveSize="10485760"
                archiveNumbering="Sequence"
                maxArchiveFiles="10"
                encoding="UTF-8"
                createDirs="true" />
      </target>-->
    </targets>
    <rules>
      <!--<logger name="jslogger" minlevel="Trace" writeTo="jsloggerFile" final="true" />-->
      <!--<logger name="*" minlevel="Trace" writeTo="fileLog" />-->
      <logger name="*" minlevel="Trace" writeTo="dbLog" />
      <!--<logger name="*" minlevel="Trace" writeTo="aiTarget" />-->
    </rules>
  </nlog>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <!-- Remove -x-asp.net version header-->
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
      <!--<add verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" />-->
    </httpHandlers>
    <!-- Replace to mode="On" in Web.Release.config -->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <caching>
      <profiles>
        <!-- Server, Any Cache till change -->
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" duration="00:00:30" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" duration="00:00:30" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" duration="00:00:30" />
        <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" duration="00:00:30" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" duration="00:00:30" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" duration="00:00:30" />
        <add extension=".jgz" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" duration="00:00:30" />
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" duration="00:00:30" />
      </profiles>
    </caching>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" /> 
      <remove fileExtension=".gif" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      <remove fileExtension=".png" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <!-- 1 Day -->
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
      <!--<add name="LoggerHandler" verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" resourceType="Unspecified" preCondition="integratedMode" />-->
      <!--<add name="LoggerHandler-Classic" path="*.logger" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode" />-->
      <add name="Owin" verb="" path="*.logger" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="Off" ignoreCase="true" />
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect greenzorro.com to www.greenzorro.com" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <!-- domain is not canonical  -->
            <add input="{HTTP_HOST}" matchType="Pattern" ignoreCase="true" pattern="^greenzorro\.com$" />
            <add input="{HTTP_HOST}" pattern="^www\.greenzorro\.com$" negate="true" />
            <add input="{HTTP_HOST}" pattern="gz\.azureedge\.net" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.greenzorro.com{HTTP_URL}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <!--http://stackoverflow.com/questions/9111774/iis-url-rewriting-enforce-canonical-hostname-http-to-https-redirect-->
        <!--<rule name="Redirect greenzorro.com to www.greenzorro.com HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false" logicalGrouping="MatchAny">
            --><!-- match non-HTTPS or non-WWW --><!--
            <add input="{HTTPS}" pattern="^OFF$" />
            --><!-- if connection not secure --><!--
            <add input="{HTTP_HOST}" matchType="Pattern" ignoreCase="true" pattern="^greenzorro\.com$" />
            --><!-- domain is not canonical  --><!--
          </conditions>
          <action type="Redirect" url="https://www.greenzorro.com{HTTP_URL}" redirectType="Permanent" appendQueryString="false" />
        </rule>-->
        <rule name="Prevent image hotlinking">
          <match url="(?:jpg|jpeg|png|gif|svg)$" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="^$" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^https://www\.greenzorro\.com/.*$" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^https://greenzorrodev\.azurewebsites\.net/.*$" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^https://greenzorro-tst\.azurewebsites\.net/.*$" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^https://greenzorro-sgn\.azurewebsites\.net/.*$" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^https://localhost" negate="true" />
          </conditions>
          <action type="Rewrite" url="/images/say_no_to_hotlinking.jpg" />
        </rule>
        <rule name="Html5Mode Rule" stopProcessing="true">
          <match url="/*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="API/" ignoreCase="true" negate="true" />
            <add input="{REQUEST_URI}" pattern="_app/" ignoreCase="true" negate="true" />
            <add input="{REQUEST_URI}" pattern="css/" ignoreCase="true" negate="true" />
            <add input="{REQUEST_URI}" pattern="js/" ignoreCase="true" negate="true" />
            <add input="{REQUEST_URI}" pattern="Token" ignoreCase="true" negate="true" />
            <add input="{URL}" negate="true" pattern="\.axd$" />
            <add input="{URL}" pattern="\.logger" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
      <!-- http://marisks.net/2017/05/14/changing-static-resource-urls-to-cdn-urls-with-url-rewrite/ -->
      <outboundRules rewriteBeforeCache="true">
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
        </rule>
        <!-- in case we need it
        <rule name="CDN-apath-img" preCondition="CheckHTML" stopProcessing="true">
          <match 
            filterByTags="Img" 
            pattern="^http(?:s)?:\/\/(?:.+?)\/(.*\.(?:jpg|jpeg|png|svg))$" />
          <action type="Rewrite" value="https://gzv.azureedge.net/{R:1}" />
        </rule>
        <rule name="CDN-rpath-img" preCondition="CheckHTML" stopProcessing="true">
          <match filterByTags="Img" pattern="^(?!www\.|(?:http)s?:\/\/|[A-Za-z]:\\)(?:\.\.\/)*(.*\.(?:jpg|jpeg|png|svg))$" />
          <action type="Rewrite" value="https://gzv.azureedge.net/{R:1}" />
        </rule> -->
        <preConditions>
          <preCondition name="CheckHTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <rewriteMaps>
        <rewriteMap name="DomainsBlackList" defaultValue="block">
          <add key="localhost" value="allow" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
    <!-- dynamicCompressionBeforeCache="false" to allow rewrites of outbound rules --> 
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false" />
    <!-- Detail of the above statement -->
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="image/svg*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="false" mimeType="*/*" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="image/svg*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/xaml+xml" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="true" mimeType="application/ecmascript" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- Add keep alive, Azure web app remove X-powered -->
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <!--https://muaz-khan.blogspot.gr/2012/06/exploring-csp-content-security-policy.html-->
        <!--<add name="Content-Security-Policy" value="default-src 'self' https://gzv.azureedge.net https://maxcdn.bootstrapcdn.com ajax.googleapis.com; script-src https: 'unsafe-inline'; style-src https: 'unsafe-inline'; img-src 'self' data: https: * ; font-src 'self' data: https://fonts.gstatic.com https://v2.zopim.com; connect-src https: 'unsafe-inline' wss://*; object-src https://mpsnare.iesnare.com/stmgwb2.swf; child-src https: casino3.gammatrix.com casino.gm.stage.everymatrix.com" />-->
        <!--flash loading cross origin-->
        <!--<add name="X-Permitted-Cross-Domain-Policies" value="none" />-->
        <add name="Access-Control-Allow-Origin" value="*.hotjar.com" />
        <add name="Referrer-Policy" value="origin-when-cross-origin" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <!--<remove name="Cache-Control" />
        <add name="Cache-Control" value="public" />-->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!-- Resist click jacking attempts -->
        <!-- Disable for Skrill password reset error message-->
        <!--<add name="X-Frame-Options" value="DENY" />-->
        <!--Remove identifying asp.net response header-->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!-- Azure web app remove server header -->
    <security>
      <!--removes Azure headers-->
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
  <!--productionLibraryPath="~/Scripts/jsnlog/jsnlog.min.js"-->
  <jsnlog enabled="true">
    <logger level="TRACE" />
    <logger name="emWamp" level="TRACE" />
    <logger name="gzWebClient*" level="TRACE" />
  </jsnlog>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>