<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Remove Glimpse axd -->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Html5Mode Rule" stopProcessing="true">
          <conditions>
            <add input="{URL}" negate="true" pattern="\.axd$" xdt:Locator="Condition(@input='{URL}')" xdt:Transform="Remove" />
          </conditions>
        </rule>
      </rules>
    </rewrite>

    <!--http://rehansaeed.com/securing-the-aspnet-mvc-web-config/-->
    <!-- remove TraceHandler-Integrated - Remove the tracing handlers so that navigating to /trace.axd gives us a 
       404 Not Found instead of 500 Internal Server Error. -->
    <handlers>
      <remove xdt:Transform="Insert" name="TraceHandler-Integrated" />
      <remove xdt:Transform="Insert" name="TraceHandler-Integrated-4.0" />
    </handlers>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <!-- Redirect IIS 403.14 Forbidden responses to the error controllers not found action.
         A 403.14 happens when navigating to an empty folder like /Content and directory browsing is turned off
         See http://www.troyhunt.com/2014/09/solving-tyranny-of-http-403-responses.html -->
      <error statusCode="403" subStatusCode="14" responseMode="ExecuteURL" path="/error/notfound" />
      <!-- ...Ommitted Code... -->
    </httpErrors>
    <!-- Stop IIS from doing courtesy redirects used to redirect a link to a directory without
       to a slash to one with a slash e.g. /Content redirects to /Content/. This gives a clue
       to hackers as to the location of directories. -->
    <defaultDocument enabled="false"/>
    <!--End of http://rehansaeed.com/securing-the-aspnet-mvc-web-config/ -->

  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" xdt:Transform="Replace"/>
    <glimpse defaultRuntimePolicy="Off" endpointBaseUri="~/Glimpse.axd" xdt:Transform="Replace" />

    <!--http://rehansaeed.com/securing-the-aspnet-mvc-web-config/-->
    <!-- customErrors - Turn on custom error pages instead of ASP.NET errors containing stack traces which are a security risk. -->
    <customErrors xdt:Transform="SetAttributes(mode)" mode="On"/>
    <!-- compilation - Turn off debug compilation. -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- trace - Turn off tracing, just in case it is turned on for debugging. -->
    <trace xdt:Transform="Remove" />
  </system.web>
</configuration>
