<div class="auth mgmt-modal">
    <aside class="mgmt-menu bg-white">
        <nav>
            <ul class="nav-menu">
                <li ng-repeat="s in menuStates">
                    <div class="clearfix"></div>
                    <a ng-class="{
                           'active': s.key === currentState.key,
                           'btn-style': s.type === 'button',
                           'bg-gz': s.btnType === 'plus' && !xs,
                           'bg-grey': s.btnType === 'minus' && !xs
                       }" ng-click="setState(s)">
                        <i ng-if="s.icon" class="visible-xs fa" ng-class="s.icon" aria-hidden="true"></i>
                        <img class="hidden-xs" ng-if="s.img" ng-src="{{s.img}}" />
                        <img class="visible-xs" ng-if="s.imgXs" ng-src="{{s.imgXs}}" />
                        <span class="hidden-xs">{{s.title}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <section class="mgmt-content bg-gz">
        <div class="content-title">{{currentState.title}}</div>

        <div ng-show="changingState" us-spinner="spinnerWhite"></div>
        <div ng-hide="changingState" id="{{elementId}}"></div>
    </section>
</div>
