@charset "utf-8";

/* #region General */
.auth.mgmt-modal { height: 100vh;}

.auth.mgmt-modal .form-control {
    height: 36px;
}
.auth.mgmt-modal .form-control-feedback {
    line-height: 36px;
    color: #27a95c;
}

/* #region Menu */

.auth.mgmt-modal .mgmt-menu {
    color: #fff;
    padding: 40px 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.auth.mgmt-modal nav .nav-menu { 
    list-style-type: none; 
}

.auth.mgmt-modal nav .nav-menu li {
    margin-bottom: 6px;
}

.auth.mgmt-modal nav .nav-menu li .btn-mgmt-menu-xs .ico-active {
    border-left: 2px solid #27A95C;
    padding-left: 3px;
    margin-left: -5px;
}

/*.auth.mgmt-modal nav .nav-menu li .btn-mgmt-menu .btn-symbol {
    height: 18px;
    float: left;
    margin: 3px 10px 0 20px;
}
.auth.mgmt-modal nav .nav-menu li .btn-mgmt-menu.btn-mgmt-active .btn-symbol {
    margin-left: 60px;
}*/

.auth.mgmt-modal nav .nav-menu li:nth-of-type(3) {
    margin-top: 30px;
}

.auth.mgmt-modal nav .nav-menu li a {
    font-size: 16px;
    color: #646464;
    text-decoration: none;
}
.auth.mgmt-modal nav .nav-menu li a.active {
    color: #42b471;
    font-weight: 800;
}
.auth.mgmt-modal nav .nav-menu li a .fa {
    margin-left: 2px;
    display: block;
    font-size: 24px;
}
.auth.mgmt-modal nav .nav-menu li a img {
    height: 18px;
    float: left;
    margin: 3px 10px 0 20px;
}
.auth.mgmt-modal nav .nav-menu li a.active img {
    margin-left: 60px;
}

.auth.mgmt-modal nav .nav-menu li a.btn-style { 
    margin-bottom: 10px;
    padding: 10px 0;
    width: 150px;
    border: none;
    font-size: 18px;
    text-align: left;
    display: block;
    color: #fff;
}
.auth.mgmt-modal nav .nav-menu li a.btn-style.active {
    width: 190px;
    margin-left: -40px;
}


@media (min-width: 768px) {
    .auth.mgmt-modal nav .nav-menu li .btn-mgmt-menu-xs { display: none; }
}
@media (max-width: 767px) {
    .auth.mgmt-modal .mgmt-menu {
        width: 40px;
        padding: 40px 5px;
    }
    .auth.mgmt-modal nav .nav-menu li { 
        width: 30px;
        height: 30px;
    }
    .auth.mgmt-modal nav .nav-menu li a { 
        margin: 0 0 5px;
    }
    .auth.mgmt-modal nav .nav-menu li a.btn-style { 
        padding: 0;
        width: 100%;
    }
    .auth.mgmt-modal nav .nav-menu li a.btn-style.active {
        width: 100%;
        margin-left: 0;
    }
    .auth.mgmt-modal nav .nav-menu li a img {
        height: 28px;
        margin: 0;
    }
    .auth.mgmt-modal nav .nav-menu li a.active img {
        margin: 0 0 0 -6px;
        padding-left: 4px;
        border-left: 2px solid #27A95C;
    }

    .auth.mgmt-modal nav .nav-menu li a.active .fa {
        margin: 0 0 0 -6px;
        padding-left: 6px;
        border-left: 2px solid #27A95C;
    }
}
/* #endregion */


/* #region Content */

.auth.mgmt-modal .mgmt-content {
    position: fixed;
    padding: 40px 20px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    width: calc(100% - 200px);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*.auth.mgmt-modal .mgmt-content.left-content { 
    top: 0;
    left: 14%;
}

.auth.mgmt-modal.withdraw .mgmt-content.left-content { left: 20%; }

.auth.mgmt-modal .mgmt-content.right-content {  
    right: 0;
    top: 0;
    height: 100%;
    border-left: 1px dashed white;
}

.auth.mgmt-modal .mgmt-content .modal-btn-gz {
    margin: 0;
    width: 140px; 
    padding: 0; 
    height: 36px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.auth.mgmt-modal .mgmt-content .btn-gz.modal-btn-gz {
    border-color: #f2f2f2;
}

@media (max-width: 991px) {
    .auth.mgmt-modal .mgmt-content.left-content {
        position: static;
        padding-bottom: 150px;
        border-right: none;
        padding-top: 0;
    }

    .auth.mgmt-modal .mgmt-content.right-content {
        border-left: none;
        border-top: 1px dashed white;
        position: static;
        width: 100%;       
    }
}*/
@media (max-width: 767px) {
    .auth.mgmt-modal .mgmt-content {
        padding: 40px 5px;
        width: calc(100% - 40px);
    }
}
/* #endregion */

/* #endregion */









/* #region Transaction History */
.auth.mgmt-modal .transaction-history .form-group { margin: 0 -5px; }
.auth.mgmt-modal .transaction-history .filter-btn { margin: 0;width: 100%;border-color: #f2f2f2; }
.auth.mgmt-modal .transaction-history .table-container {margin-top: 10px; clear: both; /*overflow-x: auto;*/ }
.auth.mgmt-modal .transaction-history .table-container .table,
.auth.mgmt-modal .transaction-history .table-container .table tr,
.auth.mgmt-modal .transaction-history .table-container .table th,
.auth.mgmt-modal .transaction-history .table-container .table td { border: 1px solid white; }
.auth.mgmt-modal .transaction-history .table-container .table tr th { text-align: center; } 
.auth.mgmt-modal .transaction-history .pager-btn { margin: 0; padding: 0 5px; width: 150px; }
@media (max-width: 767px){
    .auth.mgmt-modal .transaction-history .filter-form-group .modal-btn-gz { margin-top: 5px;}
}
/* #endregion */









/* #region Pending Withdrawals */
.auth.mgmt-modal .pending-withdrawals .text-holder {
    background-color: #42b471;
    padding: 40px 30px;
    font-size: 16px;
}
/* #endregion */

/* #region Withdraw */
.auth.mgmt-modal.withdraw .mgmt-content.right-content { position: absolute; }
.auth.mgmt-modal.withdraw .mgmt-content.left-content .bank-transfer { height: 70px; width: 85%; padding: 10px; margin-top: 25px; }
.auth.mgmt-modal.withdraw .mgmt-content.left-content .bank-transfer-inner { height: 50px; width: 80px; float: left; padding: 5px; }
.auth.mgmt-modal.withdraw .mgmt-content.left-content .bank-transfer p {  font-size: 17px; }
.auth.mgmt-modal.withdraw .mgmt-content.left-content .bank-transfer .text-holder { float: left; margin-left: 5%; display: block; margin-top: 2px; }

.auth.mgmt-modal.withdraw .mgmt-content h4 { padding-bottom: 10px; }

@media (max-width: 991px) {
    .auth.mgmt-modal.withdraw .mgmt-content.right-content { position: static;}
}

/**************** XS ********************/
@media (max-width: 767px) {
    .auth.mgmt-modal.withdraw .mgmt-content.left-content .bank-transfer { width: 100%; }
    .auth.mgmt-modal.withdraw .mgmt-content.left-content .bank-transfer p {  font-size: 12px; text-align: justify; }
    .auth.mgmt-modal.withdraw .mgmt-content.left-content .bank-transfer-inner { width: 50px }
}
/* #endregion */

/* #region Deposit */
/*.auth.mgmt-modal.deposit .mgmt-content.right-content { width: 30%; }*/
.auth.mgmt-modal.deposit .mgmt-content { overflow-x: hidden; }
.auth.mgmt-modal.deposit .mgmt-content.left-content .credit-card-holder { height: 40px; }
.auth.mgmt-modal.deposit .mgmt-content.left-content .credit-card-holder .selected-credit-card { 
    width: 50px; 
    height: 28px; 
    float: left; 
    border-radius: 4px; 
    padding: 4px 5px; 
}
.auth.mgmt-modal.deposit .mgmt-content.left-content .credit-card-holder .selected-credit-card .selected-logo-holder { width: 40px; height: 20px; }

.auth.mgmt-modal.deposit .mgmt-content.left-content .credit-card-holder p { float: left; text-indent: 12px; font-size: 20px; }
.auth.mgmt-modal.deposit .mgmt-content.left-content p { display: block; font-size: 17px; }


.auth.mgmt-modal.deposit .mgmt-content.right-content .payment-methods { margin-top: 15px; margin-bottom: 20px; }
.auth.mgmt-modal.deposit .mgmt-content.right-content .payment-methods .method { 
    display: inline-block; 
    width: 70px; 
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    position: relative;
    padding: 10px;
}
.auth.mgmt-modal.deposit .mgmt-content.right-content .payment-methods .method .logo-holder { 
    position: absolute;
    width: 50px; 
    height: 20px; 
}

.auth.mgmt-modal.deposit .mgmt-content.right-content p { font-size: 16px; margin-bottom: 0; }

/* #endregion */

/* #region Bonuses */
.auth.mgmt-modal.bonuses .mgmt-content .text-holder {
    background-color: #42b471;
    padding: 10px 30px;
    margin-bottom: 80px;
}
.auth.mgmt-modal.bonuses .mgmt-content .text-holder p { font-size: 17px; margin: 0; }

.auth.mgmt-modal.bonuses .mgmt-content p { font-size: 17px; margin-bottom: 20px; }

.auth.mgmt-modal.bonuses .mgmt-content .bonus-code .bonus-code-form { 
    width: 250px;
    height: 40px;
    color: white;
    font-size: 18px;
    border: 2px solid;
    padding: 0 30px;
}
.auth.mgmt-modal.bonuses .mgmt-content .bonus-code .bonus-code-form::-webkit-input-placeholder { color: white; font-size: 18px; } /*change placeholder color*/
.auth.mgmt-modal.bonuses .mgmt-content .bonus-code .bonus-code-form:-moz-placeholder { color: white; font-size: 18px; }
.auth.mgmt-modal.bonuses .mgmt-content .bonus-code .bonus-code-form::-moz-placeholder { color: white; font-size: 18px; }
.auth.mgmt-modal.bonuses .mgmt-content .bonus-code .bonus-code-form:-ms-input-placeholder { color: white; font-size: 18px; }

.auth.mgmt-modal.bonuses .mgmt-content .modal-btn-gz { margin: 12px 0; }
/* #endregion */

/* #region My Profile */
.auth.mgmt-modal.my-profile .mgmt-content .update-prof-form { margin-top: 20px; margin-left: 15px; }
.auth.mgmt-modal.my-profile .mgmt-content h4 { margin-left: -3px; margin-bottom: 25px; }

.auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .form-group .form-control { height: 40px; }
.auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .form-group .checkboxes-group { margin-top: 15px; }

.auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .gz-checkbox { margin-left: 0 }
.auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .gz-checkbox:first-of-type { margin-bottom: -1px; }
.auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .form-group .up-prof-btn { width: 50%; margin-left: -1px; margin-bottom: 50px; }

.auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .form-group #phoneNumber { margin-top: 5px; }

/**************** XS - SM ********************/
@media (max-width: 991px) {
    /*.auth.mgmt-modal.my-profile .mgmt-content h4 { margin-left: -10px; }*/

    .auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .form-group .up-prof-btn { width: 100%; }
}

/**************** XS ********************/
@media (max-width: 767px) {
    .auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .gz-checkbox { font-size: 12px; }
}

@media (max-width: 509px) { 
    .auth.mgmt-modal.my-profile .mgmt-content .update-prof-form .gz-checkbox { font-size: 8px; }
}
/* #endregion */