<div class="auth mgmt-modal transaction-history">
    <aside class="mgmt-menu bg-white">
        <nav>
            <ul class="nav-menu">
                <!--<li>
                <a class="btn-mgmt-menu bg-gz">
                    <img class="btn-symbol plus-symbol" src="../../Content/Images/plus_icon.svg" />Deposit
                </a>
                <a href="" class="btn-mgmt-menu-xs">
                    <img class="btn-symbol plus-symbol" src="../../Content/Images/plus_icon_green.svg" />
                </a>
            </li>
            <li>
                <a class="btn-mgmt-menu bg-grey-dark">
                    <img class="btn-symbol minus-symbol" src="../../Content/Images/minus_icon.svg" />Withdraw
                </a>
                <a href="" class="btn-mgmt-menu-xs btn-mgmt-active">
                    <img class="btn-symbol minus-symbol" src="../../Content/Images/minus_icon_dgrey.svg" />
                </a>
            </li>-->
                <li ng-repeat="s in states">
                    <div class="clearfix"></div>
                    <a ng-class="{
                           'active': s.key === currentState.key,
                           'btn-style': s.type === 'button',
                           'bg-gz': s.btnType === 'plus' && !xs,
                           'bg-grey': s.btnType === 'minus' && !xs
                       }" ng-click="setState(s)">
                        <i ng-if="s.icon" class="visible-xs fa" ng-class="s.icon" aria-hidden="true"></i>
                        <img class="hidden-xs" ng-if="s.img" ng-src="{{s.img}}" />
                        <img class="visible-xs" ng-if="s.imgXs" ng-src="{{s.imgXs}}" />
                        <span class="hidden-xs">{{s.title}}</span>
                    </a>
                </li>
            </ul>
            {{xs}}
        </nav>
    </aside>

    <section class="mgmt-content bg-gz">
        <div id="state-content"></div>
    </section>
</div>
