@charset "utf-8";

/* #region General */
.auth.mgmt-modal { height: 100vh;}

.auth.mgmt-modal .form-control {
    height: 36px;
}
.auth.mgmt-modal .form-control-feedback {
    line-height: 36px;
    color: #27a95c;
}

.auth.mgmt-modal .form-group {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.auth.mgmt-modal .field-ok {
    /*right: 10px;*/
    margin-top: 30px;
}

/*.auth.mgmt-modal .text-frame {
    background-color: #42b471;
}
.auth.mgmt-modal .text-frame.text-frame-md {
    padding: 40px 30px;
}
.auth.mgmt-modal .text-frame.text-frame-sm {
    padding: 10px 30px;
}*/

/* #region Menu */
.auth.mgmt-modal .mgmt-menu {
    color: #fff;
    padding: 40px 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.auth.mgmt-modal nav .nav-menu { 
    list-style-type: none; 
}

.auth.mgmt-modal nav .nav-menu li {
    margin-bottom: 6px;
}

/*.auth.mgmt-modal nav .nav-menu li .btn-mgmt-menu-xs .ico-active {
    border-left: 2px solid #27A95C;
    padding-left: 3px;
    margin-left: -5px;
}*/

/*.auth.mgmt-modal nav .nav-menu li .btn-mgmt-menu .btn-symbol {
    height: 18px;
    float: left;
    margin: 3px 10px 0 20px;
}
.auth.mgmt-modal nav .nav-menu li .btn-mgmt-menu.btn-mgmt-active .btn-symbol {
    margin-left: 60px;
}*/

.auth.mgmt-modal nav .nav-menu li:nth-of-type(3) {
    margin-top: 30px;
}

.auth.mgmt-modal nav .nav-menu li a {
    font-size: 16px;
    color: #646464;
    text-decoration: none;
}
.auth.mgmt-modal nav .nav-menu li a.active {
    color: #42b471;
    font-weight: 800;
}
.auth.mgmt-modal nav .nav-menu li a .fa {
    margin-left: 2px;
    display: block;
    font-size: 24px;
}
.auth.mgmt-modal nav .nav-menu li a img {
    height: 18px;
    float: left;
    margin: 3px 10px 0 20px;
}
.auth.mgmt-modal nav .nav-menu li a.active img {
    margin-left: 60px;
}

.auth.mgmt-modal nav .nav-menu li a.btn-style { 
    margin-bottom: 10px;
    padding: 10px 0;
    border: none;
    font-size: 18px;
    text-align: left;
    display: block;
    color: #fff;

    width: 150px;
    margin-left: 0;

    /*-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;*/
}
.auth.mgmt-modal nav .nav-menu li a.btn-style.active {
    width: 190px;
    margin-left: -40px;
}


/*@media (min-width: 768px) {
    .auth.mgmt-modal nav .nav-menu li .btn-mgmt-menu-xs { display: none; }
}*/
@media (max-width: 767px) {
    .auth.mgmt-modal .mgmt-menu {
        width: 40px;
        padding: 40px 5px;
    }
    .auth.mgmt-modal nav .nav-menu li { 
        width: 30px;
        height: 30px;
    }
    .auth.mgmt-modal nav .nav-menu li a { 
        margin: 0 0 5px;
    }
    .auth.mgmt-modal nav .nav-menu li a.btn-style { 
        padding: 0;
        width: 100%;
    }
    .auth.mgmt-modal nav .nav-menu li a.btn-style.active {
        width: 100%;
        margin-left: 0;
    }
    .auth.mgmt-modal nav .nav-menu li a img {
        height: 28px;
        margin: 0;
    }
    .auth.mgmt-modal nav .nav-menu li a.active img {
        margin: 0 0 0 -6px;
        padding-left: 4px;
        border-left: 2px solid #27A95C;
    }

    .auth.mgmt-modal nav .nav-menu li a.active .fa {
        margin: 0 0 0 -6px;
        padding-left: 6px;
        border-left: 2px solid #27A95C;
    }
}
/* #endregion */


/* #region Content */
.auth.mgmt-modal .mgmt-content {
    position: fixed;
    padding: 40px 20px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    width: calc(100% - 200px);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.auth.mgmt-modal .mgmt-content .content-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

/*.auth.mgmt-modal .mgmt-content.left-content { 
    top: 0;
    left: 14%;
}

.auth.mgmt-modal.withdraw .mgmt-content.left-content { left: 20%; }

.auth.mgmt-modal .mgmt-content.right-content {  
    right: 0;
    top: 0;
    height: 100%;
    border-left: 1px dashed white;
}

.auth.mgmt-modal .mgmt-content .modal-btn-gz {
    margin: 0;
    width: 140px; 
    padding: 0; 
    height: 36px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.auth.mgmt-modal .mgmt-content .btn-gz.modal-btn-gz {
    border-color: #f2f2f2;
}

@media (max-width: 991px) {
    .auth.mgmt-modal .mgmt-content.left-content {
        position: static;
        padding-bottom: 150px;
        border-right: none;
        padding-top: 0;
    }

    .auth.mgmt-modal .mgmt-content.right-content {
        border-left: none;
        border-top: 1px dashed white;
        position: static;
        width: 100%;       
    }
}*/
@media (max-width: 767px) {
    .auth.mgmt-modal .mgmt-content {
        padding: 40px 5px;
        width: calc(100% - 40px);
    }
}
/* #endregion */
/* #endregion */

/* #region Transaction History */
.auth.mgmt-modal .transaction-history .form-group { margin: 0 -5px; }
.auth.mgmt-modal .transaction-history .filter-btn { margin: 0;width: 100%;border-color: #f2f2f2; }
.auth.mgmt-modal .transaction-history .table-container {margin-top: 10px; clear: both; /*overflow-x: auto;*/ }
.auth.mgmt-modal .transaction-history .table-container .table,
.auth.mgmt-modal .transaction-history .table-container .table tr,
.auth.mgmt-modal .transaction-history .table-container .table th,
.auth.mgmt-modal .transaction-history .table-container .table td { border: 1px solid white; }
.auth.mgmt-modal .transaction-history .table-container .table tr th { text-align: center; } 
.auth.mgmt-modal .transaction-history .pager-btn { margin: 0; padding: 0 5px; width: 150px; }
@media (max-width: 767px){
    .auth.mgmt-modal .transaction-history .filter-form-group .modal-btn-gz { margin-top: 5px;}
}
/* #endregion */

/* #region Pending Withdrawals */
.auth.mgmt-modal .pending-withdrawals { }
/* #endregion */

/* #region Responsible Gaming */
.auth.mgmt-modal .responsible-gaming { }

.auth.mgmt-modal .responsible-gaming p.text-frame:not(:first-of-type) { margin-top: 30px; }
.auth.mgmt-modal .responsible-gaming .limit-title { margin-bottom: 5px; }
.auth.mgmt-modal .responsible-gaming .limit-type { font-size: 16px; font-weight: bold; }
.auth.mgmt-modal .responsible-gaming .limit-description { font-size: 12px; }
.auth.mgmt-modal .responsible-gaming .limit-info { margin-top: 15px; }
.auth.mgmt-modal .responsible-gaming .limit-fields { margin: 10px 0; line-height: 36px; }
.auth.mgmt-modal .responsible-gaming .limit-fields label.radio-inline input[type="radio"] { height: 36px; margin-top: 0; }
.auth.mgmt-modal .responsible-gaming .limit-fields .input-group .input-group-addon { border-radius: 0; }

.auth.mgmt-modal .responsible-gaming .limit-btn {
    margin: 0 0 0 10px;
    padding: 0 5px;
    width: 80px;
    float: right;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.auth.mgmt-modal .responsible-gaming a,
.auth.mgmt-modal .responsible-gaming a:focus,
.auth.mgmt-modal .responsible-gaming a:active,
.auth.mgmt-modal .responsible-gaming a:visited,
.auth.mgmt-modal .responsible-gaming a:hover {
    color: #fff;
    text-decoration: underline;
}
/* #endregion */

/* #region My Profile */
.auth.mgmt-modal .my-profile button[type=submit] {
    width: 240px;
    margin-left: 0;
    margin-right: 0;
}
/* #endregion */

/* #region Bonuses */
.auth.mgmt-modal .bonuses form {
    margin-top: 80px;
}
.auth.mgmt-modal .bonuses .bonus-code { 
    width: 250px;
    height: 40px;
    color: white;
    /*font-size: 18px;*/
    border: 2px solid #fff;
    padding: 0 30px;
}
.auth.mgmt-modal .bonuses .bonus-code::-webkit-input-placeholder { color: #fff; }
.auth.mgmt-modal .bonuses .bonus-code:-moz-placeholder { color: #fff; }
.auth.mgmt-modal .bonuses .bonus-code::-moz-placeholder { color: #fff; }
.auth.mgmt-modal .bonuses .bonus-code:-ms-input-placeholder { color: #fff; }

.auth.mgmt-modal .bonuses button[type=submit] {
    width: 180px;
    margin-left: 0;
    margin-right: 0;
}
/*.auth.mgmt-modal .bonuses .text-holder p { font-size: 17px; margin: 0; }

.auth.mgmt-modal .bonuses p { font-size: 17px; margin-bottom: 20px; }



/*.auth.mgmt-modal .bonuses .modal-btn-gz { margin: 12px 0; }*/
/* #endregion */

/* #region Change Password */
.auth.mgmt-modal .change-password button[type=submit] {
    width: 180px;
    margin-left: 0;
    margin-right: 0;
}
/* #endregion */






/* #region Deposit/Withdraw */
.auth.mgmt-modal .divider {
    position: fixed;
    top: 0;
    right: 266.66666667px;
    height: 100%;
    border-right: 1px dashed #fff;
}
.auth.mgmt-modal .deposit .left-content,
.auth.mgmt-modal .withdraw .left-content {
    position: relative;
    padding-right: 40px;
}
.auth.mgmt-modal .deposit .left-content .field-ok,
.auth.mgmt-modal .withdraw .left-content .field-ok {
    right: -35px;
    margin-top: 5px;
}
.auth.mgmt-modal .deposit .left-content .payment-method,
.auth.mgmt-modal .withdraw .left-content .payment-method {
    padding-left: 5px;
}
.auth.mgmt-modal .deposit .left-content .payment-method .payment-method-icon img,
.auth.mgmt-modal .withdraw .left-content .payment-method .payment-method-icon img {
    height: 36px;
}
.auth.mgmt-modal .deposit .right-content .payment-method .payment-method-icon img,
.auth.mgmt-modal .withdraw .right-content .payment-method .payment-method-icon img {
    height: 48px;
}

.auth.mgmt-modal .deposit button[type=submit],
.auth.mgmt-modal .withdraw button[type=submit] {
    width: 180px;
}
.auth.mgmt-modal .payment-methods .payment-method:nth-of-type(even),
.auth.mgmt-modal .payment-methods .payment-method:nth-of-type(odd) {
    text-align: center;
}
/*.auth.mgmt-modal .deposit .left-content .credit-card-holder { height: 40px; }
.auth.mgmt-modal .deposit .left-content .credit-card-holder .selected-credit-card { 
    width: 50px; 
    height: 28px; 
    float: left; 
    border-radius: 4px; 
    padding: 4px 5px; 
}
.auth.mgmt-modal .deposit .left-content .credit-card-holder .selected-credit-card .selected-logo-holder { width: 40px; height: 20px; }

.auth.mgmt-modal .deposit .left-content .credit-card-holder p { float: left; text-indent: 12px; font-size: 20px; }
.auth.mgmt-modal .deposit .left-content p { display: block; font-size: 17px; }


.auth.mgmt-modal .deposit .right-content .payment-methods { margin-top: 15px; margin-bottom: 20px; }
.auth.mgmt-modal .deposit .right-content .payment-methods .method { 
    display: inline-block; 
    width: 70px; 
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    position: relative;
    padding: 10px;
}
.auth.mgmt-modal .deposit .right-content .payment-methods .method .logo-holder { 
    position: absolute;
    width: 50px; 
    height: 20px; 
}

.auth.mgmt-modal .deposit .right-content p { font-size: 16px; margin-bottom: 0; }*/

/* #endregion */

/* #region Withdraw */
/*.auth.mgmt-modal .withdraw .right-content { position: absolute; }
.auth.mgmt-modal .withdraw .left-content .bank-transfer { height: 70px; width: 85%; padding: 10px; margin-top: 25px; }
.auth.mgmt-modal .withdraw .left-content .bank-transfer-inner { height: 50px; width: 80px; float: left; padding: 5px; }
.auth.mgmt-modal .withdraw .left-content .bank-transfer p {  font-size: 17px; }
.auth.mgmt-modal .withdraw .left-content .bank-transfer .text-holder { float: left; margin-left: 5%; display: block; margin-top: 2px; }

.auth.mgmt-modal .withdraw h4 { padding-bottom: 10px; }

@media (max-width: 991px) {
    .auth.mgmt-modal .withdraw .right-content { position: static;}
}
@media (max-width: 767px) {
    .auth.mgmt-modal .withdraw .left-content .bank-transfer { width: 100%; }
    .auth.mgmt-modal .withdraw .left-content .bank-transfer p {  font-size: 12px; text-align: justify; }
    .auth.mgmt-modal .withdraw .left-content .bank-transfer-inner { width: 50px }
}*/
/* #endregion */







.auth.mgmt-modal .cardNumberWrapper,
.auth.mgmt-modal .cardSecurityNumberWrapper {
    width: 100%;
    height: 36px;
}

.auth.mgmt-modal #cardNumberContainer iframe,
.auth.mgmt-modal #cardSecurityNumberContainer iframe {
    overflow: hidden;
    width: 100%;
    height: 21px;
    margin-bottom: -5px;
}

