<div class="bonuses">
    <p ng-if="grantedBonuses.length === 0" class="text-frame text-frame-sm">
        You have no active bonus at the moment. If you have received a bonus code for a free money bonus, please enter it below.
    </p>

    <span class="fetching-spinner" ng-show="fetchingBonuses" us-spinner="spinnerWhite"></span>

    <div ng-if="grantedBonuses.length > 0">
        <h4>Granted bonuses</h4>
        <div ng-repeat="bonus in grantedBonuses" class="bonus" ng-init="bonus.expanded = false;">
            <div class="bonus-title" ng-click="bonus.expanded = !bonus.expanded;">
                <span class="bonus-name">{{$index + 1}}. {{bonus.name}}</span>
                <i class="bonus-icon pull-right fa fa-chevron-down" ng-class="{'fa-rotate-180': bonus.expanded}"></i>
            </div>
            <div class="bonus-details" ng-class="{'expanded': bonus.expanded}">
                <hr />
                <div>
                    <span class="bonus-detail-label">Type</span>
                    <span class="bonus-detail-value">{{bonus.type}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Status</span>
                    <span class="bonus-detail-value">{{bonus.status}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Vendor</span>
                    <span class="bonus-detail-value">{{bonus.vendor}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Amount</span>
                    <span class="bonus-detail-value">{{bonus.amount | isoCurrency : bonus.currency : 2}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Remaining amount</span>
                    <span class="bonus-detail-value">{{bonus.remainingAmount | isoCurrency : bonus.currency : 2}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Initial wager requirement amount</span>
                    <span class="bonus-detail-value">{{bonus.initialWagerRequirementAmount | isoCurrency : bonus.initialWagerRequirementCurrency : 2}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Remaining wager requirement amount</span>
                    <span class="bonus-detail-value">{{bonus.remainingWagerRequirementAmount | isoCurrency : bonus.remainingWagerRequirementCurrency : 2}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Points to collect</span>
                    <span class="bonus-detail-value">{{bonus.pointsToCollect}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Points left to collect</span>
                    <span class="bonus-detail-value">{{bonus.pointsLeftToCollect}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Granted date</span>
                    <span class="bonus-detail-value">{{bonus.grantedDate | date : 'dd/MM/yy HH:mm'}}</span>
                </div>
                <div>
                    <span class="bonus-detail-label">Expiry date</span>
                    <span class="bonus-detail-value">{{bonus.expiry | date : 'dd/MM/yy HH:mm'}}</span>
                </div>
            </div>
        </div>
    </div>

    <form class="form-horizontal" name="form" ng-submit="submit()" role="form" novalidate>
        <p>
            If you are eligible and have a bonus code, please enter it below and click "Submit".
        </p>

        <div class="form-group">
            <input type="text" placeholder="BONUS CODE" ng-model="bonusCode" required class="form-control bonus-code bg-gz" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn-gz" ng-disabled="form.$invalid"
                    ng-mouseenter="hovered = true" ng-mouseleave="hovered = false">
                <span ng-show="applyingBonus && !hovered" us-spinner="spinnerGreen"></span>
                <span ng-show="applyingBonus && hovered" us-spinner="spinnerWhite"></span>
                <span ng-show="!applyingBonus">Submit</span>
            </button>
        </div>
    </form>
</div>
<!--<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="text-holder">
            <p>
                You have no active bonus at the moment. If you have received a bonus code for a free money bonus, please enter it below.
            </p>
        </div>
        <div class="bonus-code">
            <p>
                If you are eligible and have a bonus code,<br />
                please enter it below and click "Submit".
            </p>
            <input class="form-control bonus-code-form ng-pristine ng-touched bg-gz" placeholder="BONUS CODE" />
            <button type="submit" class="btn-gz modal-btn-gz">submit</button>
        </div>
    </div>
</div>-->
