<div class="deposit-credit-card">
    <div ng-if="thereAreExistingCreditCards">
        <div class="col-xs-12" ng-if="thereAreExistingCreditCards">
            <div class="form-group">
                <div>Select a card</div>
                <div ng-if="!canAddNewCreditCard" class="max-number-of-cards">
                    Note: You have exceeded the maximum number of cards you are allowed to register. If you want to register a new one, please <a href="mailto:help@greenzorro.com">contact us</a>.
                </div>
            </div>
        </div>

        <div class="col-xs-12" ng-if="thereAreExistingCreditCards">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <gz-select gz-model="model.selectedCreditCard" gz-collection="existingCreditCards" gz-prompt="--select credit card--" gz-loading="loadingCreditCards"
                                   gz-id="id" gz-display="name" gz-change="onCreditCardSelected(id)">
                        </gz-select>
                    </div>
                </div>
                <gz-field-ok gz-when="model.selectedCreditCard"></gz-field-ok>
            </div>
        </div>
    </div>

    <div ng-if="thereAreExistingCreditCards && canAddNewCreditCard" class="col-xs-12">
        <div class="form-group">
            <div class="text-center">-- OR --</div>
        </div>
    </div>

    <div>
        <div class="col-xs-12" ng-if="thereAreExistingCreditCards && canAddNewCreditCard">
            <div class="form-group">
                <div>Register a new card</div>
            </div>
        </div>

        <div class="col-xs-12" ng-show="canAddNewCreditCard && !model.existingCard">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="cardNumberWrapper">
                            <span ng-show="cardNumberLoading" us-spinner="spinnerWhiteAbs"></span>
                            <div ng-show="!cardNumberLoading" id="cardNumberContainer" ng-class="{'focused': cardNumberFocused, 'danger': cardNumberFocused && cardNumberValidity === false}"></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': cardNumberFocused === true && cardNumberValidity === false}">Card Number is invalid.</div>
                    </div>
                </div>
                <gz-field-ok gz-when="cardNumberValidity === true"></gz-field-ok>
            </div>
        </div>
        <div ng-if="!canAddNewCreditCard || model.existingCard">
            <div class="hidden" id="cardNumberContainer"></div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="card holder name" id="cardHolderName" name="cardHolderName" class="form-control" autocomplete="off" ng-model="model.cardHolderName" required
                               ng-class="{ 'empty': !model.cardHolderName, 'danger' : form.cardHolderName.$invalid && !form.cardHolderName.$pristine }"
                               ng-disabled="model.existingCard || !canAddNewCreditCard" ng-required="!model.existingCard"
                               ng-focus="cardHolderNameFocused = true;" ng-blur="cardHolderNameFocused = false;">

                        <!--<input type="hidden" name="cardToken" ng-model="model.cardToken" />-->
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': !form.cardHolderName.$pristine && form.cardHolderName.$error.required}">Card Holder Name is required.</div>
                    </div>
                </div>
                <gz-field-ok gz-when="form.cardHolderName.$valid"></gz-field-ok>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4">
                        <gz-select gz-name="cardExpiryMonth" gz-model="model.cardExpiryMonth" gz-collection="months" gz-prompt="MM" gz-loading="loadingMonths"
                                   gz-required gz-disabled="model.existingCard || !canAddNewCreditCard" gz-id="value" gz-display="display" gz-error="!form.cardExpiryMonth.$pristine && form.cardExpiryMonth.$error.required">
                        </gz-select>
                    </div>
                    <div class="col-xs-4">
                        <gz-select gz-name="cardExpiryYear" gz-model="model.cardExpiryYear" gz-collection="years" gz-prompt="YY" gz-loading="loadingYears" gz-change="onYearSelected(id)"
                                   gz-required gz-disabled="model.existingCard || !canAddNewCreditCard" gz-id="value" gz-display="display" gz-error="!form.cardExpiryYear.$pristine && form.cardExpiryYear.$error.required">
                        </gz-select>
                    </div>
                    <div class="col-xs-4">
                        <div class="cardSecurityNumberWrapper">
                            <span ng-show="cardSecurityNumberLoading" us-spinner="spinnerWhiteAbs"></span>
                            <div ng-show="!cardSecurityNumberLoading" id="cardSecurityNumberContainer" ng-class="{'focused':cardSecurityNumberFocused, 'danger':cardSecurityNumberFocused && cardSecurityNumberValidity === false}"></div>
                            <span ng-show="!cardSecurityNumberLoading && !mobile" class="form-control-feedback" aria-hidden="true" ng-class="{'focused':cardSecurityNumberFocused || form.cardSecurityNumber.$valid}">
                                <i class="fa fa-lg fa-credit-card"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': (!form.cardExpiryMonth.$pristine && form.cardExpiryMonth.$error.required) || (!form.cardExpiryYear.$pristine && form.cardExpiryYear.$error.required)}">Card Expiry Date is required.</div>
                        <div class="help-block" ng-class="{'show': cardSecurityNumberFocused === true && cardSecurityNumberValidity === false}">Card Security Number is invalid.</div>
                    </div>
                </div>
                <gz-field-ok gz-when="form.cardExpiryMonth.$valid && form.cardExpiryYear.$valid && cardSecurityNumberValidity"></gz-field-ok>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="number" placeholder="{{amountPlaceholder}}" id="amount" name="amount" class="form-control" autocomplete="off" ng-model="model.amount" required
                               ng-class="{ 'empty': !model.amount, 'danger' : form.amount.$invalid && !form.amount.$pristine }"
                               min="{{accountLimits.min}}" max="{{accountLimits.max}}"
                               ng-focus="amountFocused = true;" ng-blur="amountFocused = false;">
                        <!--uib-tooltip-html="{{accountLimits.min}} + '&le;' + ' x ' + '&le;' + {{accountLimits.max}}"-->
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': !form.amount.$pristine && form.amount.$error.required}">Amount is required.</div>
                        <div class="help-block" ng-class="{'show': !form.amount.$pristine && !form.amount.$error.required && form.amount.$invalid}">Amount must be between {{accountLimits.min}} and {{accountLimits.max}}.</div>
                    </div>
                </div>
                <gz-field-ok gz-when="form.amount.$valid"></gz-field-ok>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="bonus code" name="bonusCode" class="form-control" autocomplete="off" ng-model="model.bonusCode"
                                ng-class="{ 'empty': !model.bonusCode, 'danger' : form.bonusCode.$invalid && !form.bonusCode.$pristine }"
                                ng-focus="bonusCodeFocused = true;" ng-blur="bonusCodeFocused = false;">
                    </div>
                    <div class="col-xs-12">
                        <div class="help-block" ng-class="{'show': !form.bonusCode.$pristine && form.bonusCode.$invalid}">Bonus code is invalid</div>
                    </div>
                </div>
                <gz-field-ok gz-when="model.bonusCode.length > 0"></gz-field-ok>
            </div>
        </div>
    </div>
</div>
