<div class="row deposit">
    <div class="divider"></div>
    <div class="col-xs-8 left-content">
        <form class="form-horizontal" name="form" ng-submit="submit()" role="form" novalidate>
            <div class="form-group text-center">
                <h5>Make a deposit</h5>
            </div>

            <div class="form-group payment-method">
                <span class="method-icon" ng-bind-html="selectedMethod.icon"></span>
                <span class="method-name">{{selectedMethod.name}}</span>
            </div>

            <div class="form-group">
                <span ng-if="initializing" us-spinner="spinnerWhite"></span>
                <div id="paymentMethodFields"></div>
            </div>

            <div class="form-group">
                <div class="btns text-center">
                    <button type="submit" class="btn-gz" ng-disabled="form.$invalid || extraValidityCheck === false"
                            ng-mouseenter="hovered = true" ng-mouseleave="hovered = false">
                        <span ng-show="waiting && !hovered" us-spinner="spinnerGreen"></span>
                        <span ng-show="waiting && hovered" us-spinner="spinnerWhite"></span>
                        <span ng-show="!waiting">Deposit</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-4 right-content">
        <div class="text-center">
            <h5>Other methods</h5>
        </div>

        <div class="payment-methods">
            <div class="payment-method col-xs-12" ng-repeat="method in paymentMethods" ng-if="method !== selectedMethod">
                <div class="payment-method-icon" ng-bind-html="method.icon" ng-click="selectPaymentMethod(method)"></div>
            </div>
            <div class="col-xs-12 text-center" ng-if="paymentMethods.length === 1">-</div>
        </div>
    </div>
</div>

<!--<div class="row">
    <section class="mgmt-content col-xs-12 col-sm-6 col-md-offset-1 left-content bg-gz">
        <div class="col-xs-12 col-xs-offset-1 col-md-offset-0">
            <h4>Make a deposit!</h4>
            <div class="credit-card-holder">
                <div class="selected-credit-card bg-white">
                    <img class="selected-logo-holder mastercard-logo" src="../../Content/Images/mastercard-logo-200x106.gif" />
                </div>
                <p>Credit Card</p>
            </div>
            <p>Instant deposit via Debit or Credit Card</p>
        </div>
    </section>
    <section class="mgmt-content col-xs-12 col-sm-3 right-content bg-gz">
        <div class="col-xs-12 col-xs-offset-1 col-md-offset-0">
            <h4>Other payment methods: </h4>
            <div class="payment-methods">
                <div class="method bg-white">
                    <img class="logo-holder skrill-logo" src="../../Content/Images/skrill-logo-200x87.gif" />
                </div>
                <div class="method bg-white">
                    <img class="logo-holder neteller-logo" src="../../Content/Images/neteller-logo-219x80.gif" />
                </div>
            </div>
            <p>E-Wallet (2)</p>
            <p>Free and instant transfers<br /> via your online wallets.</p>
            <p>Min: &euro;10 Max: &euro;20,000</p>
        </div>
    </section>
</div>-->
