<div class="my-profile">
    <form class="form-horizontal" name="form" ng-submit="submit()" role="form" novalidate>
        <div class="form-group">
            <div class="col-xs-11">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" ng-model="model.email" disabled>
                <gz-field-ok gz-when="form.email.$valid"></gz-field-ok>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11 col-sm-5">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" ng-model="model.username" disabled>
                <gz-field-ok gz-when="xs && form.username.$valid"></gz-field-ok>
            </div>
            <div class="col-xs-11 col-sm-5 col-sm-offset-1">
                <label for="userId">User ID</label>
                <input type="text" id="userId" name="userId" class="form-control" ng-model="model.userId" disabled>
                <gz-field-ok gz-when="(!xs && form.username.$valid && form.userId.$valid) || (xs && form.userId.$valid)"></gz-field-ok>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11 col-sm-5">
                <label for="firstname">First Name</label>
                <input type="text" placeholder="First Name" id="firstname" name="firstname" class="form-control" autocomplete="off" ng-model="model.firstname" required disabled
                       ng-class="{ 'empty': !model.firstname, 'danger' : form.firstname.$invalid && !form.firstname.$pristine }"
                       ng-focus="firstnameFocused = true" ng-blur="firstnameFocused = false" cs-capitalize-first>
                <!--ng-disabled="!profile.isFirstnameUpdatable"-->
                <div class="help-block" ng-class="{'show': firstnameFocused && form.firstname.$error.required && !form.firstname.$pristine}">First name is required</div>
                <gz-field-ok gz-when="xs && form.firstname.$valid"></gz-field-ok>
            </div>
            <div class="col-xs-11 col-sm-5 col-sm-offset-1">
                <label for="lastname">Last Name</label>
                <input type="text" placeholder="Last Name" id="lastname" name="lastname" class="form-control" autocomplete="off" ng-model="model.surname" required disabled
                       ng-class="{ 'empty': !model.surname, 'danger' : form.lastname.$invalid && !form.lastname.$pristine }"
                       ng-focus="lastnameFocused = true" ng-blur="lastnameFocused = false" cs-capitalize-first>
                <!--ng-disabled="!profile.isSurnameUpdatable"-->
                <div class="help-block" ng-class="{'show': lastnameFocused && form.lastname.$error.required && !form.lastname.$pristine}">Last name is required</div>
                <gz-field-ok gz-when="(!xs && form.firstname.$valid && form.lastname.$valid) || (xs && form.lastname.$valid)"></gz-field-ok>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11 col-sm-2">
                <label>Birthday</label>
                <input type="text" name="year" class="form-control" autocomplete="off" ng-model="model.yearOfBirth" required disabled>
                <!--<gz-select gz-name="year" gz-model="model.yearOfBirth" gz-collection="years" gz-change="onYearSelected(id)" gz-prompt="YYYY" gz-loading="loadingYears"
                       gz-required gz-error="!form.year.$pristine && form.year.$error.required"></gz-select>-->
                <!--gz-disabled="!profile.isBirthDateUpdatable"-->
                <gz-field-ok gz-when="xs && form.year.$valid"></gz-field-ok>
            </div>
            <div class="col-xs-11 col-sm-2 col-sm-offset-1">
                <label>&nbsp;</label>
                <input type="text" name="month" class="form-control" autocomplete="off" ng-model="model.monthOfBirth.display" required disabled>
                <!--<gz-select gz-name="month" gz-model="model.monthOfBirth" gz-collection="months" gz-change="onMonthSelected(id)" gz-prompt="MM" gz-loading="loadingMonths"
                       gz-required gz-id="value" gz-display="display" gz-error="!form.month.$pristine && form.month.$error.required" gz-disabled="!model.yearOfBirth"></gz-select>-->
                <!--|| !profile.isBirthDateUpdatable-->
                <gz-field-ok gz-when="xs && form.month.$valid"></gz-field-ok>
            </div>
            <div class="col-xs-11 col-sm-2 col-sm-offset-1">
                <label>&nbsp;</label>
                <input type="text" name="day" class="form-control" autocomplete="off" ng-model="model.dayOfBirth.display" required disabled>
                <!--<gz-select gz-name="day" gz-model="model.dayOfBirth" gz-collection="daysOfMonth" gz-prompt="DD" gz-loading="loadingDays"
                       gz-required gz-id="value" gz-display="display" gz-error="!form.day.$pristine && form.day.$error.required" gz-disabled="!model.yearOfBirth || !model.monthOfBirth"></gz-select>-->
                <!--|| !profile.isBirthDateUpdatable-->
                <gz-field-ok gz-when="xs && form.day.$valid"></gz-field-ok>
            </div>
            <div class="col-xs-11 col-sm-2 col-sm-offset-1">
                <label for="title">Title</label>
                <h1 class="hiddenH1">My Profile</h1>
                <input type="text" name="title" class="form-control" autocomplete="off" ng-model="model.title" required disabled>
                <!--<gz-select gz-name="title" gz-model="model.title" gz-collection="titles" gz-prompt="-" gz-loading="loadingTitles"
                       gz-required gz-error="!form.title.$pristine && form.title.$error.required"></gz-select>-->
                <gz-field-ok gz-when="(!xs && form.year.$valid && form.month.$valid && form.day.$valid && form.title.$valid) || (xs && form.title.$valid)"></gz-field-ok>
            </div>
            <div class="col-xs-11">
                <div class="help-block" ng-class="{'show': !form.year.$pristine && form.year.$error.required}">Year of birth is required</div>
                <div class="help-block" ng-class="{'show': !form.month.$pristine && form.month.$error.required}">Month of birth is required</div>
                <div class="help-block" ng-class="{'show': !form.day.$pristine && form.day.$error.required}">Day of birth is required</div>
                <div class="help-block" ng-class="{'show': !form.title.$pristine && form.title.$error.required}">Title is required</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11">
                <label for="address">Address</label>
                <input type="text" placeholder="Address" id="address" name="address" class="form-control" autocomplete="off" ng-model="model.address" required
                       ng-class="{ 'empty': !model.address, 'danger': form.address.$invalid && !form.address.$pristine }"
                       ng-focus="addressFocused = true" ng-blur="addressFocused = false"
                       ng-autocomplete options="{types: 'address', country: model.country.code, watchEnter: true}" cs-capitalize-first disabled>
                <div class="help-block" ng-class="{'show': addressFocused && form.address.$error.required && !form.address.$pristine}">Address is required</div>
                <gz-field-ok gz-when="form.address.$valid"></gz-field-ok>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11 col-sm-5">
                <label for="currency">Currency</label>
                <input type="text" name="currency" class="form-control" autocomplete="off" ng-model="model.currency.name" required disabled>
                <!--<gz-select gz-name="currency" gz-model="model.currency" gz-collection="currencies" gz-prompt="Currency" gz-loading="loadingCurrencies"
                       gz-required gz-id="code" gz-display="name" gz-error="!form.currency.$pristine && form.currency.$error.required" gz-disabled="true"></gz-select>-->
                <!--dg-disabled="!profile.isCurrencyUpdatable"-->
                <div class="help-block" ng-class="{'show': !form.currency.$pristine && form.currency.$error.required}">Currency is required</div>
                <gz-field-ok gz-when="xs && form.currency.$valid"></gz-field-ok>
            </div>
            <div class="col-xs-11 col-sm-5 col-sm-offset-1">
                <label for="country">Country</label>
                <input type="text" name="country" class="form-control" autocomplete="off" ng-model="model.country.name" required disabled>
                <!--<gz-select gz-name="country" gz-model="model.country" gz-collection="countries" gz-change="onCountrySelected(id)" gz-prompt="Country" gz-loading="loadingCountries"
                       gz-required gz-id="code" gz-display="name" gz-error="!form.country.$pristine && form.country.$error.required" gz-disabled="true"></gz-select>-->
                <!--dg-disabled="!profile.isCountryUpdatable"-->
                <div class="help-block" ng-class="{'show': !form.country.$pristine && form.country.$error.required}">Country is required</div>
                <gz-field-ok gz-when="(!xs && form.currency.$valid && form.country.$valid) || (xs && form.country.$valid)"></gz-field-ok>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11 col-sm-5">
                <label for="postalCode">Postal Code</label>
                <input type="text" placeholder="Postal Code" id="postalCode" name="postalCode" class="form-control" autocomplete="off" ng-model="model.postalCode" required
                       ng-class="{ 'empty': !model.postalCode, 'danger': form.postalCode.$invalid && !form.postalCode.$pristine }"
                       ng-focus="postalCodeFocused = true" ng-blur="postalCodeFocused = false" disabled>
                <div class="help-block" ng-class="{'show': postalCodeFocused && form.postalCode.$error.required && !form.postalCode.$pristine}">Postal code is required</div>
                <gz-field-ok gz-when="xs && form.postalCode.$valid"></gz-field-ok>
            </div>
            <div class="col-xs-11 col-sm-5 col-sm-offset-1">
                <label for="city">City</label>
                <input type="text" placeholder="City" id="city" name="city" class="form-control" autocomplete="off" ng-model="model.city" required
                       ng-class="{ 'empty': !model.city, 'danger': form.city.$invalid && !form.city.$pristine }"
                       ng-focus="cityFocused = true" ng-blur="cityFocused = false"
                       ng-autocomplete options="{types: '(cities)', country: model.country.code, watchEnter: true}" cs-capitalize-first disabled>
                <div class="help-block" ng-class="{'show': cityFocused && form.city.$error.required && !form.city.$pristine}">City is required</div>
                <gz-field-ok gz-when="(!xs && form.postalCode.$valid && form.city.$valid) || (xs && form.city.$valid)"></gz-field-ok>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11 col-sm-5">
                <label for="phonePrefix">Mobile Prefix</label>
                <div id="phonePrefix" class="btn-group dropup full-width" uib-dropdown on-toggle="setDropdownOffset(open)">
                    <button type="button" class="form-control" uib-dropdown-toggle ng-class="{'empty': !model.phonePrefix}" disabled>
                        <div class="full-width text-left">{{model.phonePrefix}}</div>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="phonePrefix">
                        <li role="menuitem" ng-repeat="prefix in phonePrefixes" ng-class="{'active': prefix.active}">
                            <a ng-click="onPhonePrefixSelected($index)">{{prefix.name}}</a>
                        </li>
                    </ul>
                    <gz-field-ok gz-when="xs && model.phonePrefix"></gz-field-ok>
                </div>
            </div>
            <div class="col-xs-11 col-sm-5 col-sm-offset-1">
                <label for="phoneNumber">Mobile Number</label>
                <input type="text" placeholder="Mobile Number" id="phoneNumber" name="phoneNumber" class="form-control" autocomplete="off" ng-model="model.phoneNumber" required
                       ng-class="{ 'empty': !model.phoneNumber, 'danger': form.phoneNumber.$invalid && !form.phoneNumber.$pristine }"
                       ng-focus="phoneNumberFocused = true" ng-blur="phoneNumberFocused = false"
                       cs-pattern-restrict="^[0-9]*$" disabled>
                <div class="help-block" ng-class="{'show': phoneNumberFocused && form.phoneNumber.$error.required && !form.phoneNumber.$pristine}">Mobile number is required</div>
                <gz-field-ok gz-when="(!xs && model.phonePrefix && form.phoneNumber.$valid) || (xs && form.phoneNumber.$valid)"></gz-field-ok>
            </div>
        </div>
        <div class="col-xs-10" style="margin-bottom: .5em">
            <div class="col-xs-12"><span class="pull-left"><a class="terms" ng-click="readDataSubjectRights()">See data subject rights page</a></span></div>
        </div>
        <div class="col-xs-10" style="margin-bottom: .5em">
            <div class="col-xs-12"><span class="pull-left"><a class="terms" ng-click="readCookiePolicy()">See cookie policy</a></span></div>
        </div>
        <div class="col-xs-10" style="margin-bottom: .5em">
            <div class="col-xs-12"><span class="pull-left"><a class="terms" ng-click="readPrivacyPolicy()">See data privacy policy</a></span></div>
        </div>
        <div class="form-group">
            <div class="col-xs-1">
                <span class="radios">
                    <label><input type="radio" ng-model="consents.acceptedGdprTc" ng-value="true">Yes</label>
                </span>
            </div>
            <div class="col-xs-1">
                <span class="radios">
                    <label><input type="radio" ng-model="consents.acceptedGdprTc" ng-disabled="true" ng-value="false">No</label>
                </span>
            </div>
            <div class="col-xs-10">
                <span class="radio-text">I confirm that I am 18 years or older and have read and accept the <a class="terms" ng-click="readGamesTerms()">TERMS & CONDITIONS</a></span>
            </div>
        </div>
        <div class="form-group" ng-show="showEmail">
            <div class="col-xs-1">
                <span class="radios"><label><input type="radio" ng-model="consents.allowGzEmail" ng-value="true">Yes</label></span>
            </div>
            <div class="col-xs-1">
                <span class="radios"><label><input type="radio" ng-model="consents.allowGzEmail" ng-value="false">No</label></span>
            </div>
            <div class="col-xs-10">
                <span class="radio-text">Yes, please send me exclusive offers by email.</span>
            </div>
        </div>
        <div class="form-group" ng-show="showSms">
            <div class="col-xs-1">
                <span class="radios">
                    <label><input type="radio" ng-model="consents.allowGzSms" ng-value="true">Yes</label>
                </span>
            </div>
            <div class="col-xs-1">
                <span>
                    <label><input type="radio" ng-model="consents.allowGzSms" ng-value="false">No</label>
                </span>
            </div>
            <div class="col-xs-10">
                <span class="radio-text">Yes, please send me exclusive offers by sms.</span>
            </div>
        </div>
        <div class="form-group" ng-show="show3rdParty">
            <div class="col-xs-1">
                <span class="radios">
                    <label><input type="radio" ng-model="consents.allow3rdPartySms" ng-value="true">Yes</label>
                </span>
            </div>
            <div class="col-xs-1">
                <span class="radios">
                    <label><input type="radio" ng-model="consents.allow3rdPartySms" ng-value="false">No</label>
                </span>
            </div>
            <div class="col-xs-10">
                <span class="radio-text">Yes, please send me exclusive offers by email and SMS from 3rd parties. <a class="terms" ng-click="read3rdParties()">View all</a> 3rd parties here.</span>
            </div>
        </div>
        <h6 class="disclaimer">Note: If you wish to change any personal information regarding your profile please contact <a href="mailto:help@greenzorro.com">help-at-greenzorro-dot-com</a> with your request and relevant documentation regarding changes.</h6>

        <div class="form-group">
            <div class="col-xs-11">
                <div class="btns">
                    <button type="submit" class="btn-gz" ng-disabled="form.$invalid||!consents.acceptedGdprTc"
                            ng-mouseenter="hovered = true" ng-mouseleave="hovered = false">
                        <span ng-show="waiting && !hovered" us-spinner="spinnerGreen"></span>
                        <span ng-show="waiting && hovered" us-spinner="spinnerWhite"></span>
                        <span ng-show="!waiting">Update Profile</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
