<div class="pending-withdrawals">
    <p class="text-frame text-frame-md" ng-if="pendingWithdrawals !== undefined && pendingWithdrawals.length === 0">
        You do not currently have any pending withdrawals. When you initiate a withdrawal it will automatically be left pending
        here until we have processed it.
        <br /><br />
        Until a withdrawal has been processed you have the opportunity to cancel it and return the money to your greenzorro account.
    </p>

    <div class="table-container" ng-if="pendingWithdrawals !== undefined && pendingWithdrawals.length > 0">
        <table ng-if="!mobile" class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATE</th>
                    <th>AMOUNT</th>
                    <th>DESCRIPTION</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="bg-light-grey">
                <tr class="text-gz" ng-repeat="pw in pendingWithdrawals track by pw.transactionID">
                    <td class="text-center">{{pw.transactionID}}</td>
                    <td class="text-center">{{pw.date}}</td>
                    <td class="text-right">{{pw.amount}}</td>
                    <td class="text-center">{{pw.description}}</td>
                    <td class="text-center rollback-col" ng-mouseenter="pw.hovered = true" ng-mouseleave="pw.hovered = false">
                        <button type="button" class="btn-gz btn-gz-alt" ng-class="{'not-allowed':!pw.isRollbackAllowed || pw.cancelling}" ng-click="!pw.isRollbackAllowed || pw.cancelling || rollback(pw, $index)">
                            <span ng-if="pw.cancelling && !pw.hovered" us-spinner="spinnerWhite"></span>
                            <span ng-if="pw.cancelling && pw.hovered" us-spinner="spinnerGreen"></span>
                            <span ng-show="!pw.cancelling">
                                <i ng-show="pw.isRollbackAllowed" class="fa fa-undo" title="Rollback"></i>
                                <i ng-show="!pw.isRollbackAllowed" class="fa fa-ban" title="Rollback not allowed"></i>
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="mobile">
            <ul class="padded-xs">
                <li ng-repeat="pw in pendingWithdrawals track by pw.transactionID">
                    <div class="row">
                        <div class="col-xs-12">{{pw.transactionID}}</div>
                    </div>
                    <div class="row bg-light-grey text-gz">
                        <div class="col-xs-6">{{pw.date}}</div>
                        <div class="col-xs-6 text-right">{{pw.amount}}</div>
                        <div class="col-xs-12">{{pw.description}}</div>
                        <div class="text-right rollback-btn" ng-mouseenter="pw.hovered = true" ng-mouseleave="pw.hovered = false">
                            <button type="button" class="btn-gz btn-gz-alt" ng-class="{'not-allowed':!pw.isRollbackAllowed || pw.cancelling}" ng-click="!pw.isRollbackAllowed || pw.cancelling || rollback(pw, $index)">
                                <span ng-if="pw.cancelling && !pw.hovered" us-spinner="spinnerWhite"></span>
                                <span ng-if="pw.cancelling && pw.hovered" us-spinner="spinnerGreen"></span>
                                <span ng-show="!pw.cancelling">
                                    <i ng-show="pw.isRollbackAllowed" class="fa fa-undo" title="Rollback"></i>
                                    <i ng-show="!pw.isRollbackAllowed" class="fa fa-ban" title="Rollback not allowed"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
