<div class="row withdraw">
    <div class="col-sm-8 left-content">
        <form class="form-horizontal" name="form" ng-submit="submit()" role="form" novalidate>
            <div class="form-group text-center">
                <h5>Make a withdrawal</h5>
            </div>

            <div class="form-group payment-method">
                <span class="method-icon" ng-bind-html="selectedMethodGroup[0].icon"></span>
                <span class="method-name">{{selectedMethodGroup[0].displayName}}</span>
            </div>

            <div class="form-group" ng-if="selected.group.length > 1">
                <div class="col-xs-12">
                    <gz-select gz-model="selected.method" gz-collection="selected.group" gz-prompt="--select pay card--"
                               gz-id="payCard.id" gz-display="payCard.name" gz-change="onPayCardSelected()">
                    </gz-select>
                </div>
                <gz-field-ok gz-when="selected.method"></gz-field-ok>
            </div>


            <div class="form-group">
                <span ng-if="initializing" us-spinner="spinnerWhite"></span>
                <div id="withdrawFields"></div>
            </div>

            <div class="form-group">
                <div class="btns text-center">
                    <button type="submit" class="btn-gz" ng-disabled="form.$invalid || waiting">
                        <span ng-show="waiting" us-spinner="spinnerGreen"></span>
                        <span ng-show="!waiting">Withdraw</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="divider"></div>
    <div class="col-sm-4 right-content">
        <div class="text-center">
            <h5>Other methods</h5>
        </div>

        <div class="payment-methods">
            <div class="payment-method col-sm-12 col-xs-6" ng-repeat="group in groupedPaymentMethods" ng-if="group !== selectedMethodGroup" ng-class="{'single':groupedPaymentMethods.length === 2}">
                <div class="payment-method-icon" ng-bind-html="group[0].icon" ng-click="selectPaymentMethod(group)"></div>
                <div>{{group[0].displayName}}</div>
            </div>
            <div class="col-xs-12 text-center" ng-if="paymentMethods.length === 1">-</div>
        </div>
    </div>
</div>
