<div class="withdraw-skrill">
    <div>{{model.selectedMethod.name}}</div>

    <div class="col-xs-12" ng-if="!payCardID">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" ng-pattern="accountRegex" placeholder="account email" id="accountEmail" name="accountEmail" class="form-control" ng-model="model.accountEmail" required
                           ng-class="{ 'empty': !model.accountEmail, 'danger' : form.accountEmail.$invalid && !form.accountEmail.$pristine }">
                </div>
                <div class="col-xs-12">
                    <div class="help-block" ng-class="{'show': !form.accountEmail.$pristine && form.accountEmail.$invalid}">Invalid account email.</div>
                </div>
            </div>
            <gz-field-ok gz-when="form.accountEmail.$valid"></gz-field-ok>
        </div>
    </div>

    <div ng-include="'_app/accountManagement/withdrawAmountField.html'"></div>
</div>
