<div class="withdraw-skrill">
    <!--<div>{{model.selectedMethod.name}}</div>-->
    <div class="form-group" ng-if="selected.group.length === 1 && selected.method.payCard && selected.method.payCard.name">
        <div class="col-xs-12">
            <input type="text" class="form-control" ng-model="selected.method.payCard.name" disabled="disabled" />
        </div>
        <gz-field-ok gz-when="selected.method"></gz-field-ok>
    </div>

    <div class="form-group" ng-if="selected.group.length > 1">
        <div class="col-xs-12">
            <gz-select gz-model="selected.method" gz-collection="selected.group" gz-prompt="--select pay card--"
                       gz-id="payCard.id" gz-display="payCard.name" gz-change="onPayCardSelected()">
            </gz-select>
        </div>
        <gz-field-ok gz-when="selected.method"></gz-field-ok>
    </div>

    <div class="col-xs-12" ng-if="!selected.method">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" ng-pattern="accountRegex" placeholder="account email" id="accountEmail" name="accountEmail" class="form-control" ng-model="model.accountEmail" required
                           ng-class="{ 'empty': !model.accountEmail, 'danger' : form.accountEmail.$invalid && !form.accountEmail.$pristine }">
                </div>
                <div class="col-xs-12">
                    <div class="help-block" ng-class="{'show': !form.accountEmail.$pristine && form.accountEmail.$invalid}">Invalid account email.</div>
                </div>
            </div>
            <gz-field-ok gz-when="form.accountEmail.$valid"></gz-field-ok>
        </div>
    </div>

    <div ng-include="'_app/accountManagement/withdrawAmountField.html'"></div>
</div>
