<div class="payment-methods text-center">
    <h5>Select withdraw method</h5>

    <div ng-if="initializing" class="initializing-spinner" us-spinner="spinnerWhite"></div>
    <div ng-if="!initializing">
        <div class="payment-method col-xs-6" ng-repeat="method in paymentMethods">
            <div class="payment-method-icon" ng-bind-html="method.icon" ng-click="selectPaymentMethod(method)"></div>
            <div>{{method.descr}}</div>
            <!--<div ng-repeat="d in method.descr">{{d}}</div>-->
        </div>
    </div>
</div>
