<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings file="d:\sc\AppPrivate.config">-->
  <appSettings>
    <add key="everymatrixProductionSiteUrl" value="https://admin3.gammatrix.com/Admin/Login.aspx" />
    <add key="everymatrixStageSiteUrl" value="http://admin.gm.stage.everymatrix.com" />
  </appSettings>
</configuration>