<div class="values">
    <div class="col-xs-12 col-sm-4 value text-center">
        <div class="value-top">Years</div>
        <div class="value-middle">{{year}}</div>
        <div class="value-bottom"></div>
    </div>
    <div class="col-xs-12 col-sm-4 value text-center">
        <div class="value-top">Projected Value</div>
        <div class="value-middle value-bold">{{projectedValue | currency : gzCurrency : 0}}</div>
        <div class="value-bottom">({{profit > 0 ? '+' : ''}}{{profit | currency : gzCurrency : 0}})</div>
        <!--<div class="value-middle">{{model.currency}}<span format="'comma'" count-to="{{model.projectedValue}}" value="{{modelFrom.projectedValue}}" duration="{{model.countDuration}}"></span></div>
        <div class="value-bottom">({{model.profit >= 0 ? '+' : '-'}}{{model.currency}}<span count-to="{{model.profit}}" value="{{modelFrom.profit}}" duration="{{model.countDuration}}"></span>)</div>-->
    </div>
    <div class="col-xs-12 col-sm-4 value text-center">
        <div class="value-top">Annual Contribution</div>
        <div class="value-middle">{{annualContribution | currency : gzCurrency : 0}}</div>
        <div class="value-bottom"></div>
    </div>
</div>
<div class="plans clearfix">
    <div class="col-xs-12 col-sm-4 plan text-center" ng-repeat="plan in plans">
        <button type="button" ng-disabled="plan.Selected" ng-click="selectPlan(plan)">
            <span>{{plan.Title}}</span>
        </button>
    </div>
</div>
<div class="clearfix" style="margin-top: 30px;">
    <div>
        <div class="col-xs-3 text-center">
            <div>Initial Amount:</div>
            <div><input type="number" ng-model="principalAmount" ng-change="calculateProjection()" /></div>
        </div>
        <div class="col-xs-3 text-center">
            <div>Year:</div>
            <div><input type="number" ng-model="year" ng-change="calculateProjection()" /></div>
        </div>
        <div class="col-xs-3 text-center">
            <div>Annual Contribution:</div>
            <div><input type="number" ng-model="annualContribution" ng-change="calculateProjection()" /></div>
        </div>
        <div class="col-xs-3 text-center">
            <div>Return Rate:</div>
            <div><input type="number" ng-model="rate" ng-change="calculateProjection()" /></div>
        </div>
    </div>
    <div class="text-center">
        <button type="button" ng-click="toggleFullScreen()" style="margin-top: 20px;">
            GO FULLSCREEN
        </button>
    </div>
</div>
<div id="canvas" class="clearfix" fullscreen="isFullscreen" only-watched-property>
    <div class="fullscreen-hud" ng-show="isFullscreen">
        <span class="clock"><i class="fa fa-clock-o"></i>{{ clock | date:'HH:mm:ss'}}</span>
        <span class="exit" ng-click="toggleFullScreen()"><i class="fa fa-times"></i>Exit</span>
    </div>
</div>


