<div class="msg-container">
    <div class="msg-overlay"
         ng-if="nsOptions.nsType === 'modal'"
         ng-click="onOverlayClick()"
         ng-class="{ 'msg-active': nsOptions.nsActive, 'msg-backdrop': nsOptions.nsBackdrop }"
         ng-style="{ 'z-index': getOverlayZIndex() }">
    </div>
    <div class="msg"
         ng-class="{ 'msg-active': nsOptions.nsActive }"
         ng-style="{ 'z-index': getMsgZIndex() }"
         ng-mouseenter="onMouseEnter()"
         ng-mouseleave="onMouseLeave()">
        <div class="msg-frame" ng-class="{'msg-minimized':isMinimized()}" ng-dblclick="toggleMinMax()">
            <span ng-if="showBadge()" class="msg-badge pull-left">{{nsIndex + 1}}</span>
            <i ng-if="showClose()" class="msg-close fa fa-close pull-right" ng-click="onCloseClick()"></i>
            <i ng-show="showExpandCollapse() && !isMinimized()" class="msg-down fa fa-angle-down pull-right" ng-click="toggleMinMax()"></i>
            <i ng-show="showExpandCollapse() && isMinimized()" class="msg-up fa fa-angle-up pull-right" ng-click="toggleMinMax()"></i>
        </div>
        <div class="msg-content" ng-class="{'msg-with-lifespan': nsOptions.nsAutoClose}" ng-show="!isMinimized()">
            <div class="msg-title-wrap" ng-click="onTitleClick()" ng-class="{'msg-empty-title': nsOptions.nsTitle.length === 0}" ng-style="{ 'cursor': nsOptions.nsCloseOnTitleClick ? 'pointer' : 'default' }">
                <div class="msg-icon" ng-if="nsOptions.nsIconClass" ng-class="{'msg-icon-inversed': nsOptions.nsIconClassInversed}">
                    <i class="fa fa-lg" ng-class="nsOptions.nsIconClass"></i>
                </div>
                <div class="msg-title"
                     ng-class="{ 'msg-title-shout': nsOptions.nsTitleShout }"
                     ng-style="{ 'margin-left': nsOptions.nsIconClass ? '40px' : 0}"
                     ng-bind-html="nsOptions.nsTitle">
                </div>
            </div>
            <div class="msg-body"></div>
            <div ng-show="nsOptions.nsPromptButtons.length > 0" class="msg-prompt-btns pull-right">
                <button type="button" class="btn-gz" ng-repeat="btn in nsOptions.nsPromptButtons" ng-click="onBtnClick(btn.eventKey)">{{btn.text}}</button>
            </div>
        </div>
        <div ng-show="nsOptions.nsAutoClose" class="msg-life" ng-style="{'width': percentage + '%'}"></div>
    </div>
</div>
