body {
    margin:0;
	padding:0;
	font-family:Helvetica;
	background:#F2F2F2;
}

/*region Generic*/
.admin .admin-table { margin-top: 80px; }
.admin.admin-create { margin-top: 20px; }

.admin .admin-table .table-head { 
    background-color: #27A95C;
    height: 130px; 
    bottom: -20px; 
    margin: 0 1px;
    color: #fff;
}

.admin .admin-table .table-head a { color: #fff; line-height: 5; padding-left: 5px; display: block; }

.admin .admin-table .table-controls { height: 50px; bottom: -15px; }
.admin .admin-table .table-head .table-controls .filters-form a { width: 90px; }

.admin .admin-table .filters-form .form-group { left: -10px; bottom: -15px; display: block; }
.admin .admin-table .filters-form .form-group .form-control { height: 30px; color: #27A95C; }
.admin .admin-table .filters-form .form-group .btn-gz { width: 100%; margin-top: 0; height: 29px; line-height: 1; }

.admin .admin-table .admin-pagination .pagination { float: right; margin-right: 5px; }
.admin .admin-table .admin-pagination .pagination a { color: #27A95C; height: 30px; line-height: 1; bottom: 10px }
.admin .admin-table .admin-pagination .pagination .active a { background-color: #27A95C; border-color: #27A95C; color: #fff; }

.admin .table-interface .table thead tr { background-color: #27A95C; color: #fff; }  
.admin .table-interface .table tbody tr:nth-of-type(2n+1) { background: #c0c0c0; }
.admin .table-interface .table tbody tr td a { color: #27A95C; }

.admin .table { overflow-x: scroll; }
.admin .table thead tr { background-color: #27A95C; }

/*region emailTemplates/edit-details*/

.admin { margin-top: 20px; }
.admin .admin-interface .heading { padding: 0 20px; height: 100px; }
.admin .admin-interface .heading a { line-height: 12; color: #27A95C; }
.admin .admin-interface .view-holder { margin-top: 100px; border-top: 1px solid #fff; }
.admin .admin-interface .view-holder .view-header { color: #fff;  }
.admin .admin-interface .view-holder .template-preview { margin-top: 10px; margin-bottom: 100px; background-color: white; padding: 20px; }

.admin .content .form-group textarea { width: 100%; padding: 5px; }

.admin.admin-details .content dl dd { padding-bottom: 15px; }

.admin .content dl { margin-bottom: 50px; color: #fff; }

.admin .content .form-group label { color: white; }

.admin .content a { color: white; padding: 5px; }

.admin .admin-interface input[type="submit"] { margin-top: 50px; margin-bottom: 100px }

@media (max-width: 991px) {
    .admin .admin-table .table-head { height: 357px; }
    .admin .admin-table .filters-form .form-group .btn-gz { margin: 0 auto; }
}
/*endregion*/

/*region Users*/
@media (max-width: 991px) {
    .admin.admin-users .admin-table .table-head { height: 220px; }
    .admin.admin-users .admin-table .table-head .table-controls .admin-pagination .pagination { margin-right: 25px; }
}
/*endregion*/

/*region Roles*/
@media (max-width: 991px) {
    .admin.admin-roles .admin-table .table-head { height: 120px; }
}
/*endregion*/

/*region Emails*/
.admin.admin-emails .admin-table .table-head .table-controls .filters-form .col-md-1 { padding-left: 0; display: block; }
.admin.admin-emails .admin-table .table tbody tr td { max-height: 50px; }

@media (max-width: 991px) {
    .admin.admin-emails .admin-table .table-head { height: 300px; }
    .admin.admin-emails .admin-table .table-head .table-controls .admin-pagination .pagination { margin-right: 25px; }
}
/*endregion*/

/*region Logs*/
.admin-logs .admin-table .table tbody .btn-gz { width: 150px; }

.admin-logs .admin-table .table tbody .Fatal { background-color: #ff0000; }
.admin-logs .admin-table .table tbody .Error { background-color: #ff3300; }
.admin-logs .admin-table .table tbody .Warn { background-color: #ff8000; }
.admin-logs .admin-table .table tbody .Debug,
.admin-logs .admin-table .table tbody .Info,
.admin-logs .admin-table .table tbody .Trace { background-color: #c0c0c0; }

.log-entry-modal-content .modal-body ul li { list-style: none; padding: 10px 0; }
.log-entry-modal-content .modal-body ul li:nth-of-type(2n+1) { background-color: #f2f2f2; }
.admin-logs .modal .modal-dialog { max-height: 1000px; width: 800px; }

@media (max-width: 991px){
    .admin-logs .admin-table .admin-pagination .pagination { float: none; margin-left: calc(50% - 140px); }
}
/*endregion*/
/*region login*/

#loginForm { margin-top: 50px; }

.admin-login .login-interface { padding: 0; box-shadow: 2px 2px 2px 2px #c0c0c0; }

.admin .heading { height: 200px; background: #fff; padding-top: 40px; }

.admin .content { padding-top: 100px; }
.admin-login .content .logo-icon { margin-top: -140px;   }
.admin-login .content .logo-icon img { height: 80px; border-radius: 50%; box-shadow: 2px 1px 2px #707070; }
.admin .content .form-group { position: relative; }
.admin .content .form-group .checkbox { margin-left: 20px; color: white; }
.admin .content .form-group .checkbox label { margin-left: -12px; }
.admin .content .form-group .btn-gz { width: 150px; text-transform: uppercase; margin-bottom: 50px; margin-top: 30px; }
/*endregion*/

/*ACE Editor region*/
.ace_editor { width: 100%!important; min-height: 100%!important; }

.admin.admin-details.dynamic-details .admin-interface .ace_editor { margin-bottom: 100px; }
/*endregion*/

/*region DynamicPages*/
.admin input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.admin.dynamic-create .admin-interface .form-group label,
.admin.dynamic-edit .admin-interface .form-group label { margin-top: 21px; }

.admin.admin-details.dynamic-details .admin-interface .content h4:nth-of-type(2n+1) { text-decoration: underline; margin-top: 25px; color: #fff; }
.admin.admin-details.dynamic-details .admin-interface .content h4 { text-align: left; color: #ccc; }
