@charset "utf-8";

/**************** UI-Bootstrap ********************/
.nav, .pagination, .carousel, .panel-title a, a:hover {
    cursor: pointer;
}

* {
  margin: 0;
    padding: 0;
}

html {
    position: relative;
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    font-family: Helvetica;
    font-weight: 300;
    background: #F2F2F2;
    overflow-x: hidden;
}
.view-container {
    padding-top: 100px;
}
.non-footer {
    /*min-height: 100%;*/
    min-height: calc(100% - 50px);
    margin-bottom: -50px;
}
.non-footer:after {
    content: "";
    display: block;
    height: 50px;
}
.footer {
    clear: both;
    height: 50px;
}



a { text-decoration:none; }

.no-padded { padding: 0; }
.padded-xs { padding: 5px; }
.padded-sm { padding: 10px; }
.padded-md { padding: 20px; }
.padded-lg { padding: 50px; }

.strike {
    text-decoration: line-through;
    -ms-opacity: 0.3;
    opacity: 0.3;
}
.fade-out {
    -ms-opacity: 0.5;
    opacity: 0.5;
}
.full-width { width: 100%; }
.auto-width { width: auto; }
.relative { position: relative; }
.absolute { position: absolute; }
.text-shadow-dark {
    -ms-text-shadow: 1px 1px 1px #000000, 2px 2px 4px #999;
    -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, .8), 2px 2px 4px #999;
    text-shadow: 1px 1px 1px #000000, 2px 2px 4px #999;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8), 2px 2px 4px #999;
}

.text-shadow-light {
    -ms-text-shadow: 1px 1px 1px #ffffff, 2px 2px 4px #999;
    -ms-text-shadow: 1px 1px 1px rgba(255, 255, 255, .8), 2px 2px 4px #999;
    text-shadow: 1px 1px 1px #ffffff, 2px 2px 4px #999;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .8), 2px 2px 4px #999;
}

.loading {
    position: fixed;
    min-height: 100%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1005;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
}


.text-gz { color: #27A95C; }
.text-grey { color: #646464; }
.text-black { color: #000; }

.bg-gz { background-color: #27A95C; }
.bg-grey { background-color: #F2F2F2; }
.bg-white { background-color: #fff; }



.fullscreen-hud {
    color: #27A95C;
    position: absolute;
    z-index: 10000000000000;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}
.fullscreen-hud i.fa {
    margin-right: 10px;
}
.fullscreen-hud .exit {
    /*margin-right: 40px;*/
    cursor: pointer;
}
.fullscreen-hud .clock {
    margin-right: 40px;
}


button.btn-gz {
    height: 36px;
    line-height: 36px;
    margin: 7px 5px;
    padding: 0 10px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    outline: none;
    color: #27A95C;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;

    background: #f2f2f2;
    color: #27A95C;
    border: 1px solid #27A95C;
}
button.btn-gz:hover{
	background:#27A95C;
	color:#fff;
    border: 1px solid #fff;
}
button.btn-gz:disabled {
    background: #f2f2f2;
    color: #27A95C;
    border: 1px solid #27A95C;
    cursor: not-allowed;
    -ms-opacity: 0.5;
    opacity: 0.5;
}

button.btn-gz.btn-gz-alt {
    height: 36px;
    line-height: 36px;
    margin: 7px 5px;
    padding: 0 10px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;

    background: #27A95C;
    color: #fff;
    border: 1px solid #fff;
}
button.btn-gz.btn-gz-alt:hover{
    background: #f2f2f2;
    color: #27A95C;
    border: 1px solid #27A95C;
}



/* #region Conditional Styling */

/**************** XΧS ********************/
@media (max-width: 419px) {
}

/**************** XS ********************/
@media (max-width: 767px) {
}

/**************** SM ********************/
@media (min-width: 768px) and (max-width: 991px) {
}

/**************** MD ********************/
@media (min-width: 992px) and (max-width: 1199px) {
}

/**************** LG ********************/
@media (min-width: 1200px) {
}

/**************** XS - SM ********************/
@media (max-width: 991px) {
}

/**************** SM - MD ********************/
@media (min-width: 768px) and (max-width: 1199px) {
}

/**************** MD - LG ********************/
@media (min-width: 992px) {
}

/**************** XS - MD ********************/
@media (max-width: 1199px) {
}

/**************** SM - LG ********************/
@media (min-width: 768px) {
}

/* #endregion */