@charset "utf-8";

/**************** UI-Bootstrap ********************/
.nav, .pagination, .carousel, .panel-title a, a:hover {
    cursor: pointer;
}

* {
  margin: 0;
    padding: 0;
}

html {
    position: relative;
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    font-family: Helvetica;
    font-weight: 300;
    background: #F2F2F2;
    overflow-x: hidden;
}
.view-container {
    padding-top: 100px;
}
.non-footer {
    min-height: calc(100% - 50px);
    margin-bottom: -50px;
}
.non-footer:after {
    content: "";
    display: block;
    height: 50px;
}
.footer {
    clear: both;
    height: 50px;
}

a { text-decoration:none; }

.no-padded { padding: 0; }
.padded-xs { padding: 5px; }
.padded-sm { padding: 10px; }
.padded-md { padding: 20px; }
.padded-lg { padding: 50px; }

.strike {
    text-decoration: line-through;
    -ms-opacity: 0.3;
    opacity: 0.3;
}
.fade-out {
    -ms-opacity: 0.5;
    opacity: 0.5;
}
.full-width { width: 100%; }
.auto-width { width: auto; }
.relative { position: relative; }
.absolute { position: absolute; }
.text-shadow-dark {
    -ms-text-shadow: 1px 1px 1px #000000, 2px 2px 4px #999;
    -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, .8), 2px 2px 4px #999;
    text-shadow: 1px 1px 1px #000000, 2px 2px 4px #999;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8), 2px 2px 4px #999;
}

.text-shadow-light {
    -ms-text-shadow: 1px 1px 1px #ffffff, 2px 2px 4px #999;
    -ms-text-shadow: 1px 1px 1px rgba(255, 255, 255, .8), 2px 2px 4px #999;
    text-shadow: 1px 1px 1px #ffffff, 2px 2px 4px #999;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .8), 2px 2px 4px #999;
}

.loading {
    position: fixed;
    min-height: 100%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1005;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.6);
}


.text-gz { color: #27A95C; }
.text-grey { color: #646464; }
.text-black { color: #000; }

.bg-gz { color: #27A95C; }
.bg-grey { color: #F2F2F2; }
.bg-white { color: #fff; }



.fullscreen-hud {
    color: #27A95C;
    position: absolute;
    z-index: 10000000000000;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}
.fullscreen-hud i.fa {
    margin-right: 10px;
}
.fullscreen-hud .exit {
    cursor: pointer;
}
.fullscreen-hud .clock {
    margin-right: 40px;
}






/* #region Bootstrap Breakpoints */
/**************** XS ********************/
@media (max-width: 767px) {
}

/**************** SM ********************/
@media (min-width: 768px) and (max-width: 991px) {
}

/**************** MD ********************/
@media (min-width: 992px) and (max-width: 1199px) {
}

/**************** LG ********************/
@media (min-width: 1200px) {
}

/**************** XS - SM ********************/
@media (max-width: 991px) {
}

/**************** SM - MD ********************/
@media (min-width: 768px) and (max-width: 1199px) {
}

/**************** MD - LG ********************/
@media (min-width: 992px) {
}

/**************** XS - MD ********************/
@media (max-width: 1199px) {
}

/**************** SM - LG ********************/
@media (min-width: 768px) {
}
/* #endregion */