@charset "utf-8";


.non-footer {
    min-height: calc(100% - 150px);
    margin-bottom: -150px;
}
.footer {
    clear: both;
    height: 150px;
}

footer {
    width: 100%;
    height: 150px;
    margin-top: 150px;    
    font-size: 12px;
    color: #fff;
}
footer a {
    /*color: #fff;
    -ms-opacity: 0.7;
    opacity: 0.7;*/
    color: #f2f2f2;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}

footer a:hover,
footer a:focus,
footer a:active,
footer a:visited {
    color: #fff;
    text-decoration: none;
    /*-ms-opacity: 1;
    opacity: 1;*/
}

footer .pull-left a {
    margin-right: 10px;
}
footer .pull-right a {
    margin-left: 10px;
}
footer .pull-right a i {
    width: 18px;
    height: 18px;
}



footer .footer-menu {
    height: 40px;
    line-height: 40px;
    margin: 10px 0 5px;
}
footer .footer-menu a {
    margin: 0 10px;
}
footer .footer-social {
    height: 40px;
    line-height: 40px;
    margin: 5px 0 10px;
    /*border-bottom: 1px dashed #fff;*/
}
footer .footer-social a {
    margin: 0 10px;
    display: inline-block;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    bottom: 0;
}

footer .footer-social a:hover  {
    bottom: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

/*footer .footer-social a:hover { margin: -10px 10px 0; }*/

footer .copyright {
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    margin-top: 5px;
}
footer .copyright img {
    width: 28px;
    height: 28px;
}

footer .company-registration {
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    /*margin-bottom: 10px;*/
}

footer .company-registration span.company-registration-separator { display: inline-block; }
footer .company-registration br.company-registration-separator { display: none; }

@media (max-width: 420px) {
    footer {
        font-size: 10px;
    }
    footer a {
        padding: 0;
    }
    footer .footer-menu a {
        margin: 0 5px;
    }
    footer .footer-social {
        margin-bottom: 10px;
    }
    footer .copyright {
        font-size: 9px;        
        margin-top: 0;
    }
    footer .company-registration {
        font-size: 9px;
        height: 15px;
        line-height: 15px;
        margin-bottom: 5px;
    }

    footer .company-registration span.company-registration-separator { display: none; }
    footer .company-registration br.company-registration-separator { display: block; }
}