@charset "utf-8";

.games {
}

/* #region Games List */
.games-list {
}

/* #region search */
.games-list .search-panel {
    background-color: #dfdfdf;
    padding: 50px 0;
}

.games-list .search-panel .search-categories {
    line-height: 34px;
}
.games-list .search-panel .search-categories a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}
.games-list .search-panel .search-categories a:first-of-type {
    margin-left: 10px;
}
.games-list .search-panel .search-categories a:last-of-type {
    margin-right: 10px;
}
.games-list .search-panel .search-categories a:hover,
.games-list .search-panel .search-categories a:focus,
.games-list .search-panel .search-categories a:active {
    color: #000;
}


.games-list .search-panel .search-game {
}
.games-list .search-panel .search-game input {
    height: 34px;
    border-radius: 4px;
}
.games-list .search-panel .search-game .form-control-feedback {
    margin-right: 18px;
    line-height: 34px;
}
/* #endregion */


/* #region categories */
.game-categories .category { margin-top: 20px; }
.game-categories .category .title {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 15px;
}
.game-categories .category .game { padding: 0; }
/* #endregion */



/* #region Game Play */
.game-play .game-bg {
    z-index: -2;
    margin-top: 50px;
}
.game-play .game-frame {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.game-play .game-frame iframe {
    position: fixed;

    background-color: #000;
    -webkit-box-shadow: 0 0 50px 0 #fff;
    -ms-box-shadow: 0 0 50px 0 #fff;
    box-shadow: 0 0 50px 0 #fff;
    border: 1px solid #fff;
}

/*.game-play .game-frame.isInFullScreen iframe {
}*/

.game-play .game-frame .game-actions {
    position: fixed;
    z-index: 2;
    color: #fff;
    padding: 5px;
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /*background-color: #000000;
    background-color: rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 50px 0 #fff;
    -ms-box-shadow: 0 0 50px 0 #fff;
    box-shadow: 0 0 50px 0 #fff;*/
    background-color: #27A95C;
    border: 1px solid #fff;
    border-top: none;
}
.game-play .game-frame .game-actions i {
    margin: 2px 8px;
    cursor: pointer;
}

.game-play .game-frame .game-licence {
    position: fixed;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    width: 100%;
    text-align: center;
    z-index: -1;
}
/* #endregion */

