@charset "utf-8";


/* #region Common */
.guest {
}
/* #endregion */

/* #region Home */
.guest .home {
}

.guest .home .top {
	background-color: #27A95C;
	position: relative;
    padding-top: 70px;
}

.guest .home .middle { background-color: #ececec; }

.guest .home .row { padding: 10px; }

.guest .home .top .container {
	padding-bottom: 0;
	padding-top: 50px;
}

.guest .home .container { padding: 60px 0; }

/*** top section ***/
.guest .home .top .laptop-big {
	position: absolute;
	height: 300px;
	bottom: -10px;
	z-index: 100;
}

.guest .home .top .right-heading { color: white; }

/*.guest .home .top .right-heading .benefit-mark { 
    background: #07693C;
    color: white;
    margin-left: -0.2em;
}*/

.guest .home .top .right-heading h2:last-of-type { 
    margin-bottom: 20px; 
    margin-top: 25px;
}

.guest .home .top .right-heading .sign-up-btn {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0 30px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #555;
    width: 250px;
}
.guest .home .top .right-heading .sign-up-btn:hover {
    color: #fff;
}

.guest .home .top .right-heading .sign-up-btn img {
    height: 25px;
    margin-top: -4px;
}

.guest .home .top .right-heading .watch-video {
	display: block;
    width: 120px;
	text-transform: uppercase;
	color: white;
	margin-top: 10px;
	margin-bottom: 12px;
}

/*** middle section ***/
.guest .home .middle h3 {
	margin-top: 40px;
	font-size: 20px;
}

.guest .home .middle .say-hello { margin-bottom: 45px; }

.guest .home .middle p { margin-top: 20px; }

/*** bottom section ***/
.guest .home .bottom h3 { 
	margin-bottom: 20px; 
	font-size: 1.4em;
}

.guest .home .bottom .process-item {
	padding: 7px;
	text-align: center;
    height: 300px
}

.guest .home .bottom .process-item  p { text-align: left; }

.guest .home .bottom .process-item  h4 {
	font-size: 1.6em;
	margin-bottom: 10px;
	text-align: left;
}

.guest .home .bottom .process-item img {
	margin-bottom: 8px;
	width: 130px;
}

/**************** MD - LG ********************/
@media (min-width: 992px) {
    .guest .home .top .right-heading h2 { margin-bottom: -15px; }
}

/**************** XS - MD ********************/
@media (max-width: 1199px) {
    .guest .home .top .laptop-big { height: 280px; bottom: -9px; }
    .guest .home .middle .say-hello { margin-bottom: 0; }
}

/**************** XS - SM ********************/
@media (max-width: 991px) {
    .guest .home .top { padding-bottom: 300px; padding-top: 50px; }
	.guest .home .top .right-heading h2 { font-size: 28px }
    .guest .home .top .right-heading {
		left: 0;
		text-align: center;
		letter-spacing: 5px;
	}
    .guest .home .top .right-heading h5 { margin: 20px 0; }
    .guest .home .top .right-heading .watch-video { width: 180px; margin: 20px auto 0; }
	.guest .home .top .laptop-big { left: calc(50% - 244.31px); }

    .guest .home .bottom .process-item { padding: 0; height: 250px }
	.guest .home .bottom .process-item h4 { font-size: 18px; }
	.guest .home .bottom .process-item img { width: 100px; }	
	.guest .home .bottom .process-item p { font-size: 12px; }		
}

@media (max-width: 767px) {
    .guest .home .top { padding-bottom: 270px; }
    .guest .home .top .right-heading h2 { font-size: 24px }
    .guest .home .top .right-heading h5 { font-size: 12px }
    .guest .home .top .right-heading .sign-up-btn { font-size: 12px; }
    .guest .home .top .right-heading .watch-video { font-size: 11px; width: 170px; margin: 0 auto; margin-top: 10px; }
	.guest .home .top .laptop-big { 
        height: 250px;
        bottom: -8px;
        left: calc(50% - 218.165px); 
	}
    
    .guest .home .middle h3 { font-size: 18px; }
    .guest .home .middle p { font-size: 14px; }

    .guest .home .bottom h3 { 
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .guest .home .bottom .process-item h4,
    .guest .home .bottom .process-item p { text-align: center; }	
}

@media (max-width: 490px) {
    .guest .home .top { padding-bottom: 240px; }
    .guest .home .top .right-heading h2 { font-size: 20px; letter-spacing: 5px; }
    .guest .home .top .right-heading h5 { font-size: 10px; letter-spacing: 5px; }
    .guest .home .top .right-heading .sign-up-btn { font-size: 10px; margin-top: 5px; height: 35px; line-height: 35px; }
    .guest .home .top .right-heading .sign-up-btn img { height: 20px; }
    .guest .home .top .right-heading .watch-video { font-size: 11px; letter-spacing: 5px; }
    .guest .home .top .laptop-big { height: 230px; left: calc(50% - 200.71px); }
}

@media (max-width: 446px) {
    .guest .home .top { padding-bottom: 220px; }
    .guest .home .top .right-heading h2 { font-size: 18px; letter-spacing: 4px; }
    .guest .home .top .right-heading h5 { font-size: 9px; letter-spacing: 4px; }
    .guest .home .top .right-heading .sign-up-btn { font-size: 9px; margin-top: 4px; }
    .guest .home .top .right-heading .watch-video { font-size: 10px; letter-spacing: 4px; }
    .guest .home .top .laptop-big { height: 210px; left: calc(50% - 183.26px); bottom: -7px; }

    .guest .home .middle h3 { font-size: 16px; }
    .guest .home .middle p { font-size: 12px; }

    .guest .home .bottom h3 { font-size: 18px; }
}

@media (max-width: 398px) {
    .guest .home .top { padding-top: 30px; padding-bottom: 200px; }
    .guest .home .top .right-heading h2 { letter-spacing: 2px; }
    .guest .home .top .right-heading h5 { letter-spacing: 2px; }
    .guest .home .top .right-heading .sign-up-btn { font-size: 8px; padding: 0 10px; }
    .guest .home .top .right-heading .watch-video { font-size: 9px; letter-spacing: 2px; }
    .guest .home .top .laptop-big { height: 190px; left: calc(50% - 165.805px); }
}

@media (max-width: 348px) {
    .guest .home .top { padding-bottom: 180px; }
    .guest .home .top .right-heading h2 { letter-spacing: 1px; }
    .guest .home .top .right-heading h5 { letter-spacing: 1px; }
    .guest .home .top .right-heading .sign-up-btn { font-size: 8px; }
    .guest .home .top .right-heading .watch-video { letter-spacing: 1px; }
    .guest .home .top .laptop-big { height: 170px; left: calc(50% - 148.35px); bottom: -6px; }
}

.guest .explainer-video {
    width: 640px;
    height: 360px;
}
/* #endregion */

/* #region Transparency */
.guest .transparency { margin: 60px 0; }

/*** Header Section Styling ***/
.guest .transparency .header { margin-bottom: 60px; }

.guest .transparency .header .full-transparency {
	font-size: 28px;
    text-align: center;
}

.guest .transparency .header img {
	max-width: 100%;
	margin-bottom: 20px;
}

/*** Main Section Styling ***/
.guest .transparency .main { margin-bottom: 30px; }

.guest .transparency .main .item { margin-bottom: 40px; }

.guest .transparency .main figcaption {
	text-align: center;
	font-size: 22px;
	margin-top: 20px;
}

/*** Footer Section Styling ***/
.guest .transparency .footer-section .we-report {
	font-size: 22px;
    text-align: center;
	width: 80%;
    background-color: white;
	padding: 30px 0 30px 0;
}

/**************** XS ********************/
@media (max-width: 767px)  {
    .guest .transparency .header .full-transparency { font-size: 24px; }
    .guest .transparency .main figcaption { font-size: 18px; }
    .guest .transparency .footer-section .we-report { font-size: 20px; }	
}

@media (max-width: 510px) { 
	.guest .transparency .header .full-transparency { font-size: 20px; }
    .guest .transparency .main img { width: 70px; }
	.guest .transparency .main figcaption { font-size: 14px; }
    .guest .transparency .footer-section .we-report { font-size: 16px; }
 }
/* #endregion */

/* #region About */
.guest .about {
	background-color: #ececec;
	padding: 60px 0;
}

.guest .about .row { padding: 10px 5px; }
.guest .about h5 { font-size: 1.2em; } /* all h5 headers in page */
.guest .about .container p { margin-top: 25px; } /* all paragraphs in page */

/*** top section ***/
.guest .about .about-top { 
    /*padding-top: 50px;*/
    padding-bottom: 50px; 
}

.guest .about .about-top .zorro {
	height: 220px;
	margin-top: -20px;
}

.guest .about .about-top .to-achieve {
    padding-bottom: 20px;
}

.guest .about .about-top .spades {
	width: 70px;
	height: 70px;
	position: relative;
}
.guest .about .about-top .spades-number {
	font-weight: bold;
	width: 10px;
	position: absolute;
	top: 30%;
	left: calc(50% - 5px);
}

/*** middle section ***/
.guest .about .about-middle {
	background-color: white;
	position: relative;
    padding-bottom: 50px;
    padding-top: 20px;	
}

.guest .about .about-middle .middle-container { padding-top: 40px; }

.guest .about .about-middle .laptop {
	position: absolute;
	width: 350px;
	height: 180px;
	bottom: -169px;
	left: 100px;
	z-index: 100;	
}

/*** bottom section ***/
.guest .about .about-bottom { padding-top: 50px; }


/**************** MD ********************/
@media (min-width: 992px) and (max-width: 1199px) {
    .guest .about .about-middle .laptop { bottom: -189px; }    
}

/**************** XS - SM ********************/
@media (max-width: 991px) {
    .guest .about .about-top { padding-bottom: 30px; }
    .guest .about .about-top .zorro  { display: none; }
    .guest .about .about-top .to-achieve,
    .guest .about .about-top .three-principles { text-align: center; }
    .guest .about .about-top .three-principles p { padding-bottom: 30px; }

	.guest .about .about-top .background-image {
	    position: fixed;
        display: block;
		z-index: 1;
		top: 30px;
        left: 0;

		background-image: url(../../Images/king.png);
		background-position: center;
		background-repeat: no-repeat;
	    -ms-background-size: 200px auto;
	    background-size: 200px auto;
		width: 100%;
		height: 350px;
				
		-webkit-filter: opacity(15%);
		-moz-filter: opacity(15%);
		-o-filter: opacity(15%);
		-ms-filter: opacity(15%);
		filter: opacity(15%);
	}

    .guest .about .about-top .idea-container { 
		position: relative;
	    left: 0;
	    right: 0;
	    z-index: 9999;
		margin-bottom: 30px;
	}

    .guest .about .about-middle { 
        padding-top: 0;
        padding-bottom: 200px;
        z-index: 2;
    }
	.guest .about .about-middle .laptop {
		left: calc(50% - 175px);
		bottom: -217px;
	}

    .guest .about .about-bottom .motivation { padding-bottom: 30px; }
	
}

@media (max-width: 767px) {
    .guest .about .about-top .idea-container h5 { text-align: center; }
    .guest .about .about-top .idea-container p { text-align: justify; }

    .guest .about .about-middle h5,
    .guest .about .about-bottom h5 { text-align: center; }

}

@media (max-width: 484px) { 
    .guest .about .about-top .background-image { top: 50px }
    .guest .about .about-top { padding-bottom: 30px; }
}

@media (max-width: 374px) { 
	.guest .about .about-top .background-image { top: 70px; }
    .guest .about .about-middle p { margin-bottom: -20px }
    .guest .about .about-middle .laptop { width: 320px; height: 160px; left: calc(50% - 160px); bottom: -216px; }
}

@media (max-width: 340px) {
    .guest .about .about-middle .laptop { width: 260px; height: 130px; left: calc(50% - 130px); bottom: -215px; }
}
/* #endregion */

/* #region FAQ*/
.guest .faq {
}

#faq-body { background-color: #eee}

.guest .faq-heading {
	font-weight: 900;
	margin-bottom: -20px;
	font-size: 50px;
}

.guest .faq h3 { 
	font-size: 35px;
	padding : 25px 0px 15px; 
	color: #727272; 
}

.guest .faq .panel-group .panel .panel-heading  .panel-title  a  { color: #727272; font-size: 20px; }

.guest .faq .panel-group .panel .panel-collapse .panel-body { font-size: 17px; }

.guest .faq .panel-group { margin-bottom: 0px!important; }

.guest .faq .panel-group .panel { 
	border-left: none; 
	border-right: none;
}

.guest .faq .panel-group .panel .panel-heading { 
	background-color: #eee;
	position: relative;	
}

.guest .faq .panel-group .panel .panel-heading  .panel-title a:hover,
.guest .faq .panel-group .panel .panel-heading  .panel-title a:focus { text-decoration: none; }

.guest .faq .panel-group .panel .panel-heading  .panel-title [aria-expanded = "true"] {
	color: #238732;
	text-decoration: none;
}

.guest .faq .panel-group .panel .panel-heading  .panel-title  a .custom-caret {
	height: 25px;
	position: absolute;
	right: 25px;
	fill: #94d31b!important;
}

.guest .faq .panel-group .panel .panel-heading  .panel-title [aria-expanded = "true"] .custom-caret {
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);	
}

.guest .faq .panel-group .panel> .panel-heading + .panel-collapse > .panel-body {background-color: #f5f5f5; color: #858585;}

@media (max-width: 625px) { 
	.guest .faq,
	.guest .faq .panel-group .panel .panel-heading  .panel-title  a  { font-size: 15px; }
	.guest .faq .panel-group .panel .panel-collapse .panel-body { font-size: 12px; }
	.guest .faq h3 { font-size: 18px; }
	.guest .faq .panel-group .panel .panel-heading  .panel-title  a .custom-caret { 
		right: 0;
		height: 15px;
	}
}
/* #endregion */

/* #region Contact */
.guest .contact .top-section { /*background-color: #fff;*/ padding-top: 100px;  }
/*.guest .contact .top-section .row { margin-bottom: -60px; }*/
.guest .contact .middle-section { background-color: #fff; border-bottom: 5px solid #f2f2f2; padding-top: 65px; z-index: 2; position: relative; width: 100%; }
.guest .contact .bottom-section { background-color: #fff; }


.guest .contact .logo-holder { position: absolute; z-index: 3; }
.guest .contact .logo-holder .circle-bg { width: 100px; height: 100px; background-color: #fff; border-radius: 50%; box-shadow: 2px 1px 2px #707070; z-index: 5; display: block; margin: 0 auto; }
.guest .contact .logo-holder img { width: 100px; height: 100px; margin-top: -50px; /*z-index: 4;*/ }

.guest .contact .contact-content { margin-bottom: 80px; color: #27A95C;  }

.guest .contact .contact-content #gz-map iframe { width: 100%; /*height: 500px;*/ }

.guest .contact .contact-content .contact-bottom { background-color: #fff; padding-bottom: 60px; }

.guest .contact .contact-content .contact-bottom h3 { margin-bottom: 30px; }

.guest .contact .contact-content .contact-bottom .social-media { margin-top: 10px; margin-bottom: 80px; position: relative; }



.guest .contact .middle-section .contact-content h4 { display: inline-block; padding-right: 10px; font-size: 20px; padding-top: 20px; }
/*.guest .contact .middle-section .contact-content .gz-email { position: absolute; display: ; }*/

.guest .contact .middle-section .contact-content .social-media { display: inline-block; }
.guest .contact .middle-section .contact-content .social-media a {
    background-color: transparent;
    font-size: 28px;
    color: #27A95C;
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 10px;
    transition: all 0.5s ease;
    bottom: 0;
    position: relative;
}
.guest .contact .middle-section .contact-content .social-media a:hover { bottom: 5px; }
.guest .contact .middle-section .contact-content .contact-info p { display: inline-block; }



.guest .contact .contact-content .contact-bottom .social-media a { 
    background-color: transparent;
    font-size: 28px;
    color: #27A95C;
    display: inline-block;
    margin: 10px;
    letter-spacing: 10px;
    transition: all 0.5s ease;
    bottom: 0;
    position: relative;
}

.guest .contact .contact-content .contact-bottom .social-media a:hover {
    text-decoration: none;
    bottom: 5px;
    
}

/*.guest .contact .contact-content .contact-bottom .social-media a:hover .social-circle-bg {
    border: 2px solid #27A95C;
    background-color: #fff;
    color: #27A95C;
    margin: auto 10px;
    -webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}*/

/*.guest .contact .contact-content .contact-bottom .contact-info { margin-bottom: 60px; }

.guest .contact .contact-content .contact-bottom .contact-info a { color: #29A95C; }
.guest .contact .contact-content .contact-bottom .contact-info a:hover { text-decoration: none; font-weight: bold; }*/


.guest .contact .middle-section .contact-content .contact-info a { color: #29A95C; position: relative;; bottom: 0; transition: all 0.5s ease; }
.guest .contact .middle-section .contact-content .contact-info a:hover { text-decoration: none; /*font-weight: bold;*/ bottom: 5px; }

.guest .contact .contact-content .contact-bottom .contact-form .form-group { margin-bottom: 0; font-size: 16px; }

.guest .contact .contact-content .contact-bottom .contact-form .form-group .form-control { 
    font-size: 16px;
    border: 0; 
    border-bottom: 1px solid #27A95C;; 
    background-color: transparent;
    padding: 0;
    color: #27A95C;
    border-style: solid;   
    box-shadow: inset 0px 0px 0px 0px;

}

.guest .contact .bottom-section .contact-content .contact-bottom  h3 { margin-top: 100px; margin-bottom: 50px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control::-webkit-input-placeholder { color: #27A95C; font-size: 16px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control:-moz-placeholder { color: #27A95C; font-size: 16px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control::-moz-placeholder  { color: #27A95C; font-size: 16px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control:-ms-input-placeholder { color: #27A95C; font-size: 16px; }

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control { margin-top: 10px; }

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card { 
    border: 1px solid #27A95C;; 
    padding: 10px; 
    margin: 20px 0;
}

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card .form-group textarea { 
    background-image: linear-gradient(rgba(39, 169, 92, .5) .1em,transparent .1em); 
    background-size: 100% 20px;
    border: none!important;
    margin-top: 10px;
    max-width: 688px;
    min-width: 688px;
    line-height: 20px;
}

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .recaptcha-wrap { margin-left: -15px; margin-top: 10px; }

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .btn-gz { margin-top: 30px; margin-left: -15px; width: 105%; }

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group input.ng-invalid.ng-touched { border-bottom: 1px solid red; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group span { color: red; font-size: 12px; }

@media (min-width: 768px) and (max-width: 1199px) {
    .guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card .form-group textarea { max-width: 550px; min-width: 550px; }
}

@media (max-width: 991px) {
    /*.guest .contact .middle-section { height: 250px; }*/
    /*.guest .contact .bottom-section { margin-top: 100px;}*/

    .guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card .form-group textarea { max-width: 638px; }

}

@media (max-width: 767px) {
    .guest .contact .middle-section .contact-content .social-media h4,
    .guest .contact .middle-section .contact-content .social-media a,
    .guest .contact .middle-section .contact-content .contact-info h4,
    .guest .contact .middle-section .contact-content .contact-info a { font-size: 1.1em; text-align: center; }

    .guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card .form-group textarea { max-width: 100%; min-width: 100%; }
    .guest .contact .bottom-section .contact-content .contact-bottom .contact-form .btn-gz {        
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }
}
/* #endregion */