@charset "utf-8";

.navbar.navbar-default{
	height:70px;
	width:100%;
	font-weight:300;
	padding:0;
	background:#27A95C;
    color:#fff;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 7px;
}
.navbar-brand h2 {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
	color:#fff;
	margin:20px 0 0 15px;
}

.user-info {
    margin-left: 50px;
    margin-top: 20px;
}
.user-info .user-avatar {
	padding-right:10px;
}
.user-info .user-avatar .user-initials {
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    color: #27A95C;
    background-color: #fff;
    font-weight: bold;
    /*border: 1px solid #fff;*/
}

.user-info .user-name {
	margin-top:8px;
	font-size:20px;
}

.navbar-collapse {
    background-color: #27A95C;
    padding-bottom: 10px;
    border: none;
}


.navbar-collapse .nav-btns {
	float:right;
	width:200px;
	height:40px;
	margin-top:14px;
	text-align:center;
	background:#fff;    
}
.navbar-collapse .nav-btns a {
	text-decoration: none;
}
.navbar-collapse .nav-btns a img {
	float:left;
    margin-left: 14px;
    margin-top: 7px;
    width: 25px;
    height: 25px;
	color:#646464;
    cursor: pointer;
}
.navbar-collapse .nav-btns a p{
	margin:0;
	font-size:16px;
	padding-top:11px;
	font-weight:300;
	color:#646464;
    cursor: pointer;
}


.navbar .links{
	float:right;
}
.navbar .links ul {
    list-style-type: none;
    margin-top: 25px;
}
.navbar .links ul li{
	display: inline;
	margin-right: 30px;
    position: relative;
}

.navbar .links a{
	text-decoration:none;
    text-transform: uppercase;
	color:#fff;
	opacity:0.7;
	font-weight:300;
	font-size:17px;
	border-bottom: solid 1px #27A95C;
    display: inline;
    padding-bottom: 5px;
	-webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transition: border-bottom 0.3s ease;
    transition: border-bottom 0.3s ease;
}
.navbar .links a:hover,
.navbar .links a:focus,
.navbar .links a:active{
	opacity:1;
}
/*.navbar .links a.focus:link,
.navbar .links a.focus:visited,
.navbar .links a.focus:active,
.navbar .links a.focus:focus{
	opacity:1;
	border-bottom: solid 1px #ffffff;
}*/

.cl-effect a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	margin-top:0;
	background: rgba(255,255,255,1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	transform: translateY(15px);
}

.cl-effect a.focus::after,
.cl-effect a:hover::after,
.cl-effect a:focus::after,
.cl-effect a:active::after {
	opacity: 1;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
}
/*.cl-effect a.focus:hover::after{
	opacity:0;
}*/





.navbar-collapse.guest-mode .user-info,
.navbar-collapse.guest-mode .nav-btn-casino,
.navbar-collapse.guest-mode .nav-btn-investments,
.navbar-collapse.guest-mode .links-casino,
.navbar-collapse.guest-mode .links-investments {
    display: none;
}

.navbar-collapse.casino-mode .nav-btn-login,
.navbar-collapse.casino-mode .nav-btn-investments,
.navbar-collapse.casino-mode .links-guest,
.navbar-collapse.casino-mode .links-investments {
    display: none;
}

.navbar-collapse.investments-mode .nav-btn-login,
.navbar-collapse.investments-mode .nav-btn-casino,
.navbar-collapse.investments-mode .links-guest,
.navbar-collapse.investments-mode .links-casino {
    display: none;
}









.navbar-default .navbar-toggle {
    border-color: #fff;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 38px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}


.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
    width: 22px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-default .navbar-toggle.collapsed .icon-bar{
    background-color: #fff;
    width: 16px;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #27A95C;
}

.navbar-toggle .icon-top-bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggle .icon-middle-bar {
    -ms-opacity: 0;
    opacity: 0;
}

.navbar-toggle .icon-bottom-bar {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .icon-top-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.collapsed .icon-middle-bar {
    -ms-opacity: 1;
    opacity: 1;
}

.navbar-toggle.collapsed .icon-bottom-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}


@media (max-width: 767px) {
    .navbar .container {
        padding: 0;
    }
}
