@charset "utf-8";

header {
    min-height: 69px;
}


.navbar.navbar-default {
    height:70px;
	width:100%;
	font-weight:300;
	padding:0;
	background:#27A95C;
    color:#fff;
    margin-bottom: 0;
    border: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    z-index: 1004;
}

/*.navbar.navbar-default.navbar-initial{
	height:90px;
	background:#27A95C;
    background: -webkit-linear-gradient(#27A95C, #F2F2F2);
    background: -o-linear-gradient(#27A95C, #F2F2F2);
    background: -moz-linear-gradient(#27A95C, #F2F2F2);
    background: linear-gradient(#27A95C, #F2F2F2);
}*/

.navbar-header {
    height: 69px;
}

.navbar-brand {
    padding: 7px 0;
    width: 100%;
    position: relative;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin: 0;    
}

.navbar-brand img {
    float: left;
}

.navbar-brand h2 {
    /*font-family: Helvetica;*/
    font-size: 18px;
    font-size: 16px;
    font-weight: 300;
	color:#fff;
	margin:20px 0 0 15px;
    float: left;
}
.navbar-brand .version {
    position: absolute;
    /*font-family: cursive;*/
    font-size: 14px;
    font-weight: bold;
    color: #c22;
    width: 40px;
    right: -20px;
    bottom: -12px;
    -ms-text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}

.user-info {
    margin-right: 20px;
    margin-top: 17px;
    float: left;
    position: relative;
    cursor: pointer;
}
.user-info .user-avatar {
	/*padding-right:10px;*/
}
.user-info .user-avatar .user-initials {
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    color: #27A95C;
    background-color: #fff;
}
.user-info .user-avatar .user-initials .user-initials-text {
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.user-info .user-avatar .user-initials i {
    -ms-opacity: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    line-height: 40px;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*.user-info .user-avatar .user-initials:hover .user-initials-text {
    margin-left: -8px;
}
.user-info .user-avatar .user-initials:hover i {
    right: 5px;
    -ms-opacity: 1;
    opacity: 1;
}*/

.user-info .user-name {
	margin-top:8px;
	font-size:20px;
	font-size:18px;
}

.user-info .dropdown-menu {
    background-color: #27A95C;
    color: #fff;    
}
.user-info .dropdown-menu > li > a {
    background-color: #27A95C;
    color: #fff;    
}
.user-info .dropdown-menu > li h5 {
    padding: 3px 10px;
}

.user-info .dropdown-menu > li > a:hover,
.user-info .dropdown-menu > li > a:focus {
    color: #27A95C;
}

/*.navbar-collapse {
    background-color: #27A95C;
    padding-bottom: 10px;
    border: none;
}

.navbar-collapse .nav-btns {
	float: right;
	width:200px;
	height:40px;
	margin-top:14px;
	text-align:center;
	background:#fff;
}
.navbar-collapse .nav-btns a {
	text-decoration: none;
}
.navbar-collapse .nav-btns a img {
	float:left;
    margin-left: 14px;
    margin-top: 7px;
    width: 25px;
    height: 25px;
	color:#646464;
    cursor: pointer;
}
.navbar-collapse .nav-btns a p{
	margin:0;
	font-size:16px;
	padding-top:11px;
	font-weight:300;
	color:#646464;
    cursor: pointer;
}*/


.links{
	float: left;
}
.links ul {
    list-style-type: none;
    margin-top: 25px;
}
.links ul li{
	display: inline;
	margin-right: 20px;
    position: relative;
}

.links a {
    text-decoration:none;
    text-transform: uppercase;
	color:#f2f2f2;
	font-weight:300;
	font-size:17px;
	font-size:12px;
	border-bottom: solid 1px #27A95C;
    display: inline;
    padding-bottom: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.links a:hover,
.links a:focus,
.links a:active,
.links a.focus {
    color:#fff;
}


.cl-effect a {
    position: relative;
}
.cl-effect a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: 0;
    background-color: #fff;
    -ms-opacity: 0;
    opacity: 0;
    content: '';
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    -ms-transition: opacity 0.3s, transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
}

.cl-effect a.focus::after,
.cl-effect a:hover::after,
.cl-effect a:focus::after,
.cl-effect a:active::after {
    -ms-opacity: 1;
    opacity: 1;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
}




.navbar-default .navbar-toggle {
    border-color: #fff;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 38px;
    position: absolute;
    right: 0;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}


.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
    width: 22px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-default .navbar-toggle.collapsed .icon-bar{
    background-color: #fff;
    width: 16px;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #27A95C;
}

.navbar-toggle .icon-top-bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggle .icon-middle-bar {
    -ms-opacity: 0;
    opacity: 0;
}

.navbar-toggle .icon-bottom-bar {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .icon-top-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.collapsed .icon-middle-bar {
    -ms-opacity: 1;
    opacity: 1;
}

.navbar-toggle.collapsed .icon-bottom-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}


@media (max-width: 767px) {
    .navbar-brand {
        padding: 7px 15px;
    }
}

@media (max-width: 1199px) {
    .navbar-toggle {
        display: block;
    }
    /*.navbar-collapse {
        text-align: center;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }*/

    /*.navbar-collapse.collapse {
        display: none!important;
    }*/
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /*.navbar-collapse.collapse.in { 
        display: block!important;
        padding-bottom: 10px;
    }
    .collapsing {
        overflow: hidden!important;
    }*/
    
    
    
    /*.navbar-brand img {
        float: none;
        margin: 0 auto;
    }*/

    /*.navbar-brand .version {
        right: calc(50% - 20px);
        bottom: -15px;
    }*/

    .user-info {
        display: block;
        float: none;
        margin-left: 0;        
    }

    .navbar-collapse .nav-btns {
        float: none;
        margin: 14px auto 0;
    }
    .links{
        float: none;
    }
    
    .links ul li {
        display: block;
        margin: 15px auto 0;
    }
}




header button.btn-gz,
header button.btn-gz.btn-gz-alt {
    margin: 18px 0 0;
	font-size:12px;
    border: 1px solid #f2f2f2;
    border: 1px solid rgba(242,242,242,0.5);
}
header button.btn-gz:hover,
header button.btn-gz.btn-gz-alt:hover {
    border: 1px solid #f2f2f2;
    border: 1px solid rgba(242,242,242,0.5);
}





header .switch {
    float: right;
}

header .switch .on,
header .switch .off {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 18px;
    border: 1px solid #f2f2f2;
    float: right;
}
header .switch .on {
    background-color: #27A95C;
}
/*header .switch .on:hover {
    background-color: #27A95C;
}*/
header .switch .off {
    background-color: #f2f2f2;
    cursor: default;
}
header .switch .on img,
header .switch .off img {
    width: 26px;
    height: 24px;
}

header .switch .divider {
    margin-top: 18px;
    padding: 18px 0;
    border-right-color: #27A95C;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #f2f2f2;
    float: right;
}






.navbar-mobile-menu {
    position: fixed;
    top: 70px;
    height: 100%;
    width: 100%;
    padding: 15px;
    color:#fff;
    /*z-index: 999999;*/
    /*margin: -100%;*/
    /*display: none;*/
    opacity: 0;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -10;
}

.navbar-mobile-menu.expanded {
    /*margin-left: 0;*/
    /*display: block;*/
    z-index: 999999;
    opacity: 1;
    background-color: #27A95C;
}


    /*.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }*/

