@charset "utf-8";


/* #region Common */
.investments {
    font-weight: 300;
    padding-top: 130px;
    padding-bottom: 50px;
}
/* #endregion */


/* #region side-box */
.side-box {
	border:1px solid #ccc;
	-webkit-transition: border 0.5s ease; /* Safari */
    -moz-transition: border 0.5s ease;
    -ms-transition: border 0.5s ease;
    -o-transition: border 0.5s ease;
    transition: border 0.5s ease;
	padding: 20px;
}
.side-box:hover {
	border:1px solid #5b5b5b;
}

.side-box .side-box-table {
    margin-top: 10px;
}
.side-box .side-box-table .side-box-table-head {
    font-size: 20px;
    color: #646464;
    /*-ms-opacity: 0.5;
    opacity: 0.5;*/
    padding-bottom: 5px;
    font-weight: 500;
}

.side-box .side-box-table .side-box-table-body {
    font-style:oblique;
}
.side-box .side-box-table .side-box-table-body .row {
    padding-top: 10px;
    line-height: 40px;
}
.side-box .side-box-table .side-box-table-body .text-left {
	color:#000;
	font-size:18px;
}
.side-box .side-box-table .side-box-table-body .text-right {
    color:#000;
    font-size: 20px;
    -ms-opacity: 0.65;
    opacity: 0.65;
}
.side-box .side-box-table .side-box-table-foot {
    font-size: 11px;
    color: #000;
    -ms-opacity: 0.65;
    opacity: 0.65;
    margin-top: 20px;
}
/* #endregion */


/* #region Summary */
.investments .summary {

}
.investments .summary .investments-balance-amount {
    font-size: 57px;
}
.investments .summary .investments-balance-amount .fa {
    font-size: 50px;
}
.investments .summary .investments-balance-descr {
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
}

.investments .summary .summary-section {
    margin-top: 60px;
}
.investments .summary .summary-section img.icon {
    margin-bottom: 40px;
    -ms-opacity: 0.35;
    opacity: 0.35;
    height: 45px;
}

.investments .summary .summary-section.gaming-activities {
} 
.investments .summary .summary-section.investments-overview {
} 
.investments .summary .summary-section.investments-schedule {
}

/*.investments .summary .summary-section.gaming-activities .side-box-table-head h4 {
    margin-left: 15px;
}*/ 



.investments .summary .side-box {
    min-height: 300px;    
}

.investments .summary .overview-box {
    min-height: 300px;
}
.investments .summary .overview-box .half {
    background-color: #fff;
    height: 149px;
    line-height: 50px;
    font-size: 22px;
    color: #646464;
    padding: 50px;
}
.investments .summary .overview-box .half:first-of-type {
    margin-bottom: 2px;
}

.investments .summary .vintages-box {
    margin-top: 30px;
    background-color: #fff;
    font-size: 18px;
    color: #646464;
    padding: 50px;
}

.investments .summary .vintages-box .vintages-box-table { }
.investments .summary .vintages-box .vintages-box-table .vintages-box-table-head {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.investments .summary .vintages-box .vintages-box-table .vintages-box-table-body {
    font-size: 18px;
    -ms-opacity: 0.6;
    opacity: 0.6;
}
.investments .summary .vintages-box .vintages-box-table .vintages-box-table-foot {
    margin-top: 20px;
}
.investments .summary .vintages-box .vintages-box-table .vintages-box-table-foot .showmore {
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
    -ms-opacity: 0.65;
    opacity: 0.65;
    margin: 0;
    line-height: 18px;
}

.investments .summary .vintages-box .vintages-box-table .vintages-box-table-foot .showmore:hover {
    text-decoration: none;
}

.investments .summary .vintages-box .vintages-box-table .vintages-box-table-foot .showmore img {
    margin-right: 15px;
    width: 18px;
    height: 18px;
}

.investments .summary .withdraw {
    margin-top: 30px;
    width: 100%;
    height: 60px;
    color: #000;
    font-weight: bold;
    -ms-opacity: 1;
    opacity: 1;
    border: 2px solid #fff;
    line-height: 60px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.investments .summary .withdraw:hover {
    background: #fff;
    -ms-opacity: 0.8;
    opacity: 0.8;
}
.investments .summary .withdraw.disabled {
    border-color: #e1e1e1;
    background-color: #ddd;
    cursor: default;
}
.investments .summary .withdraw.disabled:hover {
    background-color: #ddd;
    -ms-opacity: 1;
    opacity: 1;
}

.investments .summary .withdraw img {
    padding-right: 15px;
    margin-top: -3px;
    vertical-align: middle;
}
.investments .summary .withdraw-msg {
    font-size: 11px;
    color: #000;
    text-align: center;
    margin-top: 10px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.investments .summary .withdraw-msg i {
    margin-right: 5px;
}




.investments .summary .back-to-games {
    margin-top: 30px;
    width: 100%;
    height: 60px;
    color: #fff;
    font-weight: bold;
    -ms-opacity: 1;
    opacity: 1;
    border: 2px solid #27A95C;
    line-height: 60px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: #27A95C;
}
.investments .summary .back-to-games:hover {
    /*-ms-opacity: 0.8;
    opacity: 0.8;*/
    background-color: #07893C;
    border-color: #07893C;
}

.investments .summary .back-to-games img {
    padding-right: 15px;
    margin-top: -3px;
    vertical-align: middle;
}



.summary-vintages {
    overflow: hidden;
}
.summary-vintages .header {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 16px;
}
.summary-vintages .group {
    margin-bottom: 30px;
}
.summary-vintages .year {
    font-weight: bold;
    font-size: 18px;
}
.summary-vintages .total {
    font-weight: bold;
    font-size: 18px;
}
.summary-vintages .total.amount {
    padding-right: 35px;
}

.summary-vintages .year i {
    cursor: pointer;
    line-height: 20px;
    margin-right: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.summary-vintages .group .months {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-opacity: 0;
    opacity: 0;
}
.summary-vintages .group.expanded .months {
    -ms-opacity: 1;
    opacity: 1;
}

.summary-vintages .group .months .month {
    height: 20px;
}
.summary-vintages .group .months .month:hover {
    background-color: #17994c;
}
.summary-vintages .group .months .month.locked {
    -ms-opacity: 0.6;
    opacity: 0.6;
}
.summary-vintages .group .months .month.sold {
    -ms-opacity: 0.3;
    opacity: 0.3;
}
.summary-vintages .group .months .month.sold > div {
    text-decoration: line-through;
}
.summary-vintages .group .months .month.sold > div:last-of-type {
    text-decoration: none;
}
.summary-vintages .group .months .month.selected {
    background-color: #17994c;
}

/*.summary-vintages .group .months .month {
    height: 0;
}
.summary-vintages .group.expanded .months .month {
    height: 20px;
}*/
.summary-vintages .hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.summary-vintages button[type='submit'] {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .investments .summary .investments-balance-amount {
        font-size: 50px;
    }
    .investments .summary .investments-balance-amount img {
        margin: 0 auto;
        display: block;
    }

    .investments .summary .overview-box .half {
        line-height: inherit;
    }
}
/* #endregion */



/* #region Portfolio */
.investments .portfolio { }
.investments .portfolio .invest-prompt{
    font-size: 22px;
    margin-bottom: 100px;
}

.investments .portfolio .portfolio-section {
    margin-top: 20px;
}

.investments .portfolio .side-box {
    min-height: 240px;
}

.investments .portfolio .next-investment {
    font-size: 20px;
    color: #646464;
    position: relative;
}
.investments .portfolio .next-investment svg {
    position: absolute;
    right: -58px;
    top: 0;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.investments .portfolio .next-investment svg.hide {
    opacity: 0;
}


.investments .portfolio .next-investment .balance {
    font-size: 47px;
    font-style: normal;
}

.investments .portfolio .portfolio-plans {
    margin-top: -20px;
}
.investments .portfolio .portfolio-plans .row {
    margin: 0 40px 0 20px;
}
.investments .portfolio .portfolio-plans .header {
    height: 40px;
}
.investments .portfolio .portfolio-plans .header div {
    font-size: 18px;
    color: #7b7b7b;
    text-decoration: underline;
    text-align: center;
}
.investments .portfolio .portfolio-plans .plan {
}
.investments .portfolio .portfolio-plans .plan .basic {
    background-color: #fff;
    height: 70px;
    line-height: 50px;
    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 15px;
    position: relative;
}
.investments .portfolio .portfolio-plans .plan .basic > span {
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.investments .portfolio .portfolio-plans .plan .basic.selected {
    border: 1px #27A95C solid;
    -webkit-box-shadow: 0 0 3px 0 #27A95C;
    -ms-box-shadow: 0 0 3px 0 #27A95C;
    box-shadow: 0 0 3px 0 #27A95C;
    color: #27A95C;

    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.investments .portfolio .portfolio-plans .plan .basic.selected .title {
    color: #27A95C;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
.investments .portfolio .portfolio-plans .plan .basic.selected .balance {
    color: #27A95C;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.investments .portfolio .portfolio-plans .plan .details {
    overflow: hidden;
    display: block;
    background: none;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    font-size: 11px;
    margin: 0;
    height: 0;
}
.investments .portfolio .portfolio-plans .plan.expanded .details {
    margin: 20px 0;
    height: 150px;
}
.investments .portfolio .portfolio-plans .plan .details .heading {
    text-decoration: underline;
    margin-bottom: 5px;
}
.investments .portfolio .portfolio-plans .plan .details .holding {
}
.investments .portfolio .portfolio-plans .plan .details .holding .holding-name {
}
.investments .portfolio .portfolio-plans .plan .details .holding .holding-weight {
}
.investments .portfolio .portfolio-plans .plan .details .hr {
    margin: 5px auto;
    width: 10%;
    border: 0;
    border-top: 1px solid #000;
}
.investments .portfolio .portfolio-plans .plan .details .expected-roi {
    margin-top: 10px;
    font-weight: bold;
}
.investments .portfolio .portfolio-plans .plan .details .expected-roi .expected-roi-percent {
    font-size: 15px;
}



.investments .portfolio .portfolio-plans .plan img {
    position: absolute;
    right: -40px;
    top: 25px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	cursor:pointer;
}
.investments .portfolio .portfolio-plans .plan.expanded img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transform-origin:center center;
    -moz-transform-origin:center center;
    -ms-transform-origin:center center;
    -o-transform-origin:center center;
    transform-origin:center center;
}

.investments .portfolio .portfolio-plans .plan .title {
    font-size: 18px;
    color: #7b7b7b;
}
.investments .portfolio .portfolio-plans .plan .balance {
    font-size: 25px;
    color: #7b7b7b;
}
.investments .portfolio .portfolio-plans .plan .selection button {
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin: 7px 0;
    padding: 0;
    border: 1px solid #27A95C;
    background: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    outline: none;
    color: #27A95C;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.investments .portfolio .portfolio-plans .plan .selection button:hover{
	background:#27A95C;
	color:#fff;
}
.investments .portfolio .portfolio-plans .plan .selection button:disabled {
    border: 1px solid #fff;
    cursor: default;
}
.investments .portfolio .portfolio-plans .plan .selection button:disabled:hover {
    background: none;
    color: #27A95C;
}
.investments .portfolio .portfolio-plans .plan .selection button .spinner {
    color: #27A95C;
}
.investments .portfolio .portfolio-plans .plan .selection button:hover .spinner{
	color:#fff;
}


.investments .portfolio .current-portfolio {
}
.investments .portfolio .current-portfolio .side-box {
    padding: 0;
}

.investments .portfolio #portfolio-chart {
    margin: 0 auto;
    width: 240px;
    height: 240px;
}

.investments .portfolio #portfolio-chart .arc path {
    /*-ms-opacity: 1;
    opacity: 1;*/

    stroke: transparent;
    stroke-width: 1px;
    -webkit-transition: stroke 400ms linear;
    -moz-transition: stroke 400ms linear;
    -ms-transition: stroke 400ms linear;
    -o-transition: stroke 400ms linear;
    transition: stroke 400ms linear;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}

.investments .portfolio #portfolio-chart .arc path:hover {
    /*-ms-opacity: 0.8;
    opacity: 0.8;*/

    stroke: #999;
}

.investments .portfolio #portfolio-chart text {
    -ms-text-shadow: 1px 1px 1px #555;
    text-shadow: 1px 1px 1px #555;
}

.portfolio-chart-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 10px;
    padding: 10px;
    font: 12px sans-serif;
    background: #27A95C;
    color: #fff;
    /*border: 0;*/
    -ms-border-radius: 5px;
    border-radius: 5px;
    pointer-events: none;
    width: 180px;
    height: 120px;

    -webkit-box-shadow: 0 0 3px 0 #fff;
    -ms-box-shadow: 0 0 3px 0 #fff;
    box-shadow: 0 0 3px 0 #fff;

    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}
.portfolio-chart-tooltip .title {
    font-size: 14px;
    margin: 20px auto;
}
.portfolio-chart-tooltip .percent {

}
.portfolio-chart-tooltip .amount {

}


/*.tooltip .key {
    position: absolute;			
    text-align: center;
    margin: 10px;
    padding: 5px;				
    font: 12px sans-serif;		
    background: #27A95C;
    color: #fff;
    border: 0;
    -ms-border-radius: 5px;
    border-radius: 5px;			
    pointer-events: none;
}*/

@media (max-width: 1199px) {
    .investments .portfolio .portfolio-plans .row {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .investments .portfolio .invest-prompt { font-size: 20px; }
    .investments .portfolio .portfolio-plans .header div { font-size: 11px;padding: 0; }
    .investments .portfolio .portfolio-plans .plan .title { font-size: 13px; }
    .investments .portfolio .portfolio-plans .plan .balance { font-size: 16px; }
    .investments .portfolio .portfolio-plans .plan .selection button { font-size: 12px; }
}

@media (max-width: 396px) {
    .investments .portfolio .portfolio-plans .plan .selection button:disabled i {
        display: none;
    }
}
/* #endregion */



/* #region Performance */
.investments .performance {
    position: relative;
}
.investments .performance .title {
    font-size: 22px;
    color: #646464;
}
.investments .performance .values {
    position: absolute;
    /*margin: 30px auto;*/
    width: 100%;
    font-weight: 400;
}
.investments .performance .values .value {
    /*height: 130px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;*/
}

.investments .performance .values .value-top {
    font-size: 15px;
    color: #000;
    -ms-opacity: 0.65;
    opacity: 0.65;
    margin-top: 20px;
}

.investments .performance .values .value-middle {
    padding-top: 10px;
    font-size: 35px;
    color: #27A95C;
}
.investments .performance .values .value-middle.value-bold {
    font-size: 45px;
    padding-top: 0;
}
.investments .performance .values .value-bottom {
    font-size: 14px;
    font-weight: 300;
    color: #646464;
}

.investments .performance .plans {
    position: absolute;
    margin-top: 130px;
}
.investments .performance .plans .plan {
    padding: 0;
}
.investments .performance .plans button {
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin: 7px 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    outline: none;
    color: #27A95C;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.investments .performance .plans button.selected {
    font-weight: 800;
    background-color: #fff;
    border-color: #27A95C;
    -webkit-box-shadow: 0 0 3px 0 #27A95C;
    -ms-box-shadow: 0 0 3px 0 #27A95C;
    box-shadow: 0 0 3px 0 #27A95C;
}
.investments .performance .plans button:hover {
    font-weight: 800;
}





.investments .performance .plans button:disabled {
    cursor: default;
}

.investments .performance .plans .plan .plan-roi {
    font-size: 10px;
}

.investments .performance .prompt {
    position: absolute;
    text-transform: uppercase;
    margin-top: 180px;
    font-size: 12px;
}

.investments .performance #canvas {
    width: 100%;
    /*height: 480px;*/
    font: 10px sans-serif;
    /*margin: 50px auto;*/
}
.investments .performance #canvas .axis line { display: none; }
.investments .performance #canvas .axis path { display: none; }
.investments .performance #canvas .axis text { font-weight: bold; text-transform: uppercase; }
.investments .performance #canvas .axis-title { font-size: 1.4em; }
.investments .performance #canvas .line {
    fill: none;
    stroke: #27A95C;
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

/* #region triangles with animation */
.investments .performance #canvas .handler .triangle {
    stroke: #27a95c;
    stroke-width: 1px;
    fill: #ffffff;
    fill: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.investments .performance #canvas .handler .triangle.inactive {
    opacity: 0.2;
}

.investments .performance #canvas .handler .triangle-top,
.investments .performance #canvas .handler .triangle-bottom {
    cursor: n-resize;
}
.investments .performance #canvas .handler .triangle-left,
.investments .performance #canvas .handler .triangle-right {
    cursor: e-resize;
}


/*.investments .performance #canvas .handler:hover .triangle,
.investments .performance #canvas .handler .triangle.active {
    display: block;
}*/

.investments .performance #canvas .projection {
    stroke: transparent;
}
.investments .performance #canvas .projection.active {
    stroke: #27a95c;
    stroke: rgba(39, 169, 92, 0.4);
}


@media (min-width: 768px) {
    .investments .performance .values .value {
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }
    .investments .performance .plans .plan {
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }
}
@media (max-width: 767px) {
    .investments .performance .values .value {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }
    .investments .performance .values .value-top {
        font-size: 11px;
    }
    .investments .performance .values .value-middle {
        font-size: 25px;
    }
    .investments .performance .values .value-middle.value-bold {
        font-size: 35px;
    }
    .investments .performance .values .value-bottom {
        font-size: 11px;
    }

    .investments .performance .plans {
        margin-top: 110px;
    }
    .investments .performance .plans button {
        height: 26px;
        line-height: 26px;
        margin: 0;
        font-size: 12px;
    }
    .investments .performance #canvas {
        margin-top: 70px;
    }

    .investments .performance #canvas .axis-title { font-size: 1em; }
    .investments .performance #canvas .axis text { font-size: 8px; }
}
/* #endregion */



/* #region Activity */
.investments .activity {
}
/* #endregion */
