@charset "utf-8";


/* #region Common */
.investments {
    font-weight: 300;
    /*padding-top: 80px;*/
}
/* #endregion */

/* #region side-box */
.side-box {
	border:1px solid #ccc;
	-webkit-transition: border 0.5s ease; /* Safari */
    -moz-transition: border 0.5s ease;
    -ms-transition: border 0.5s ease;
    -o-transition: border 0.5s ease;
    transition: border 0.5s ease;
	padding: 20px;
}
.side-box:hover {
	border:1px solid #5b5b5b;
}

.side-box .side-box-table {
    margin-top: 10px;
}
.side-box .side-box-table .side-box-table-head {
    font-size: 20px;
    color: #646464;
    -ms-opacity: 0.5;
    opacity: 0.5;
    padding-bottom: 5px;
}

.side-box .side-box-table .side-box-table-body {
    font-style:oblique;
}
.side-box .side-box-table .side-box-table-body .row {
    padding-top: 10px;
    line-height: 40px;
}
.side-box .side-box-table .side-box-table-body .text-left {
	color:#000;
	font-size:18px;
}
.side-box .side-box-table .side-box-table-body .text-right {
    color:#000;
    font-size: 15px;
    -ms-opacity: 0.65;
    opacity: 0.65;
}
.side-box .side-box-table .side-box-table-foot {
    font-size: 11px;
    color: #000;
    -ms-opacity: 0.65;
    opacity: 0.65;
    margin-top: 20px;
}
/* #endregion */


/* #region Summary */
.investments .summary {

}
.investments .summary .investments-balance-amount {
    font-size: 57px;
}
.investments .summary .investments-balance-amount .fa {
    font-size: 50px;
}
.investments .summary .investments-balance-descr {
    font-size: 17px;
    margin-top: 10px;
}

.investments .summary .summary-section {
    margin-top: 40px;
}
.investments .summary .summary-section img.icon {
    margin-bottom: 40px;
    -ms-opacity: 0.35;
    opacity: 0.35;
    height: 45px;
}

.investments .summary .summary-section.gaming-activities {
} 
.investments .summary .summary-section.investments-overview {
} 
.investments .summary .summary-section.investments-schedule {
}

.investments .summary .side-box {
    min-height: 300px;    
}

.investments .summary .overview-box {
    min-height: 300px;
}
.investments .summary .overview-box .half {
    background-color: #fff;
    height: 149px;
    line-height: 50px;
    font-size: 22px;
    color: #646464;
    padding: 50px;
}
.investments .summary .overview-box .half:first-of-type {
    margin-bottom: 2px;
}

.investments .summary .vintages-box {
    margin-top: 30px;
    background-color: #fff;
    font-size: 18px;
    color: #646464;
    padding: 50px;
}

.investments .summary .vintages-box .vintages-box-table { }
.investments .summary .vintages-box .vintages-box-table .vintages-box-table-head {
    padding-bottom: 20px;
}
.investments .summary .vintages-box .vintages-box-table .vintages-box-table-body {
    font-size: 18px;
    -ms-opacity: 0.6;
    opacity: 0.6;
}
.investments .summary .vintages-box .vintages-box-table .vintages-box-table-foot {
    margin-top: 20px;
}
.investments .summary .vintages-box .vintages-box-table .vintages-box-table-foot .showmore {
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
    -ms-opacity: 0.65;
    opacity: 0.65;
    margin: 0;
    line-height: 18px;
}

.investments .summary .vintages-box .vintages-box-table .vintages-box-table-foot .showmore:hover {
    text-decoration: none;
}

.investments .summary .vintages-box .vintages-box-table .vintages-box-table-foot .showmore img {
    margin-right: 15px;
    width: 18px;
    height: 18px;
}

.investments .summary .transfer-cash {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 60px;
    color: #000;
    -ms-opacity: 0.8;
    opacity: 0.8;
    border: 2px solid #fff;
    line-height: 60px;
    text-align: center;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.investments .summary .transfer-cash:hover {
    background: #fff;
    cursor: pointer;
}

.investments .summary .transfer-cash img {
    padding-right: 15px;
    margin-top: -3px;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .investments .summary .investments-balance-amount {
        font-size: 50px;
    }
    .investments .summary .investments-balance-amount img {
        margin: 0 auto;
        display: block;
    }
}
/* #endregion */



/* #region Portfolio */
.investments .portfolio { }
.investments .portfolio .invest-prompt{
    font-size: 22px;
    margin-bottom: 100px;
}

.investments .portfolio .portfolio-section {
    margin-top: 20px;
}

.investments .portfolio .side-box {
    min-height: 240px;
}

.investments .portfolio .next-investment {
    font-size: 20px;
    color: #646464;
    position: relative;
}
.investments .portfolio .next-investment svg {
    position: absolute;
    right: -58px;
    top: 0;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.investments .portfolio .next-investment svg.hide {
    opacity: 0;
}


.investments .portfolio .next-investment .balance {
    font-size: 47px;
    font-style: normal;
}

.investments .portfolio .portfolio-plans {
    margin-top: -20px;
}
.investments .portfolio .portfolio-plans .row {
    margin: 0 40px 0 20px;
}
.investments .portfolio .portfolio-plans .header {
    height: 40px;
}
.investments .portfolio .portfolio-plans .header div {
    font-size: 18px;
    color: #7b7b7b;
    text-decoration: underline;
    text-align: center;
}
.investments .portfolio .portfolio-plans .plan {
}
.investments .portfolio .portfolio-plans .plan .basic {
    background-color: #fff;
    height: 70px;
    line-height: 50px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
}
.investments .portfolio .portfolio-plans .plan .details {
    overflow: hidden;
    display: block;
    background: none;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    font-size: 11px;
    margin: 0;
    height: 0;
}
.investments .portfolio .portfolio-plans .plan.expanded .details {
    margin-top: 40px;
    height: 150px;
}
.investments .portfolio .portfolio-plans .plan .details .holding-name {
    font-weight: bold;
}
.investments .portfolio .portfolio-plans .plan .details .holding-weight {
}


.investments .portfolio .portfolio-plans .plan img {
    position: absolute;
    right: -40px;
    top: 25px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	cursor:pointer;
}
.investments .portfolio .portfolio-plans .plan.expanded img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transform-origin:center center;
    -moz-transform-origin:center center;
    -ms-transform-origin:center center;
    -o-transform-origin:center center;
    transform-origin:center center;
}

.investments .portfolio .portfolio-plans .plan .title {
    font-size: 18px;
    color: #7b7b7b;
}
.investments .portfolio .portfolio-plans .plan .balance {
    font-size: 25px;
    color: #000;
}
.investments .portfolio .portfolio-plans .plan .selection button {
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin: 7px 0;
    border: 1px solid #27A95C;
    background: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    outline: none;
    color: #27A95C;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.investments .portfolio .portfolio-plans .plan .selection button:hover{
	background:#27A95C;
	color:#fff;
}
.investments .portfolio .portfolio-plans .plan .selection button:disabled {
    border: 1px solid #fff;
    cursor: default;
}
.investments .portfolio .portfolio-plans .plan .selection button:disabled:hover {
    background: none;
    color: #27A95C;
}



.investments .portfolio .current-portfolio {
}
.investments .portfolio .current-portfolio .side-box {
    padding: 0;
}

.investments .portfolio #portfolio-chart {
    margin: 0 auto;
    width: 240px;
    height: 240px;
}

.investments .portfolio #portfolio-chart .arc path {
    -ms-opacity: 1;
    opacity: 1;

    stroke: transparent;
    stroke-width: 1px;
    -webkit-transition: stroke 400ms linear;
    -moz-transition: stroke 400ms linear;
    -ms-transition: stroke 400ms linear;
    -o-transition: stroke 400ms linear;
    transition: stroke 400ms linear;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}

.investments .portfolio #portfolio-chart .arc path:hover {
    -ms-opacity: 0.8;
    opacity: 0.8;

    stroke: #555;
}

.investments .portfolio #portfolio-chart text {
    -ms-text-shadow: 1px 1px 1px #555;
    text-shadow: 1px 1px 1px #555;
}

.tooltip {
    position: absolute;			
    text-align: center;
    margin: 10px;
    padding: 5px;				
    font: 12px sans-serif;		
    background: #27A95C;
    color: #fff;
    border: 0;
    -ms-border-radius: 5px;
    border-radius: 5px;			
    pointer-events: none;
    
    /*-webkit-transition: opacity 400ms linear;
    -moz-transition: opacity 400ms linear;
    -ms-transition: opacity 400ms linear;
    -o-transition: opacity 400ms linear;
    transition: opacity 400ms linear;*/
}

@media (max-width: 1199px) {
    .investments .portfolio .portfolio-plans .row {
        margin-left: 0;
    }
}
/* #endregion */



/* #region Performance */
.investments .performance {
}
/* #endregion */



/* #region Activity */
.investments .activity {
}
/* #endregion */
