@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center">Greenzorro</h1>
<p class="lead text-center">Online casino and sports betting.</p>
<p class="lead text-center">Keep your winnings.</p>
<p class="lead text-center">Invest your losses.</p>
