@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="preloader">
    <div class="spinner-container">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>

<div class="loading" ng-show="loading" us-spinner="{ radius: 15, width: 6, length: 12, color: '#248734', position: 'fixed' }"></div>

<!--This is where the main views would get loaded for SPA
    This page is the container page for all sub views that get loaded.
    The sub views that would get loaded into ng-view would not inherit the master page,
    and hence would only send relevant html fargments to render specific views.-->

<div class="clearfix view-container">
    <div ng-view></div>
</div>

