@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loading" ng-show="loading" us-spinner="{ radius: 15, width: 6, length: 12, color: '#248734', position: 'fixed' }"></div>

<div class="clearfix view-container">
    <div ng-view></div>
</div>

