@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}


<section id="principle-concept">
       <div class="container-fluid">
         <div class="container width-970">
           <div class="row">
              <h4 class="featurette-heading"><span class="text-muted">Concept and principles </span></h2>
             <div class="col-md-8">
              <p class="lead">Greenzorro was conceived with the idea that players can get back more value from casinos. with greenzorro, players keep the outside of their winnings but are protected from their downside. Greenzorro allocates players' net losses in investment products according to players' risk profiles, and gives back investment returns to players. Greenzorro earns profit from managing players' investment</p>
            </div>

            <div class="col-md-4">
              <img class="featurette-image img-responsive center-block" src="Images/king.png" alt="Our Mission">
            </div>

           </div>
         </div>

       </div>
     </section>

     <section id="achieve-maximum">
       <div class="container-fluid">
          <div class="container width-970">
             <div class="row">
                <h4 class="heading-mincost">To achieve maximum returns to users, Greenzorro operates on three principles: </h3>
               <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <div class="thumbnail">
                   <img src="Images/espic.png" alt="icon1" />
                   <span class="show-numon-espic">1</span>
                   <div class="caption">
                     <p>
                       - Minimize unnecessary costs like marketting and advertising (can be as high as 40% for normal operators )
                     </p>
                    </div>
                 </div>
               </div> 
               <!-- /Col-lg-4-->

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <div class="thumbnail">
                   <img src="Images/espic.png" alt="icon1" />
                   <span class="show-numon-espic">2</span>
                   <div class="caption">
                     <p>
                       - Constantly increase player user base to spread fixed costs
                     </p>
                    </div>
                 </div>
               </div> 
               <!-- /Col-lg-4-->

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <div class="thumbnail">
                   <img src="Images/espic.png" alt="icon1" />
                   <span class="show-numon-espic">3</span>
                   <div class="caption">
                     <p>
                       - Allocate investment in a small number of diversified investment portfolios to ensure high steady returns
                     </p>
                    </div>
                 </div>
               </div> 
               <!-- /Col-lg-4-->

             </div>
          </div>
       </div> 
     </section>

     <section id="our-mission">
       <div class="container-fluid">
         <div class="container width-970">
           <div class="row">
             
             <div class="col-md-6">
              <h4 class="featurette-heading"> Our Mission  </h2>
              <p class="lead">Create a fully transparent, efficient and credible online platform, where players can enjoy the thril and upside of gambling but safeguard their financial status.</p>
            </div>

            <div class="col-md-6">
              <img class="center-block" src="Images/mac.png" alt="Our Mission">
            </div>

           </div>
         </div>

       </div>
     </section>

     <section id="our-values">
       <div class="container-fluid">
         <div class="container width-970">
           <div class="row">
             
             <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h4 class="featurette-heading"> Our Motivation  </h2>
              <p class="lead">We love the thrill and fun side of gambling but dislike the negative sides: lost money and unfaire odds for the players. We hope to alleviate these intrinsic characteristic of gambling and reduce negative financial and social impact of gambling</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 our-right">
              <h4 class="featurette-heading"> Our values  </h2>
              <p class="lead">Maximum value back to our players trust through transparency regulation. Security and privacy.</p>
            </div>

           </div>
         </div>

       </div>
     </section>