@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<div class="contact">
    <div class="container">
        <div class="row">         
            <div class="col-md-12 contact-content">
                <div class="contact-top">
                    <div class="row">
                        <div class="col-md-offset-0 col-md-12">
                            <div id="gz-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.6492417642344!2d-0.10076458422958447!3d51.519650779637196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b54184b30e7%3A0xa3c61aec5b4e4d1f!2zODAgTG9uZyBMbiwgTG9uZG9uIEVDMUEgOUVULCDOl869z4nOvM6tzr3OvyDOks6xz4POr867zrXOuc6_!5e0!3m2!1sel!2sus!4v1465462411110" width="700" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 divider main-divider"></div>
                    </div>
                </div>

                <div class="contact-bottom">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-0">
                            <div class="col-md-12 text-center social-media">
                                <h3>Follow us</h3>
                                <div class="col-md-offset-4 col-md-4 divider small-divider"></div>
                                <div class="col-md-12">
                                    <a href="https://www.facebook.com/Greenzorro-520872994721625/timeline/">
                                        <div class="social-circle">
                                            <i class="fa fa-facebook"></i>
                                        </div>
                                    </a>
                                    <a href="https://twitter.com/GrZorro">
                                        <div class="social-circle">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </a>
                                    <a href="https://www.linkedin.com/company/greenzorro?trk=top_nav_home">
                                        <div class="social-circle">
                                            <i class="fa fa-linkedin"></i>
                                        </div>
                                    </a>
                                    <a href="https://www.instagram.com/greenzorro_official/">
                                        <div class="social-circle">
                                            <i class="fa fa-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12 text-center contact-info">
                                <h3>Contact Info</h3>
                                <div class="col-md-offset-4 col-md-4 divider small-divider"></div>
                                <div class="col-md-12">
                                    <p><b><b>Greenzorro LTD.</b></b></p>
                                    <p>80-83 , Long Lane LONDON EC1A 9ET</p>
                                    <a href="mailto:contact@greenzorro.com">contact@greenzorro.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-0">
                            <h3 class="text-center">Contact us</h3>
                            <div class="col-md-offset-4 col-md-4 divider small-divider"></div>
                            <div class="col-md-12">
                                <form class="contact-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="E-mail" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Subject" required/>
                                    </div>
                                    <div class="message-card">
                                        <div class="form-group">
                                            <textarea type="text" rows="10" class="form-control" placeholder="Enter your message here" required/>
                                        </div>
                                    </div>
                                    <button class="btn-gz pull-right" type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
