@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="contact-content">
                <div class="col-md-6">
                    <h4 class="text-center">Send us a message!</h4>
                    <form class="contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="E-mail" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject" />
                        </div>
                        <div class="form-group">
                            <textarea type="text" rows="5" class="form-control" placeholder="Enter your message here" />
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div id="gz-map" style="width: 540px; height: 380px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
