@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<h1 class="text-center">GREENZORRO</h1>
<h3 class="text-center">Casino and Investment platform</h3>
<!--<a href="@Url.Action("Register","Auth")" target="_self">Register</a>-->
<button type="button"  class="btn-gz" ng-click="register()">Register</button>

<div class="hidden">
    <h4><u>Playground</u></h4>
    <div style="margin-top: 20px;">
        <button type="button" class="btn-gz" ng-click="alert()">Alert</button>
        <button type="button" class="btn-gz" ng-click="confirm()">Confirm</button>
        <button type="button" class="btn-gz" ng-click="prompt()">Prompt</button>
        <button type="button" class="btn-gz" ng-click="notify()">Notification</button>
        <button type="button" class="btn-gz" ng-click="toastr()">Toastr</button>
    </div>
</div>
