@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<div class="home">
    <h1 class="text-center">GREENZORRO</h1>
    <h3 class="text-center">Casino and Investment platform</h3>
    <h6 class="text-center">v @typeof(MvcApplication).Assembly.GetName().Version</h6>
</div>
