@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<h1 class="text-center">GREENZORRO</h1>
<h3 class="text-center">Casino and Investment platform</h3>
<a href="@Url.Action("Register","Auth")" target="_self">Register</a>

<div class="hidden">
    <h4><u>Playground</u></h4>
    <div style="margin-top: 20px;">
        <button type="button" class="btn-gz" ng-click="modal()">Modal</button>
        <button type="button" class="btn-gz" ng-click="notify()">Notification</button>
        <button type="button" class="btn-gz" ng-click="toastr()">Toastr</button>
    </div>
</div>
