@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<div class="text-center">
    <h4><u>Playground</u></h4>
    <div style="margin-top: 20px;">
        <button type="button" class="btn-gz" ng-click="registerStart()">Register Start</button>
        <button type="button" class="btn-gz" ng-click="registerDetails()">Register Details</button>
        <button type="button" class="btn-gz" ng-click="login()">Login</button>
        <button type="button" class="btn-gz" ng-click="logout()">Logout</button>
        <button type="button" class="btn-gz" ng-click="forgot()">Forgot</button>
        <button type="button" class="btn-gz" ng-click="reset()">Reset</button>
        <button type="button" class="btn-gz" ng-click="change()">Change</button>
        <button type="button" class="btn-gz" ng-click="notify()">Notify</button>
        <button type="button" class="btn-gz" ng-click="toastr()">Toastr</button>
        <button type="button" class="btn-gz" ng-click="showChat()">Show Chat</button>
        <button type="button" class="btn-gz" ng-click="hideChat()">Hide Chat</button>
        <button type="button" class="btn-gz" ng-click="url()">Base Url</button>
    </div>
</div>
