acorns-portfolios-visualization {
  display: block;
  font-family: 'Avenir Next', 'AvenirNextLTW01-Regular',  'Helvetica', 'Arial', sans-serif;
  height: 424px;
}

#graph {
  opacity: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  position: relative;
}

#graph.fadeIn {
  opacity: 1;
}

/**
 * =GRADIENTS
 */

 .section.portfolios.conservative {
  background: #f2f2f2;
  height:100%;
  padding:0;
  background: -webkit-linear-gradient(legacy-direction(top left), #2fae8f 0%, #2f92ae 100%);
  background: linear-gradient(top left, #2fae8f 0%, #2f92ae 100%);
  overflow:visible; }

.section.portfolios.moderate {
  background: #f2f2f2;
  height:100%;
  padding:0;
  background: -webkit-linear-gradient(legacy-direction(top left), #717df6 0%, #9a71f6 100%);
  background: linear-gradient(top left, #717df6 0%, #9a71f6 100%);
  overflow:visible; }

.section.portfolios.aggressive {
  background: #f2f2f2;
  height:100%;
  padding:0;
  background: -webkit-linear-gradient(legacy-direction(top left), #c271f6 0%, #f671d2 100%);
  background: linear-gradient(top left, #c271f6 0%, #f671d2 100%);
  overflow:visible; }
.portfolios-background.aggressive {
  background: #c271f6;
  background: -webkit-linear-gradient(legacy-direction(top left), #c271f6 0%, #f671d2 100%);
  background: linear-gradient(top left, #c271f6 0%, #f671d2 100%);
}
.portfolios-background.conservative {
  background: #2fae8f;
  background: -webkit-linear-gradient(legacy-direction(top left), #2fae8f 0%, #2f92ae 100%);
  background: linear-gradient(top left, #2fae8f 0%, #2f92ae 100%);
}
.portfolios-background.moderate {
  background: #717df6;
  background: -webkit-linear-gradient(legacy-direction(top left), #717df6 0%, #9a71f6 100%);
  background: linear-gradient(top left, #717df6 0%, #9a71f6 100%);
}

/* Portfolios
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.portfolios.disclaimers .row.disclaimers {
  opacity: 1; }

.portfolios.disclaimers .row .disclaimers-btn:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.section.portfolios:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/v2/patterns/polygons.png") center center no-repeat;
  background-size: cover;
  opacity: 1;
  pointer-events: none; }

.section.portfolios {
  position: relative;
  overflow: hidden;
  z-index: 3;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .section.portfolios .row:first-child {
    margin-bottom: 20px; }
  .section.portfolios .portfolio-visualization-wrapper {
    height: 424px;
    width: 100%; }
  .section.portfolios .portfolios-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    /* android */ }
  .section.portfolios .disclaimers {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    margin-top: 40px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-align: center; }
  .section.portfolios .disclaimers-btn {
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    position: absolute;
    left: 0;
    overflow: visible; }
  .section.portfolios .disclaimers-btn:after {
    content: "";
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 70px;
    height: 6px;
    width: 9px;
    background: url("../images/v2/icons/chevron-down.svg") top center no-repeat;
    background-size: contain;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .section.portfolios .disclaimers-btn:hover:after {
    opacity: 1; }
  .section.portfolios .acorns-btn {
    cursor: pointer;
    display: block;
    height: 54px;
    width: 300px;
    background: transparent;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 54px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    transition: 0.3s linear;
    margin: 0 auto; }
    .section.portfolios .acorns-btn:hover {
      background: rgba(255, 255, 255, 0.1);
      background: rgba(255, 255, 255, 0.1); }
  .section.portfolios h3 {
    color: #fff;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 20px; }
  .section.portfolios p {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    max-width: 730px;
    margin: 0 auto 100px; }


/**
 * =GRAPH CONTAINER
 */
/* line 102, ../sass/style.scss */
.graph-container {
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  -webkit-transition: background 1s ease-out;
  transition: background 1s ease-out;
  font-weight: light;
  /* replace with font-face */
  width: 100%;
  height: 380px;
  background-size: cover;
  padding: 0;
  position: relative;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* android */
}
.projection-graph-region{
  position:absolute;
  top:200px;
}

.graph-header-left,
.graph-header-right,
.graph-header-center{
  width:300px !important;
  height:100%;
}
.graph-header-left,
.graph-header-right{
  border-left:1px solid rgba(0, 0, 0, 0.1);
  border-right:1px solid rgba(0, 0, 0, 0.1);
}
.graph-header-center-label{
 margin-top:20px !important;
}
.graph-header-left-label,
.graph-header-right-label,
.graph-header-center-label{
  font-family:Helvetica;
  font-size:15px !important;
  font-weight:400 !important;
  color:#000;
  opacity:0.65;
  margin:0;
}
.graph-header-left-value,
.graph-header-right-value,
.graph-header-center-value{
text-align:center;
  padding:10px 0;
  color:#27A95C;
  font-size:35px !important;
  font-weight:400 !important;
}
.graph-header-left-bottom-value,
.graph-header-right-bottom-value,
.graph-header-center-bottom-value{
text-align:center;
  padding:0 0 20px;
  color:#646464;
  font-size:12px !important;
  font-weight:300 !important;
}

@media only screen and (max-width: 640px) {
  /* line 102, ../sass/style.scss */
  .graph-container {
    height: 400px;
    padding: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 102, ../sass/style.scss */
  .graph-container {
    height: 400px;
    padding: 0;
  }
}

/**
 * =GRAPH REGION
 */
/* line 124, ../sass/style.scss */
.projection-graph-region {
  width: 100%;
  height: 100%;
  height: 380px;
  position: absolute;
  bottom: 0;
  left: 0px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* android */
}
@media only screen and (max-width: 640px) {
  /* line 124, ../sass/style.scss */
  .projection-graph-region {
    position: relative;
    bottom: 0;
    left: 0;
    height: 300px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 124, ../sass/style.scss */
  .projection-graph-region {
    position: relative;
    bottom: 0;
    left: 0;
    height: 300px;
  }
}

/* Legends */
.y.axis{
  position:absolute;
  left:80px;
}
.y-legend,.x-legend {
  font-size: 14px;
  font-weight: 500;
  color: #979797;
  text-align: center;
}

.y-legend {
  display: block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: absolute;
  bottom: 140px;
  left: -150px;
}
.x-legend{
  margin-top:110px !important;
  padding-bottom: 60px;
}

/* line 144, ../sass/style.scss */
.projection-graph {
  font: 10px sans-serif;
  width: 100%;
  height: 100%;
  color: #000;
  margin: 0 auto;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* android */
}
/* line 154, ../sass/style.scss */
.projection-graph .svg {
  cursor: pointer;
  cursor: url(assets/cursors/openhand.cur) 4 4, move;
  margin-top:100px;
}
#graph-projection-grad1 stop,
#graph-projection-grad2 stop,
#graph-projection-grad3 stop{
  stop-color:#27A95C !important;
}

#graph-projection-grad8,
#graph-projection-grad9 {
  stop-color:#fff !important;
}

/* line 157, ../sass/style.scss */
.projection-graph.grabbing .svg {
  cursor: pointer;
  cursor: url(assets/cursors/closedhand.cur) 4 4, move;
}
/* line 160, ../sass/style.scss */
.projection-graph.grabbing.x .svg {
  cursor: ew-resize;
}
/* line 163, ../sass/style.scss */
.projection-graph.grabbing.y .svg {
  cursor: ns-resize;
}
@media only screen and (max-width: 640px) {
  /* line 144, ../sass/style.scss */
  .projection-graph {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 144, ../sass/style.scss */
  .projection-graph {
    width: 100%;
  }
}

/* line 172, ../sass/style.scss */
.projection-graph .svg {
  width: auto;
  padding: 0;
  overflow: visible;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* android */
}

/* line 181, ../sass/style.scss */
.projection-graph-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* android */
}

/**
 * =GRAPH LINE
 */
/* line 195, ../sass/style.scss */
.projection-graph .line {
  stroke: #fff;
  stroke-width: 1;
  z-index:10;
  fill: none;
}

/**
 * =GRAPH MONTHLY LINE
 */
/* line 204, ../sass/style.scss */
.projection-graph .v-line {
  stroke: url(#graph-projection-grad7);
  stroke-width: 1;
  stroke-dasharray: 1, 2;
  fill: none;
}
.axis text {
  font-weight: bold !important;
}

.x.axis g:nth-child(odd) text {
  fill: #979797;
}
/* line 211, ../sass/style.scss */
.projection-graph .v-line-text {
  font-size: 12px;
  fill: #979797;
}
@media only screen and (max-width: 640px) {
  /* line 211, ../sass/style.scss */
  .projection-graph .v-line-text {
    font-size: 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 211, ../sass/style.scss */
  .projection-graph .v-line-text {
    font-size: 10px;
  }
}

/**
 * =GRAPH OFFSET LINES
 */
/* line 222, ../sass/style.scss */
.projection-graph .offset-line {
  stroke: #fff;
  stroke-width: 1;
  fill: none;
}

/**
 * =GRAPH VERTICAL LINE
 */
/* line 231, ../sass/style.scss */
.projection-graph .vertical-line {
  fill: url(#graph-projection-grad9);
}

/* line 235, ../sass/style.scss */
.projection-graph .offset-vertical-line {
  stroke: url(#graph-projection-grad8);
  stroke-width: 10;
  stroke-linecap: round;
}

/**
 * =GRAPH LINE AREA
 */
/* line 244, ../sass/style.scss */
.projection-graph .area {
  fill: url(#graph-projection-grad3);
  stroke-width: 0;
}
/* line 248, ../sass/style.scss */
.projection-graph .area.area-1 {
  fill: url(#graph-projection-grad5);
}
/* line 251, ../sass/style.scss */
.projection-graph .area.area-2 {
  fill: url(#graph-projection-grad4);
}

/**
 * =GRAPH AXIS
 */
/* line 260, ../sass/style.scss */
.projection-graph .axis path,
.projection-graph .axis line {
  stroke-width: 0;
  stroke: #979797;
  fill: none;
  shape-rendering: crispEdges;
}
/* line 268, ../sass/style.scss */
.projection-graph .axis text {
  fill: #979797;
  font-size: 12px;
}
/* line 271, ../sass/style.scss */
.projection-graph .axis text.highlight {
  fill: #000;
  font-size: 13px;
}
/* line 282, ../sass/style.scss */
.projection-graph .axis line {
  display: none;
}
/* line 286, ../sass/style.scss */
.projection-graph .axis.active {
  fill: #000;
}

/**
 * GRAPH GRID
 */

.projection-graph .grid {
  display: none;
}
/* line 294, ../sass/style.scss */
.projection-graph .grid .tick {
  stroke-width: 1;
  stroke: #fff;
  stroke-opacity: .3;
  stroke-dasharray: 1, 2;
  shape-rendering: crispEdges;
}

/* line 302, ../sass/style.scss */
.projection-graph .grid path {
  stroke-width: 0;
}

/**
 * =GRAPH PAN LINE CONTAINER
 */
/**
 * =GRAPH MARKER
 */
/* line 317, ../sass/style.scss */
.projection-graph .marker {
  r:8;
  fill: #fff;
  stroke:#27A95C; stroke-width:6px;
}

.projection-graph .origin-marker {
  fill: #fff;
  display:none;
}

.projection-graph .marker-drag-indicator-text {
  fill: #fff;
  font-weight: 500;
  font-size: 14px;
  opacity:0;
}

/**
 * =GRAPH NAV
 */
/* line 324, ../sass/style.scss */
.projection-graph-nav-container {
  width: 100%;
  height: 31px;
  position: absolute;
  /*bottom: 35px;*/
  top: 130px;
  left: 0;
  text-align: center;
  z-index: 10;
  pointer-events: all;
}
@media only screen and (max-width: 640px) {
  /* line 324, ../sass/style.scss */
  .projection-graph-nav-container {
    bottom: -55px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 324, ../sass/style.scss */
  .projection-graph-nav-container {
    bottom: -55px;
  }
}

.portfolio-title {
  display: none;
  font-size: 24px;
  font-weight: 400;
}

/* line 338, ../sass/style.scss */
.projection-graph-nav {
  height: 47px;
  margin: 0 auto;
  text-align: center;
  transform: translateX(-25px);
  -webkit-transform: translateX(-25px);
  -moz-transform: translateX(-25px);
}

.projection-graph-nav .labels-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projection-graph-nav .labels-list li  {
   display: inline-block;
   margin: 0 -4px;
}
.projection-graph-nav .labels-list li div {
  padding:10px 35px;
  margin:0 10px;
  font-size:16px;
  font-weight:normal;
  color:#646464;
  border:1px solid #979797;
  background:none;
  outline:none;
  cursor:pointer;
   -moz-transition: background 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.projection-graph-nav .labels-list li div:hover {
  opacity: 1;
  cursor: pointer;
  border: 1px solid #27A95C;
  background: #27A95C;
  color:#fff;
}

.projection-graph-nav .labels-list li.active div {
  opacity: 1;
  background: none;
}
/*
 * Correct active text colors to match bg
 */
.projection-graph-nav .labels-list li:nth-child(1).active div,
.projection-graph-nav .labels-list li:nth-child(2).active div,
.projection-graph-nav .labels-list li:nth-child(3).active div {
  color: #fff;
  background: #27A95C;
  border: 1px solid #27A95C;
}

.projection-graph-nav .labels-list li.active div:hover {
 
}


/* line 356, ../sass/style.scss */
.projection-graph-nav .edge {
  fill: #fff;
  stroke: none;
  stroke-width: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  8% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  15% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}
/* line 412, ../sass/style.scss */
.projection-graph-prev {
  display: block;
  width: 120px;
  height: 60px;
  position: absolute;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  left: -40px;
  top: -85px;
  cursor: pointer;
  display: none;
}
/* line 382, ../sass/style.scss */
.projection-graph-prev:hover {
  /*background: rgba(0, 0, 0, 0.05);*/
}
/* line 384, ../sass/style.scss */
.projection-graph-prev:hover:after {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 388, ../sass/style.scss */
.projection-graph-prev:after {
  content: "";
  display: block;
  width: 24px;
  height: 60px;
  background: transparent url(assets/nav-arrow-left.svg) no-repeat center center;
  background-size: 24px 60px;
  position: absolute;
  top: 50%;
  margin: -55px 0 0 0;
  padding: 40px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  left: 0px;
}


/* line 416, ../sass/style.scss */
.projection-graph-next {
  display: block;
  width: 120px;
  height: 60px;
  position: absolute;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  right: -40px;
  top: -85px;
  cursor: pointer;
  display: none;
}
/* line 382, ../sass/style.scss */
.projection-graph-next:hover {
  /*background: rgba(0, 0, 0, 0.05);*/
}
/* line 384, ../sass/style.scss */
.projection-graph-next:hover:after {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 388, ../sass/style.scss */
.projection-graph-next:after {
  content: "";
  display: block;
  width: 24px;
  height: 60px;
  background: transparent url(assets/nav-arrow-right.svg) no-repeat center center;
  background-size: 24px 60px;
  position: absolute;
  top: 50%;
  margin: -55px 0 0 0;
  padding: 40px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  right: 0px;
}

@media (max-width: 768px) {
  .projection-graph-next, .projection-graph-prev {
    display: block;
  }
}

/**
 * =GRAPH HEADER
 */
/* line 423, ../sass/style.scss */
.graph-header {
  text-align: center;
  color: #979797;
  padding: 0px 20px 5px 20px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  opacity: 1;
  height: 200px;
  position: relative;
  width: auto;
  margin-top:-100px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
@media only screen and (max-width: 640px) {
  /* line 423, ../sass/style.scss */
  .graph-header {
    position: relative;
    bottom: 0;
    left: 0;
    height: auto;
    padding: 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 423, ../sass/style.scss */
  .graph-header {
    position: relative;
    bottom: 0;
    left: 0;
    height: auto;
    padding: 10px;
  }
}

/* line 444, ../sass/style.scss */
.graph-header:after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}

/* line 451, ../sass/style.scss */
.graph-header-inner {
  max-width: 100%;
  width:100%;
  height:130px;
  margin: 0 auto;
  background-color:#fff;
}

@media only screen and (max-width: 640px) {
 .graph-header-inner {
  position: relative;
  top: 40px;
 }
}

/* line 456, ../sass/style.scss */
.graph-header-left {
  display: inline-block;
  float: left;
  width: 300px;
  text-align: center;
  position: relative;
  padding-top:20px;
  height:110px;
}
@media only screen and (max-width: 640px) {
  /* line 456, ../sass/style.scss */
  .graph-header-left {
    bottom: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 456, ../sass/style.scss */
  .graph-header-left {
    bottom: 0;
  }
}

/* line 468, ../sass/style.scss */
.graph-header-left-label {
  display: block;
  font-weight: 600;
  font-size: 14px;
}
@media only screen and (max-width: 640px) {
  /* line 468, ../sass/style.scss */
  .graph-header-left-label {
    font-weight: normal;
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 468, ../sass/style.scss */
  .graph-header-left-label {
    font-weight: normal;
    font-size: 14px;
  }
}

/* line 478, ../sass/style.scss */
.graph-header-left-value {
  display: block;
  font-size: 40px;
  font-weight: 300;
}
@media only screen and (max-width: 640px) {
  /* line 478, ../sass/style.scss */
  .graph-header-left-value {
    font-size: 22px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 478, ../sass/style.scss */
  .graph-header-left-value {
    font-size: 22px;
  }
}

/* line 486, ../sass/style.scss */
.graph-header-center {
  display: inline-block;
  float: left;
  width: 40%;
  text-align: center;

}

/* line 493, ../sass/style.scss */
.graph-header-center-label {
  display: block;
  font-weight: 600;
  font-size: 22px;
}
@media only screen and (max-width: 640px) {
  /* line 493, ../sass/style.scss */
  .graph-header-center-label {
    font-weight: normal;
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 493, ../sass/style.scss */
  .graph-header-center-label {
    font-weight: normal;
    font-size: 14px;
  }
}

/* line 503, ../sass/style.scss */
.graph-header-center-value {
  display: block;
  font-size: 70px;
  font-weight: 300;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
}
@media only screen and (max-width: 640px) {
  /* line 503, ../sass/style.scss */
  .graph-header-center-value {
    font-size: 24px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 503, ../sass/style.scss */
  .graph-header-center-value {
    font-size: 24px;
  }
}

/* line 513, ../sass/style.scss */
.graph-header-center-bottom-value {
  display: block;
  font-size: 20px;
}
@media only screen and (max-width: 640px) {
  /* line 513, ../sass/style.scss */
  .graph-header-center-bottom-value {
    font-size: 12px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 513, ../sass/style.scss */
  .graph-header-center-bottom-value {
    font-size: 12px;
  }
}

/* line 521, ../sass/style.scss */
.graph-header-right {
  display: inline-block;
  float: right;
  width: 30%;
  height:110px;
  text-align: center;
  position: relative;
  padding-top:20px;
}
@media only screen and (max-width: 640px) {
  /* line 521, ../sass/style.scss */
  .graph-header-right {
    bottom: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 521, ../sass/style.scss */
  .graph-header-right {
    bottom: 0;
  }
}

/* line 533, ../sass/style.scss */
.graph-header-right-label {
  display: block;
  font-weight: 600;
  font-size: 14px;
}
@media only screen and (max-width: 640px) {
  /* line 533, ../sass/style.scss */
  .graph-header-right-label {
    font-weight: normal;
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 533, ../sass/style.scss */
  .graph-header-right-label {
    font-weight: normal;
    font-size: 14px;
  }
}

/* line 543, ../sass/style.scss */
.graph-header-right-value {
  display: block;
  font-size: 40px;
  font-weight: 300;
}
@media only screen and (max-width: 640px) {
  /* line 543, ../sass/style.scss */
  .graph-header-right-value {
    font-size: 22px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 543, ../sass/style.scss */
  .graph-header-right-value {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .y-legend {
   bottom: 140px;
    left: -60px;
  }
  .y.axis {
    transform: translateX(60px);
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    text-align: left;
  }
}

@media (max-width: 480px) {
    h4.portfolio-title {
      text-align: center;
      font-weight: bold;
    }

    /* For now don't allow interactivity on mobile */
/*    .projection-graph {
      pointer-events: none;
    }*/
}

/*
 * Swap labels for dots
 */
 @media (max-width: 480px) {
  h4.portfolio-title {
    max-width: 220px; /* fit larger portfolio names */
  }
}

@media (max-width: 768px) {
  .projection-graph-nav {
    margin-top: -220px;
  }

  h4.portfolio-title {
    display: block;
    position: relative;
    top: 20px;
    margin: 0 auto;
    line-height: 24px;
  }
  .projection-graph-nav {
    width: 100%;
    transform: none;
  }
  .projection-graph-nav .labels-list {
    width: 89px;
    margin: 0 auto;
    position: relative;
    bottom: -30px;
  }

  .projection-graph-nav .labels-list li {
    width: 8px;
    margin: 0 5px;
  }

  .projection-graph-nav .labels-list li:first-child {
    margin-left: -5px;
  }

  .projection-graph-nav .labels-list li div {
    text-indent: -9999999px;
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    background: none;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 0 7px;
    cursor: pointer;
  }

  .projection-graph-nav .labels-list li.active div {
    background:#fff;
  }

  .graph-container {
    margin-top: -40px;
  }
}


/**
 * =DEBUG
 */
/* line 554, ../sass/style.scss */
#ouput {
  background: #efefef;
  color: #000;
  font-family: monospace;
  padding: 10px;
  font-size: 16px;
  display: block;
  border: 1px solid #ccc;
}
