@charset "utf-8";

/* #region Common */
.guest {
}
.guest ol, .guest ul {
    margin-left: 30px;
}
.guest ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

.guest ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

.guest ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
}

.guest li ol > li {
    margin: 0;
}

.guest li ol > li:before {
    content: counters(item, ".") " ";
}



.guest  section:not(:first-of-type) {
    margin-top: 30px;
}
/* #endregion */

/* #region Home */
.guest .home { }
.guest .home section { margin: 0; }

.guest .home .top {
	background-color: #27A95C;
	position: relative;
    padding-top: 70px;
}

.guest .home .row { padding: 10px; }

/*.guest .home .container { padding: 30px 0; }*/
.guest .home .top .container {
	padding-bottom: 0;
	padding-top: 50px;
    position: relative;
}

/*** top section ***/
.guest .home .top .laptop-big {
	position: absolute;
    width: 562px;
    height: 322px;
    bottom: -9px;
    left: 25px;
}
.guest .home .top .laptop-big img {
    width: 100%;
}
.guest .home .top .right-heading {
    color: white;
    padding-left: 55%;
}

/*.guest .home .top .right-heading .benefit-mark { 
    background: #07693C;
    color: white;
    margin-left: -0.2em;
}*/

.guest .home .top .right-heading h2:last-of-type { 
    margin-bottom: 20px; 
    margin-top: 25px;
}

.guest .home .top .right-heading .sign-up-btn {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0 30px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #555;
    width: 250px;
}
.guest .home .top .right-heading .sign-up-btn:hover {
    color: #fff;
}

.guest .home .top .right-heading .sign-up-btn img {
    height: 25px;
    margin-top: -4px;
}

.guest .home .top .right-heading .watch-video {
	display: block;
    width: 120px;
	text-transform: uppercase;
	color: white;
	margin-top: 10px;
	margin-bottom: 12px;
}

/*** middle section ***/
.guest .home .middle {
    background-color: #ddd;
    padding: 30px 0;
}
.guest .home .middle .prompt {
	margin: 30px 0;
	font-size: 18px;
    font-weight: bold;
}

.guest .home .middle .container .row div:nth-of-type(2) {
    padding-left: 5%;
}

/*.guest .home .middle .container {
    padding: 0;
}
.guest .home .middle .container .row {
    padding: 0;
}
.guest .home .middle .container .row .col-sm-5,
.guest .home .middle .container .row .col-sm-6 {
    padding: 0;
}*/

/*.guest .home .middle .prompt.prompt-say-hello { }
.guest .home .middle .prompt.prompt-to-achieve { }*/
.guest .home .middle p { margin-top: 20px; }
.guest .home .middle img {
    float: left;
    margin-right: 10px;
}
.guest .home .middle li {
	/*font-size: 13px;*/
	font-size: 16px;
}

/*** bottom section ***/
.guest .home .bottom { 
    padding: 50px 0 100px;
}
.guest .home .bottom h3 { 
	margin-bottom: 40px; 
	font-size: 1.3em;
    font-weight: bold;
}

.guest .home .bottom .process-item {
	padding: 7px;
	text-align: center;
    height: 300px
}

.guest .home .bottom .process-item  p {
    text-align: left;
    font-size: 16px;
}

.guest .home .bottom .process-item  h4 {
	font-size: 1.4em;
	margin-bottom: 10px;
	text-align: left;
    font-weight: bold;
}

.guest .home .bottom .process-item img {
	margin-bottom: 8px;
	width: 160px;
}


/**************** MD - LG ********************/
@media (min-width: 992px) {
    .guest .home .top .right-heading h2 { margin-bottom: -15px; }
}

/**************** XS - MD ********************/
@media (max-width: 1199px) {
    .guest .home .top .laptop-big {
        width: 436px;
        height: 250px;
        /*left: 25px;*/
    }
}

/**************** XS - SM ********************/
@media (max-width: 991px) {
    .guest .home .top { padding-bottom: 300px; padding-top: 50px; }
	.guest .home .top .right-heading h2 { font-size: 28px }
    .guest .home .top .right-heading {
		left: 0;
		text-align: center;
		letter-spacing: 5px;
        padding-left: 0;
	}
    .guest .home .top .right-heading h5 { margin: 20px 0; }
    .guest .home .top .right-heading .watch-video { width: 180px; margin: 20px auto 0; }
	.guest .home .top .laptop-big {
        left: calc(50% - 218px);
        bottom: -308px;
	}

    .guest .home .middle .prompt {
	    font-size: 16px;
        margin: 20px 0;
    }

    .guest .home .bottom .process-item { padding: 0; height: 250px }
	.guest .home .bottom .process-item h4 { font-size: 18px; }
	.guest .home .bottom .process-item img { width: 100px; }	
	.guest .home .bottom .process-item p { font-size: 12px; }		
}

@media (max-width: 767px) {
    .guest .home .top { padding-bottom: 270px; }
    .guest .home .top .right-heading h2 { font-size: 24px }
    .guest .home .top .right-heading h5 { font-size: 12px }
    .guest .home .top .right-heading .sign-up-btn { font-size: 12px; }
    .guest .home .top .right-heading .watch-video { font-size: 11px; width: 170px; margin: 0 auto; margin-top: 10px; }
	.guest .home .top .laptop-big { bottom: -278px; }
    
    .guest .home .middle h3 { font-size: 18px; }
    .guest .home .middle p { font-size: 14px; }

    .guest .home .bottom h3 { 
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .guest .home .bottom .process-item h4,
    .guest .home .bottom .process-item p { text-align: center; }	
}

@media (max-width: 490px) {
    .guest .home .top { padding-bottom: 240px; }
    .guest .home .top .right-heading h2 { font-size: 20px; letter-spacing: 5px; }
    .guest .home .top .right-heading h5 { font-size: 10px; letter-spacing: 5px; }
    .guest .home .top .right-heading .sign-up-btn { font-size: 10px; margin-top: 5px; height: 35px; line-height: 35px; }
    .guest .home .top .right-heading .sign-up-btn img { height: 20px; }
    .guest .home .top .right-heading .watch-video { font-size: 11px; letter-spacing: 5px; }
    .guest .home .top .laptop-big {
        width: 400px;
        height: 230px;
        left: calc(50% - 200px);
        bottom: -248px;
    }
}

@media (max-width: 446px) {
    .guest .home .top { padding-bottom: 220px; }
    .guest .home .top .right-heading h2 { font-size: 18px; letter-spacing: 4px; }
    .guest .home .top .right-heading h5 { font-size: 9px; letter-spacing: 4px; }
    .guest .home .top .right-heading .sign-up-btn { font-size: 9px; margin-top: 4px; }
    .guest .home .top .right-heading .watch-video { font-size: 10px; letter-spacing: 4px; }
    .guest .home .top .laptop-big {
        width: 366px;
        height: 210px;
        left: calc(50% - 183px);
        bottom: -227px;
    }

    .guest .home .middle h3 { font-size: 16px; }
    .guest .home .middle p { font-size: 12px; }

    .guest .home .bottom h3 { font-size: 18px; }
}

@media (max-width: 398px) {
    .guest .home .top { padding-top: 30px; padding-bottom: 200px; }
    .guest .home .top .right-heading h2 { letter-spacing: 2px; }
    .guest .home .top .right-heading h5 { letter-spacing: 2px; }
    .guest .home .top .right-heading .sign-up-btn { font-size: 8px; padding: 0 10px; }
    .guest .home .top .right-heading .watch-video { font-size: 9px; letter-spacing: 2px; }
    .guest .home .top .laptop-big {
        width: 332px;
        height: 190px;
        left: calc(50% - 166px);
        bottom: -207px;
    }
}

@media (max-width: 348px) {
    .guest .home .top { padding-bottom: 180px; }
    .guest .home .top .right-heading h2 { letter-spacing: 1px; }
    .guest .home .top .right-heading h5 { letter-spacing: 1px; }
    .guest .home .top .right-heading .sign-up-btn { font-size: 8px; }
    .guest .home .top .right-heading .watch-video { letter-spacing: 1px; }
    .guest .home .top .laptop-big {
        width: 296px;
        height: 170px;
        left: calc(50% - 148px); 
        bottom: -186px;
    }
}

.guest .explainer-video {
    width: 800px;
    height: 450px;
}





.guest .home .laptop-big .game-play {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    text-decoration: none;
    z-index: 1;
    color: #000;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
    /*color: #27A95C;
    box-shadow: 0 0 0 3px rgba(39, 169, 92, 1);*/
}
.guest .home .laptop-big .game-play:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    top: -2px;
    left: -2px;
    padding: 0;
    z-index: 10;
    /*border: 2px none #27A95C;*/
    border: 2px none #000;
}
.guest .home .laptop-big .game-play:before {
    speak: none;
    font-size: 28px;
    line-height: 60px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.guest .home .laptop-big .game-play:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    /*color: #27A95C;
    background-color: #07893C;*/
    color: #000;

    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.guest .home .laptop-big .game-play:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
    border-style: dashed;
}
.guest .home .laptop-big .game-play i.fa-play {
    margin-left: 5px;
    margin-top: 2px;
}
.guest .home .laptop-big .game-play:hover i {
    /*color: #27A95C;*/
    color: #000;
}

@-webkit-keyframes spinAround {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinAround {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* #endregion */

/* #region Transparency */
.guest .transparency { margin: 60px 0; }

/*** Header Section Styling ***/
.guest .transparency .header { margin-bottom: 60px; }

.guest .transparency .header .full-transparency {
	font-size: 28px;
    text-align: center;
}

.guest .transparency .header img {
	max-width: 100%;
	margin-bottom: 20px;
}

/*** Main Section Styling ***/
.guest .transparency .main { margin-bottom: 30px; }

.guest .transparency .main .item { margin-bottom: 40px; }

.guest .transparency .main figcaption {
	text-align: center;
	font-size: 22px;
	margin-top: 20px;
}
.guest .transparency .main .trasparency-descr {
	text-align: justify;
	font-size: 12px;
	padding: 5px;
    height: 120px;
}

/*** Footer Section Styling ***/
.guest .transparency .footer-section .we-report {
	font-size: 22px;
    text-align: center;
	width: 80%;
    background-color: white;
	padding: 30px 0 30px 0;
}

/**************** XS ********************/
@media (max-width: 767px)  {
    .guest .transparency .header .full-transparency { font-size: 24px; }
    .guest .transparency .main figcaption { font-size: 18px; }
    .guest .transparency .footer-section .we-report { font-size: 20px; }	
}

@media (max-width: 510px) { 
	.guest .transparency .header .full-transparency { font-size: 20px; }
    .guest .transparency .main img { width: 70px; }
	.guest .transparency .main figcaption { font-size: 14px; }
    .guest .transparency .footer-section .we-report { font-size: 16px; }
 }
/* #endregion */

/* #region About */
.guest .about {
	background-color: #ececec;
	padding: 60px 0 20px;
}

.guest .about .row { padding: 10px 5px; }
.guest .about h5 { font-size: 1.2em; } /* all h5 headers in page */
.guest .about .container p { margin-top: 25px; } /* all paragraphs in page */

/*** top section ***/
.guest .about .about-top { 
    /*padding-top: 50px;*/
    padding-bottom: 50px; 
}

.guest .about .about-top .zorro {
	height: 220px;
	margin-top: -20px;
}

.guest .about .about-top .to-achieve {
    padding-bottom: 20px;
}

.guest .about .about-top .spades {
	width: 70px;
	height: 70px;
	position: relative;
}
.guest .about .about-top .spades-number {
	font-weight: bold;
	width: 10px;
	position: absolute;
	top: 30%;
	left: calc(50% - 5px);
}

/*** middle section ***/
.guest .about .about-middle {
	background-color: white;
	position: relative;
    padding-bottom: 50px;
    padding-top: 20px;	
}

.guest .about .about-middle .middle-container { padding-top: 40px; }

.guest .about .about-middle .laptop {
	position: absolute;
	width: 350px;
	height: 180px;
	bottom: -169px;
	left: 100px;
	z-index: 100;	
}

/*** bottom section ***/
.guest .about .about-bottom { padding-top: 50px; }


.guest .about .about-team {
	background-color: white;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: -20px;
}

    .guest .about .legal-ev {
        font-size: x-small;
    }

/**************** MD ********************/
@media (min-width: 992px) and (max-width: 1199px) {
    .guest .about .about-middle .laptop { bottom: -189px; }    
}

/**************** XS - SM ********************/
@media (max-width: 991px) {
    .guest .about .about-top { padding-bottom: 30px; }
    .guest .about .about-top .zorro  { display: none; }
    .guest .about .about-top .to-achieve,
    .guest .about .about-top .three-principles { text-align: center; }
    .guest .about .about-top .three-principles p { padding-bottom: 30px; }

	.guest .about .about-top .background-image {
	    position: fixed;
        display: block;
		/*z-index: 1;*/
		top: 30px;
        left: 0;

		background-image: url(../../Content/Images/king.png);
		background-position: center;
		background-repeat: no-repeat;
	    -ms-background-size: 200px auto;
	    background-size: 200px auto;
		width: 100%;
		height: 350px;
				
		-webkit-filter: opacity(15%);
		-moz-filter: opacity(15%);
		-o-filter: opacity(15%);
		-ms-filter: opacity(15%);
		filter: opacity(15%);
	}

    .guest .about .about-top .idea-container { 
		position: relative;
	    /*left: 0;
	    right: 0;
	    z-index: 9999;*/
		margin-bottom: 30px;
	}

    .guest .about .about-middle { 
        padding-top: 0;
        padding-bottom: 200px;
        z-index: 2;
    }
	.guest .about .about-middle .laptop {
		left: calc(50% - 175px);
		bottom: -217px;
	}

    .guest .about .about-bottom .motivation { padding-bottom: 30px; }
	
}

@media (max-width: 767px) {
    .guest .about .about-top .idea-container h5 { text-align: center; }
    .guest .about .about-top .idea-container p { text-align: justify; }

    .guest .about .about-middle h5,
    .guest .about .about-bottom h5 { text-align: center; }

}

@media (max-width: 484px) { 
    .guest .about .about-top .background-image { top: 50px }
    .guest .about .about-top { padding-bottom: 30px; }
}

@media (max-width: 374px) { 
	.guest .about .about-top .background-image { top: 70px; }
    .guest .about .about-middle p { margin-bottom: -20px }
    .guest .about .about-middle .laptop { width: 320px; height: 160px; left: calc(50% - 160px); bottom: -216px; }
}

@media (max-width: 340px) {
    .guest .about .about-middle .laptop { width: 260px; height: 130px; left: calc(50% - 130px); bottom: -215px; }
}
/* #endregion */

/* #region FAQ / Help */
.guest .sections {
    padding: 60px 10px;
}
.guest .sections .section-group {
    margin-bottom: 20px;
}
.guest .sections .section-group .section-item {
    margin-bottom: 5px;
    position: relative;
}
.guest .sections .section-group .section-item .section-head {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 10px 20px 10px 15px;
    color: #727272;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.guest .sections .section-group .section-item .section-head:hover {
    background-color: #47C97C;
    color: #fff;
}
.guest .sections .section-group .section-item.expanded .section-head {
    color: #fff;
    background-color: #27A95C;
}
.guest .sections .section-group .section-item.expanded .section-head .text-gz {
    color: #fff;
}

.guest .sections .section-group .section-item .section-head i {
    line-height: 16px;
    transform: rotate(0deg);
    transition: all 0.4s ease 0s;
    position: absolute;
    top: 13px;
    right: 15px;
}
.guest .sections .section-group .section-item.expanded .section-head i {
    transform: rotate(90deg);
    /*transition-delay: 0.4s;*/
}
.guest .sections .section-group .section-item .section-head:hover i {
    transition: none;
}
.guest .sections .section-group .section-item.expanded .section-head:hover i {
    transition: all 0.4s ease 0s;
}

.guest .sections .section-group .section-item .section-body {
    background-color: #fff;
    padding: 0 15px;
    opacity: 0;
    max-height: 0;
    border: 1px solid #ddd;
    border-top: none;
    transition: all 0.4s ease 0s;
}
.guest .sections .section-group .section-item.expanded .section-body {
    padding: 10px 15px;
    max-height: 100vh;
    opacity: 1;
    /*transition-delay: 0.4s;*/
}
/* #endregion */

/* #region Contact */
.guest .contact .top-section { background-color: #ddd; padding-top: 100px;  }
.guest .contact .middle-section { background-color: #fff; border-bottom: 5px solid #ddd; padding-top: 65px; z-index: 2; position: relative; width: 100%; }
.guest .contact .bottom-section { background-color: #fff; }

.guest .contact .contact-content { margin-bottom: 80px; color: #27A95C;  }


.guest .contact .logo-holder { position: absolute; z-index: 3; }
.guest .contact .logo-holder .circle-bg { width: 100px; height: 100px; background-color: #fff; border-radius: 50%; box-shadow: 2px 1px 2px #707070; z-index: 5; display: block; margin: 0 auto; }
.guest .contact .logo-holder img { width: 100px; height: 100px; margin-top: -50px; }


.guest .contact .top-section .contact-content #gz-map iframe { width: 100%; }


.guest .contact .middle-section .contact-content h4 { font-size: 20px; padding-top: 20px; margin-bottom: 23px; }

.guest .contact .middle-section .contact-content .social-media { display: inline-block; }
.guest .contact .middle-section .contact-content .social-media a {
    background-color: transparent;
    font-size: 28px;
    color: #27A95C;
    display: inline-block;
    margin: 0 15px;
    letter-spacing: 10px;
    transition: all 0.5s ease;
    bottom: 0;
    position: relative;
}
.guest .contact .middle-section .contact-content .social-media a:hover { bottom: 5px; }

.guest .contact .middle-section .contact-content .contact-info p { font-size: 20px; padding-top: 10px; line-height: 1 }

.guest .contact .middle-section .contact-content .contact-info a { color: #29A95C; position: relative; bottom: 0; transition: all 0.5s ease; }
.guest .contact .middle-section .contact-content .contact-info a:hover { text-decoration: none; }


.guest .contact .bottom-section .contact-content .contact-bottom { background-color: #fff; padding-bottom: 60px; }

.guest .contact .bottom-section .contact-content .contact-bottom  h3 { margin-top: 100px; margin-bottom: 50px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control::-webkit-input-placeholder { color: #27A95C; font-size: 16px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control:-moz-placeholder { color: #27A95C; font-size: 16px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control::-moz-placeholder  { color: #27A95C; font-size: 16px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control:-ms-input-placeholder { color: #27A95C; font-size: 16px; }

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group { font-size: 16px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group .form-control { 
    font-size: 16px;
    border: 0; 
    border-bottom: 1px solid #27A95C; 
    background-color: transparent;
    padding: 0;
    color: #27A95C;
    border-style: solid;   
    box-shadow: inset 0px 0px 0px 0px;
    margin-top: 10px;
}

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card { 
    border: 1px solid #27A95C;
    padding: 10px; 
    margin: 20px 0;
}

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card .form-group textarea { 
    background-image: linear-gradient(rgba(39, 169, 92, .5) .1em,transparent .1em); 
    background-size: 100% 20px;
    border: none!important;
    margin-top: 10px;
    max-width: 688px;
    min-width: 688px;
    line-height: 20px;
}

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .recaptcha-wrap { margin-left: -15px; margin-top: 10px; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .btn-gz { margin-top: 30px; margin-left: -17px; width: 105%; }

.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group input.ng-invalid.ng-touched { border-bottom: 1px solid red; }
.guest .contact .bottom-section .contact-content .contact-bottom .contact-form .form-group span { color: red; font-size: 12px; }

@media (min-width: 768px) and (max-width: 1199px) {
    .guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card .form-group textarea { max-width: 550px; min-width: 550px; }
}

@media (max-width: 991px) {
    .guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card .form-group textarea { max-width: 638px; }
}

@media (max-width: 767px) {
    .guest .contact .middle-section .contact-content .social-media h4,
    .guest .contact .middle-section .contact-content .social-media a,
    .guest .contact .middle-section .contact-content .contact-info h4,
    .guest .contact .middle-section .contact-content .contact-info a,
    .guest .contact .middle-section .contact-content .contact-info p { font-size: 18px; }

    .guest .contact .bottom-section .contact-content .contact-bottom .contact-form .message-card .form-group textarea { max-width: 100%; min-width: 100%; }
    .guest .contact .bottom-section .contact-content .contact-bottom .contact-form .btn-gz {        
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }
}
/* #endregion */

/* #region Privacy Policy*/
.guest .privacy {
    padding: 60px 0;
}
.guest .privacy p {
    text-align: justify;
}
.guest .privacy h4 button {
    font-size: 12px;
    margin: -3px 0 7px 0;
    height: 24px;
    line-height: 24px;
    float: right;
}
@media (max-width: 767px) {
    .guest .privacy h4 {
        text-align: center;
    }
    .guest .privacy h4 button {
        margin: 10px 0;
        width: 100%;
        float: none;
    }
}
/* #endregion */

/* #region Terms & Conditions*/
.guest .terms {
    padding: 60px 0;
}
.guest .terms p {
    text-align: justify;
}
.guest .terms h4 button {
    font-size: 12px;
    margin: -3px 0 7px 0;
    height: 24px;
    line-height: 24px;
    float: right;
}
@media (max-width: 767px) {
    .guest .terms h4 {
        text-align: center;
    }
    .guest .terms h4 button {
        margin: 10px 0;
        width: 100%;
        float: none;
    }
}

.terms ol, .terms ul {
    margin-left: 20px;
}
.terms > ol, .terms > ul, .terms ol.alpha {
    margin-left: 0;
}

.terms ol.alpha {
    counter-reset: list;
}
.terms ol.alpha > li {
    list-style: none;
    counter-increment: inherit;
}
.terms ol.alpha > li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
}

.terms .general-terms {
    margin-left: -20px;
}
.terms .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}
.guest .terms .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.msg-body .terms > ol, .msg-body .terms > ul, .msg-body .terms ol.alpha {
    margin-left: 20px;
}
.msg-body .terms a {
    color: #fff !important;
}
/* #endregion */

/* #region Promotions */
.guest .promotions {
    padding: 60px 0;
}
.guest .promotions a {
    text-decoration: none;
    color: #000;
}

.guest .promotion {
    padding: 60px 0;
}
/* #endregion */

/* #region Responsible Gambling */
.guest .responsible-gambling {
    padding: 60px 0;
}
/* #endregion */

