<div class="clearfix guest">
    <div class="home">
        <section class="top">
            <div class="container">
                <img class="laptop-big" src="../../Content/Images/mac.png" />
                <div class="row">
                    <div class="col-xs-12 col-xs-pull-6 col-md-push-1 col-md-offset-6 col-md-6 right-heading">
                        <h2>Online casino.</h2>
                        <h2>Keep your winnings.</h2>
                        <h2>Benefit from your losses.</h2>
                        <h5>Fair | Transparent | Secure</h5>

                        <button type="button" class="btn-gz sign-up-btn" ng-mouseover="signUpHovered = true;" ng-mouseleave="signUpHovered = false;" ng-click="signup()">
                            <img ng-show="!signUpHovered" src="../../Content/Images/games.svg" />
                            <img ng-show="signUpHovered" src="../../Content/Images/games_white.svg" />
                            <span>sign up and play</span>
                        </button>
                        <!--<a class="watch-video" ng-click="watchVideo()"><span class="glyphicon glyphicon-play"></span> Watch Video</a>-->
                    </div>
                </div>
            </div>
        </section>

        <!--<section class="middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="prompt">Say hello to the future of online gambling:</div>
                        <p>
                            <span class="text-gz"><b>greenzorro</b></span> is a casino platform that offers all the upside of winning,
                            but partially protects players from the downside by allowing them to
                            benefit from their losses. <span class="text-gz"><b>greenzorro</b></span> returns back 50% of players' net
                            losses as a bonus, payable after 3 months. <span class="text-gz"><b>greenzorro</b></span> invests players'
                            bonus for 3 months to increase its value.
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <div class="prompt">To achieve the highest possible return of losses to users, we:</div>
                        <p>
                            <img src="../../Content/Images/Gfalling-cube.png" />
                            <span>Minimize costs by eliminating unnecessary expenses</span>
                        </p>
                        <p>
                            <img src="../../Content/Images/Gfalling-cube.png" />
                            <span>Maximize investments returns through a diversified investments strategy</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>-->
        <section class="middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="prompt">If you are an online casino player, greenzorro is your hero</div>
                        <ul>
                            <li>Online casino with all popular games</li>
                            <li>Allocates part of players' net losses to professionally managed investment products</li>
                            <li>Grows investment value and returns to players as bonus</li>
                        </ul>
                    </div>

                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="prompt">Your benefits</div>
                        <ul>
                            <li>50% of your net loss invested at the end of each month</li>
                            <li>Receive net loss & investment returns as a bonus post 3 months</li>
                            <li>Retain upside of winnings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--<section class="bottom">
            <div class="container">
                <h3>THE PROCESS</h3>
                <div classs="row">
                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4 col-md-offset-0 col-md-3 process-item">
                        <h4>1. Sign up</h4>
                        <img src="../../Content/Images/signup.svg" />
                        <p>Complete <span class="text-gz"><b>greenzorro</b></span> sign up opening process to start playing</p>
                    </div>

                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-3 process-item">
                        <h4>2. Play</h4>
                        <img src="../../Content/Images/play.svg" />
                        <p><span class="text-gz"><b>greenzorro</b></span> features all popular real money Casino games</p>
                    </div>
                    <div class="col-sm-1 visible-sm"><p></p></div>

                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-3 process-item">
                        <h4>3. Sum</h4>
                        <img src="../../Content/Images/sum.svg" />
                        <p>At the end of each month, <span class="text-gz"><b>greenzorro</b></span> transfers your net losses (if any) minus operating costs to your investment account</p>
                    </div>

                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-3 process-item">
                        <h4>4. Invest</h4>
                        <img src="../../Content/Images/invest_main.svg" />
                        <p><span class="text-gz"><b>greenzorro</b></span> allocates players' bonus in one of three portfolios according to your risk appetite</p>
                    </div>
                    <div class="col-sm-1 visible-sm"><p></p></div>

                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-3 process-item">
                        <h4>5. Withdraw bonus</h4>
                        <img src="../../Content/Images/exit.svg" />
                        <p>Withdraw bonus (post 3 months) and the amount will be credited in your gaming account; after crediting your account, you can withdraw the funds  instantly if you choose so.</p>
                    </div>

                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-3 process-item">
                        <h4>6. Receive</h4>
                        <img src="../../Content/Images/receive.svg" />
                        <p>Receive cleared funds within 3-5 working days from exit</p>
                    </div>
                    <div class="col-sm-1 visible-sm"><p></p></div>
                </div>
            </div>
        </section>-->
        <section class="bottom">
            <div class="container">
                <h3>THE PROCESS</h3>
                <div classs="row">
                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-3 process-item">
                        <h4>1. Sign up</h4>
                        <img src="../../Content/Images/signup.svg" />
                        <p>Complete <span class="text-gz"><b>greenzorro</b></span> sign up opening process to start playing</p>
                    </div>

                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-3 process-item">
                        <h4>2. Play</h4>
                        <img src="../../Content/Images/play.svg" />
                        <p><span class="text-gz"><b>greenzorro</b></span> features all popular real money Casino games</p>
                    </div>

                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-3 process-item">
                        <h4>3. Select investement</h4>
                        <img src="../../Content/Images/sum.svg" />
                        <p>At the end of each month, select where to invest the 50% of your net loss</p>
                    </div>

                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-3 process-item">
                        <h4>4. Withdraw bonus</h4>
                        <img src="../../Content/Images/exit.svg" />
                        <p>Withdraw bonus (post 3 months) and funds will be tranferred within 1 day to your account</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
