<div class="clearfix guest">
    <div>
        <h4><u>Playground</u></h4>
        <h6 style="margin-top: 20px;">Account</h6>
        <div>
            <button type="button" class="btn-gz" ng-click="challenge()">Challenge</button>
            <button type="button" class="btn-gz" ng-click="registerAccount()">Register Account</button>
            <button type="button" class="btn-gz" ng-click="registerDetails()">Register Details</button>
            <button type="button" class="btn-gz" ng-click="selectPayment()">Select Payment Method</button>
            <button type="button" class="btn-gz" ng-click="login()">Login</button>
            <button type="button" class="btn-gz" ng-click="logout()">Logout</button>
            <button type="button" class="btn-gz" ng-click="forgot()">Forgot</button>
            <button type="button" class="btn-gz" ng-click="reset()">Reset</button>
            <button type="button" class="btn-gz" ng-click="change()">Change</button>
            <button type="button" class="btn-gz" ng-click="responsibleGaming()">Responsible Gaming</button>
        </div>
        <h6 style="margin-top: 20px;">Messages</h6>
        <div>
            <button type="button" class="btn-gz" ng-click="modal()">Modal</button>
            <button type="button" class="btn-gz" ng-click="notify()">Notify</button>
            <button type="button" class="btn-gz" ng-click="toastr()">Toastr</button>
            <button type="button" class="btn-gz" ng-click="error()">Error</button>
            <button type="button" class="btn-gz" ng-click="success()">Success</button>
            <button type="button" class="btn-gz" ng-click="warning()">Warning</button>
            <button type="button" class="btn-gz" ng-click="info()">Info</button>
        </div>
        <h6 style="margin-top: 20px;">Various</h6>
        <div>
            <button type="button" class="btn-gz" ng-click="showChat()">Show Chat</button>
            <button type="button" class="btn-gz" ng-click="hideChat()">Hide Chat</button>
            <button type="button" class="btn-gz" ng-click="minChat()">Min Chat</button>
            <button type="button" class="btn-gz" ng-click="maxChat()">Max Chat</button>
            <button type="button" class="btn-gz" ng-click="isMinChat()">Is Min Chat</button>
            <button type="button" class="btn-gz" ng-click="isMaxChat()">Is Max Chat</button>
            <button type="button" class="btn-gz" ng-click="url()">Base Url</button>
            <button type="button" class="btn-gz" ng-click="video()">Video</button>
            <button type="button" class="btn-gz" ng-click="currentRoute()">Check Current Path</button>
        </div>
        <h6 style="margin-top: 20px;">Withdraw</h6>
        <div>
            <button type="button" class="btn-gz" ng-click="getPaymentMethods()">getPaymentMethods()</button>
            <button type="button" class="btn-gz" ng-click="getPaymentMethodCfg()">getPaymentMethodCfg()</button>
            <pre>
            {{result | json}}
        </pre>
        </div>
    </div>
</div>
