<div class="values">
    <div class="col-xs-8 col-sm-5 value-container text-center">
        <div class="value monthly-bouns">
            <span class="value-label">Monthly Bonus Invested:</span>
            <span class="value-data">
                {{monthlyContribution | isoCurrency : gzCurrency : 0}}
                <span class="value-spinners">
                    <img class="value-spinner up-spinner" src="../../Content/Images/Investment Icons/up_arrow.svg" ng-click="increaseMonthlyBonus()" />
                    <img class="value-spinner down-spinner" src="../../Content/Images/Investment Icons/down_arrow.svg" ng-click="decreaseMonthlyBonus()" />
                </span>
            </span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-2 value-container text-center">
        <div class="value years">
            <span class="value-label">Years:</span>
            <span class="value-data">
                {{getYear() | number : 1}}
                <span class="value-spinners">
                    <img class="value-spinner up-spinner" src="../../Content/Images/Investment Icons/up_arrow.svg" ng-click="increaseYear()" />
                    <img class="value-spinner down-spinner" src="../../Content/Images/Investment Icons/down_arrow.svg" ng-click="decreaseYear()" />
                </span>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 value-container text-center">
        <div class="value projected-value">
            <img class="pull-left" src="../../Content/Images/Investment Icons/white_arrow.svg" />
            <span class="value-label">Projected Value</span>
            <span class="value-data value-bold">{{getProjectedValue() | isoCurrency : gzCurrency : 0}}</span>
        </div>
    </div>
</div>
<div class="plans clearfix">
    <div class="col-xs-12 col-sm-4 plan-container text-center" ng-repeat="plan in plans">
        <div class="plan" ng-class="{'selected':plan.Selected}" ng-click="selectPlan(plan)" ng-style="{
                 'color': plan.Selected ? '#ffffff' : plan.Color,
                 'border-color': plan.Color,
                 'background-color': plan.Selected ? plan.Color : 'transparent'
             }">
            <div class="plan-title">{{plan.Title}}</div>
            <div class="plan-roi">(%{{plan.ROI | number : 2}})</div>
            <div class="plan-check" ng-style="{ 'color': plan.Selected ? plan.Color : 'transparent' }">
                <i class="fa fa-lg fa-check"></i>
            </div>
        </div>
    </div>
</div>
<div class="graph clearfix">
    <div class="prompt">
        Drag and slide to check portfolio performance
    </div>
    <div class="col-xs-12 canvas-container">
        <div id="canvas"></div>
    </div>
</div>


