<div class="clearfix investments">
    <div class="container">
        <div class="portfolio">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <div class="invest-prompt">
                            Select the plan to allocate your next month's investment bonus
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-6 col-lg-push-3">
                    <div class="portfolio-section portfolio-plans">
                        <div class="row header">
                            <div class="col-xs-4"><div>Plan</div></div>
                            <div class="col-xs-4"><div>Current Balance</div></div>
                            <div class="col-xs-4"><div>Selection</div></div>
                        </div>
                        <div class="row plan" ng-class="{'expanded': plan.expanded}" ng-repeat="plan in model.Plans">
                            <div class="basic" ng-class="{'selected': plan.Selected}" ng-style="{color: plan.Color}">
                                <div class="col-xs-4">
                                    <div class="title text-left">{{plan.Title}}</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="balance text-center">{{plan.AllocatedAmount | isoCurrency : currency : 0}}</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="selection text-right">
                                        <button type="button" ng-disabled="plan.Selected" ng-click="selectPlan(plan)" ng-mouseenter="plan.selectHovered = true" ng-mouseleave="plan.selectHovered = false">
                                            <span ng-show="plan.Selected">
                                                <span>Selected</span>
                                                <i class="fa fa-lg fa-check-circle"></i>
                                            </span>
                                            <span ng-show="!plan.Selected">
                                                <span ng-show="plan.selecting && !plan.selectHovered" class="spinner" us-spinner="spinnerGreen"></span>
                                                <span ng-show="plan.selecting && plan.selectHovered" class="spinner" us-spinner="spinnerWhite"></span>
                                                <span ng-show="!plan.selecting">Select</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <img src="../../Content/Images/open.svg" alt="Expand/Collapse" ng-click="plan.expanded = !plan.expanded" />
                            </div>
                            <div class="details">
                                <div class="row heading">
                                    <div class="col-xs-7 text-left">
                                        <div><u>Holding Name</u></div>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <div><u>Port. Weight</u></div>
                                    </div>
                                </div>
                                <div class="row holding" ng-repeat="holding in plan.Holdings">
                                    <div class="col-xs-7 text-left">
                                        <div class="holding-name">{{holding.Name}}</div>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <div class="holding-weight">{{holding.Weight | number : 2}}%</div>
                                    </div>
                                </div>
                                <div class="row expected-roi">
                                    <div class="col-xs-7 text-left">
                                        <div>Expected annual Return on Investment</div>
                                    </div>
                                    <div class="col-xs-5 text-right expected-roi-percent">
                                        <div>{{plan.ROI | number : 2}}%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 col-lg-pull-6">
                    <div class="portfolio-section next-investment text-center">
                        <div class="side-box">
                            <div class="side-box-section side-box-top">
                                <div class="next-investment-label">Next expected investment:</div>
                            </div>
                            <div class="side-box-section side-box-middle">
                                <div class="next-investment-balance">{{model.NextExpectedInvestment | isoCurrency : currency : 0}}</div>
                            </div>
                            <div class="side-box-section side-box-bottom">
                                <div class="next-investment-on">on</div>
                                <div class="next-investment-date">{{model.NextInvestmentOn | ordinalDate : 'MMMM d'}}</div>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                             x="0px" y="0px" width="64px" height="240px" viewBox="0 -1.5 64 185.25" enable-background="new 0 -1.5 64 185.25"
                             class="visible-lg" ng-class="{'hide': thereIsExpanded()}">
                            <path sketch:type="MSShapeGroup" fill="none" stroke="#CCCCCC" d="M0.391,91.32h36" />
                            <polyline fill="none" stroke="#CCCCCC" points="36,0 24.892,0 24.892,182.641 36,182.641 " />
                            <polyline ng-show="model.SelectedIndex === 0" fill="none" stroke="#27A95C" stroke-width="3" points="36,0 24.892,0 24.892,91.32 0.391,91.32 " />
                            <polyline ng-show="model.SelectedIndex === 1" fill="none" stroke="#27A95C" stroke-width="3" points="36,91.32 0.391,91.32 " />
                            <polyline ng-show="model.SelectedIndex === 2" fill="none" stroke="#27A95C" stroke-width="3" points="36,182.641 24.892,182.641 24.892,91.32 0.391,91.32 " />
        				</svg>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="portfolio-section current-portfolio">
                        <div class="side-box">
                            <div id="portfolio-chart" ng-if="model" gz-plans-allocation-chart gz-plans="model.Plans" gz-investment-amount="model.NextExpectedInvestment" gz-currency="{{currency}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



