<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Configuration" version="0.6.4" targetFramework="net462" />
  <package id="FSharp.Core" version="4.0.1.5" targetFramework="net462" />
  <package id="FsUnit" version="2.3.2" targetFramework="net462" />
  <package id="MailSystem.NET" version="2.0.1" targetFramework="net462" />
  <package id="NUnit" version="3.5.0" targetFramework="net462" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net462" />
</packages>